<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.file.FileMapper">

    <select id="findByAtchFileIdAndUseAt">
        /* com.biz.framework.mapper.file.FileMapper.findByAtchFileIdAndUseAt */
        SELECT CO_CODE
             , ATCH_FILE_ID
             , FILE_SN
             , FILE_EXTSN
             , FILE_SIZE
             , FILE_STRE_COURS
             , ORIGINAL_FILE_NM
             , STRE_FILE_NM
             , USE_AT
          FROM TB_FILE
         WHERE CO_CODE          = #{loginCoId}
           AND ATCH_FILE_ID     = #{atchFileId}
           AND USE_AT           = #{useAt}
    </select>

    <select id="findByATchfileIdAndFileSnAndUseAt">
        /* com.biz.framework.mapper.file.FileMapper.findByATchfileIdAndFileSnAndUseAt */
        SELECT CO_CODE
             , ATCH_FILE_ID
             , FILE_SN
             , FILE_EXTSN
             , FILE_SIZE
             , FILE_STRE_COURS
             , ORIGINAL_FILE_NM
             , STRE_FILE_NM
             , USE_AT
        FROM TB_FILE
        WHERE CO_CODE          = #{loginCoId}
          AND FILE_SN          = #{fileSn}
          AND ATCH_FILE_ID     = #{atchFileId}
          AND USE_AT           = #{useAt}
    </select>

    <insert id="saveFile" parameterType="com.biz.framework.file.FileDto">
        /* com.biz.framework.file.FileMapper.saveFile */
        INSERT INTO TB_FILE
        (
            CO_CODE
            , ATCH_FILE_ID
            , FILE_SN
            , FILE_EXTSN
            , FILE_SIZE
            , FILE_STRE_COURS
            , ORIGINAL_FILE_NM
            , STRE_FILE_NM
            , USE_AT
            , CREATED_DATE
        ) VALUES
        (
            #{loginCoId}
            , #{atchFileId}
            , #{fileSn}
            , #{fileExtsn}
            , #{fileSize}
            , #{fileStreCours}
            , #{originalFileNm}
            , #{streFileNm}
            , #{useAt}
            , DATE_FORMAT(NOW(), '%Y-%m-%d %H:%i:%s')
        )
    </insert>

    <update id="updateUseAtByFileIdAndFileSn">
        /* com.biz.framework.file.FileMapper.updateUseAtByFileIdAndFileSn */
        UPDATE TB_FILE
           SET USE_AT           = #{useAt}
         WHERE CO_CODE          = #{loginCoId}
           AND FILE_SN          = #{fileSn}
           AND ATCH_FILE_ID     = #{atchFileId}
    </update>

    <delete id="removeFile">
        /* com.biz.framework.file.FileMapper.removeFile */
        DELETE FROM TB_FILE
        WHERE CO_CODE       = #{loginCoId}
          AND ATCH_FILE_ID  = #{atchFileId}
          AND FILE_SN       = #{fileSn}
    </delete>
</mapper>
