<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">


<div layout:fragment="content">
            
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>사용자 권한등록</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">시스템</li>
                        <li class="breadcrumb-item">권한관리</li>
                        <li class="breadcrumb-item active" aria-current="page">사용자 권한등록</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section id="horizontal-input">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body" id="searchForm">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-2 col-3">
                                        <label class="col-form-label" for="first-name">권한명</label>
                                    </div>
                                    <div class="col-lg-10 col-9">
                                        <input type="text" id="first-name" class="form-control form-control-sm" name="fname"
                                               placeholder="권한명">
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="col-md-6">
                                <div class="form-group row align-items-center">
                                    <div class="col-lg-2 col-3">
                                        <label class="col-form-label" for="last-name">소속</label>
                                    </div>
                                    <div class="col-lg-10 col-9">
                                        <input type="text" id="last-name" class="form-control form-control-sm" name="fname"
                                               placeholder="Last Name">
                                    </div>
                                </div>
                            </div> -->
                            <a href="#" class="btn btn-primary" id="searchBtn">조회</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row" id="basic-table">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">권한목록</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" style="width: 100%;">
                            <div class="d-flex" style="gap: 5px; padding-bottom: 5px; padding-top: 0;">
                                <!-- 빈 div로 버튼 자리 확보 -->
                                <div style="height: 32px;"></div>
                            </div>
                        </div>
                        <div id="roleGrid"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">권한에 등록된 프로그램</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" style="width: 100%;">
                            <div class="d-flex" style="gap: 5px; padding-bottom: 5px; padding-top: 0;">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#userModal">추가</button>
                                <button type="button" class="btn btn-primary btn-sm" id="btnSaveProgramGrid">저장</button>
                                <button type="button" class="btn btn-danger btn-sm" id="btnDeleteProgramGrid">삭제</button>
                            </div>
                        </div>
                        <div id="programGrid"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- User Modal -->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">프로그램 목록
                    </h5>
                    <button type="button" class="close" data-bs-dismiss="modal"
                            aria-label="Close">
                        <i data-feather="x"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="#" class="d-flex align-items-center justify-content-between mb-4">
                        <div class="d-flex align-items-center flex-grow-1 me-3">
                            <label for="mp_modal_userNm" class="mb-0 me-2"></label>
                            <input id="mp_modal_userNm" type="text" placeholder="프로그램url 혹은 프로그램명" class="form-control">
                        </div>
                        <button type="button" class="btn btn-primary">
                            <i class="bx bx-check d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">조회</span>
                        </button>
                    </form>
                    <div id="pgmPopGrid"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary"
                            data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">닫기</span>
                    </button>
                    <button type="button" class="btn btn-primary ms-1" id="modalAcceptBtn">
                        <i class="bx bx-check d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">적용</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript">

    const apiUrl = '/api/system/roles/role_program';

    let roleGrid;
    let programGrid;
    let pgmPopGrid;

    $(document).ready(function() {
        initEvent();
        initRoleGrid();
        initPgmGrid();
        initPgmPopGrid();
    });

    const initEvent = () => {
        $("#btnSaveProgramGrid").on('click', fn_saveProgramGrid);
        $("#btnDeleteProgramGrid").on('click', fn_deleteProgramGrid);

        $("#searchBtn").on('click', searchRoleGrid);

        // modal
        $('#userModal').off('shown.bs.modal').on('shown.bs.modal', openPgmModal); // 모달이 완전히 열린 후 이벤트 발생
        $("#modalAcceptBtn").on('click', modalAcceptBtn);
    }

    const initRoleGrid = () => {
        const Grid = tui.Grid;

        roleGrid = new Grid({
            el: document.getElementById('roleGrid'),
            columns: [
                {
                    header: '권한ID',
                    name: 'roleId',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    width: 10
                    // hidden: true
                },
                {
                    header: '권한명',
                    name: 'roleNm',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
                {
                    header: '비고',
                    name: 'roleDesc',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
            ],
            bodyHeight: 500,
            // rowHeaders: ['rowNum', 'checkbox']
        });

        roleGrid.on('click', (ev) => {
            let value = roleGrid.getRow(ev.rowKey);
            if (!isNull(value)) {
                searchPgmGrid(value);
            }
        })

    }

    const initPgmGrid = () => {
        const Grid = tui.Grid;

        programGrid = new Grid({
            el: document.getElementById('programGrid'),
            columns: [
                {
                    header: '권한ID',
                    name: 'roleId',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    //hidden: true
                },
                {
                    header: '프로그램ID',
                    name: 'roleId',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    hidden: true
                },
                {
                    header: '프로그램URL',
                    name: 'programUrl',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    // hidden: true
                },
                {
                    header: '프로그램명',
                    name: 'programNm',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                }
            ],
            bodyHeight: 500,
            rowHeaders: ['rowNum', 'checkbox']
        });

        searchRoleGrid();
    }

    const initPgmPopGrid = () => {
        const Grid = tui.Grid;

        pgmPopGrid = new Grid({
            el: document.getElementById('pgmPopGrid'),
            columns: [
                {
                    header: '프로그램ID',
                    name: 'programId',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    // hidden: true
                },
                {
                    header: '프로그램URL',
                    name: 'programUrl',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
                {
                    header: '프로그램명',
                    name: 'programNm',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                }
            ],
            bodyHeight: 500,
            rowHeaders: ['rowNum', 'checkbox']
        });
    }

    const modalAcceptBtn = () => {
        const roleFocusedCell = roleGrid.getFocusedCell();
        const roleFocusRowData = roleGrid.getRow(roleFocusedCell.rowKey);
        if (isNull(roleFocusRowData)) {
            alert("권한목록을 선택해 주세요.");
            return;
        }
        const checkedRows = pgmPopGrid.getCheckedRows();

        let rowDataList = [];
        checkedRows.forEach((el) => {
            let obj = {};
            obj.roleId = roleFocusRowData.roleId;
            obj.programId = el.programId;
            obj.programUrl = el.programUrl;
            obj.programNm = el.programNm;
            rowDataList.push(obj);
        })
        programGrid.appendRows(rowDataList, {});

        $('#userModal').modal('hide'); // jQuery 사용 시
    }

    const searchRoleGrid = () => {
        programGrid.clear();

        const param = {
            menuNm : $("#first-name").val()
        };

        $.ajax({
            url: apiUrl,
            data: param,
            type: 'GET',
            success: (result) => {
                roleGrid.resetData(result);
            },
            error: (xhr, status, error) => {
                alert("권한목록 조회에 실패하였습니다.");
            }
        });
    }

    const searchPgmGrid = (param) => {
        let params = {
            roleId : param.roleId
        };

        $.ajax({
            url: apiUrl +"/program",
            data:params,
            type: 'GET',
            success: (result) => {
                programGrid.resetData(result);
            }
        })
    }

    const openPgmModal = () => {
        pgmPopGrid.clear();
        pgmPopGrid.refreshLayout();

        const param = {
            userNm : $("#mp_modal_userNm").val()
        };

        $.ajax({
            url: apiUrl + "/program/list",
            data: param,
            type: 'GET',
            success: (result) => {
                pgmPopGrid.resetData(result);
            },
            error: (xhr, status, error) => {
                alert("프로그램 목록 조회에 실패하였습니다.");
            }
        });
    }

    const fn_appendProgramGrid = () => {
        const upMenuFocusedCell = roleGrid.getFocusedCell();
        const upProgramGridData = roleGrid.getRow(upMenuFocusedCell.rowKey);

        const rowData = {menuNm: "", menuId: "", menuSrtOrd: "", menuUpId: upProgramGridData.menuId};
                
        programGrid.appendRow(rowData, {});
    }

    const fn_saveProgramGrid = () => {
        const upMenuFocusedCell = roleGrid.getFocusedCell();
        const upMenuFocusData = roleGrid.getRow(upMenuFocusedCell.rowKey);

        let modifiedData = programGrid.getModifiedRows();
        const createdData = modifiedData.createdRows;
        const updatedData = modifiedData.updatedRows;

        const createdLength = !isNull(createdData.length) ? createdData.length : 0;
        const updatedLength = !isNull(updatedData.length) ? updatedData.length : 0;

        const result = confirm("총 " + (createdLength + updatedLength) + "건의 데이터를 저장하시겠습니까?");

        let params = [];
        for (let i = 0; i < createdData.length; i++) {
            createdData[i].rowStatus = 'C';
            params.push(createdData[i]);
        }

        for (let i = 0; i < updatedData.length; i++) {
            updatedData[i].rowStatus = 'U';
            params.push(updatedData[i]);
        }

        if (result) {
            $.ajax({
                url: apiUrl + "/program/save",
                data: JSON.stringify(params),
                contentType:'application/json',
                type: 'POST',
                success: (result) => {
                    if (result > 0) {
                        alert("저장이 완료되었습니다.");
                        searchPgmGrid(upMenuFocusData);
                    } else {
                        alert("저장에 실패하였습니다.");
                        searchPgmGrid(upMenuFocusData);
                    }
                }, error: (xhr, status, error) => {
                    alert(xhr.responseText);
                    searchPgmGrid(upMenuFocusData);
                }
            })
        }
    }

    const fn_deleteProgramGrid = () => {
        const upMenuFocusedCell = roleGrid.getFocusedCell();
        const upMenuFocusData = roleGrid.getRow(upMenuFocusedCell.rowKey);

        const checkedRows = programGrid.getCheckedRows();

        if (checkedRows.length <=0 ) {
            alert("삭제할 행을 선택해주세요.");
            return;
        }

        const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
        if (confirmResult) {
            $.ajax({
                url: apiUrl + "/program/delete",
                data: JSON.stringify(checkedRows),
                contentType:'application/json',
                type: 'DELETE',
                success: (result) => {
                    if (result > 0) {
                        alert("삭제가 완료되었습니다.");
                        searchPgmGrid(upMenuFocusData);
                    } else {
                        alert("삭제에 실패하였습니다.");
                        searchPgmGrid(upMenuFocusData);
                    }
                },
                error: (xhr, status, error) => {
                    alert(xhr.responseText);
                    searchPgmGrid(upMenuFocusData);
                }
            })
        }
    }

</script>
</div>

</html>