<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/configlayout :: configFragment}"></head>
<body>
    <div id="app">
        <th:block th:replace="~{layout/sidelayout :: sideFragment}"></th:block>
        <div id="main">
            <th:block th:replace="~{layout/headerlayout :: headerFragment}"></th:block>
            <div class="main-body">

            </div>
        </div>
    </div>
    <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function() {

            const _onLoadPage = "[[${loadPage}]]";
            console.log("#3 _onLoadPage ##", _onLoadPage);
            let franmeName = null;

            let url = new URL(_onLoadPage, location.origin);

            const iframeEl = document.createElement('iframe');
            iframeEl.style.width = '100%';
            iframeEl.style.height = '500px';
            iframeEl.style.border = 'none'; // 스크롤에 영향을 줄 수 있는 보더 제거
            iframeEl.src = url;

            const mainBody = document.querySelector('.main-body');
            mainBody.appendChild(iframeEl);

            iframeEl.addEventListener('load', function() {
                // _pageLoaded = true;
                // $('#content-loading').hide();
                console.log("main iframe loading 완료!");
                //메인페이지 iframe height 조절 시점 변경
                iframeEl.style.height = document.body.scrollHeight +"px";

                // 메인페이지로 이동하는 경우 height 조절 시점 변경
                // console.log("## body.querySelector('iframe').contentWindow ##", document.body.querySelector('iframe').contentWindow);
                // const insideIframe = document.body.querySelector('iframe').contentWindow.document.querySelector("body > .page-content").scrollHeight;
                // if (parseInt(insideIframe) >= parseInt(document.body.scrollHeight)) {
                //     iframeEl.style.height = insideIframe +"px";
                // }
            });
        })
    </script>

    <th:block th:replace="~{layout/footerlayout :: footerFragment}"></th:block>
</body>
</html>