<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">

<th:block th:fragment="sideFragment">
    <div id="sidebar">
        <div class="sidebar-wrapper active">
            <div class="sidebar-header position-relative" style="background-color: #435ebe; color: white">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- 로고 -->
                    <div class="logo">
                        <a th:href="@{/}" style="text-decoration: none; display: inline-flex; align-items: center; color: white;">
                            <span class="material-icons" style="font-size: 36px;">home</span>
                        </a>
                    </div>
                    <a href="#" sec:authorize="isAuthenticated()" th:href="@{/logout}"
                       class="btn btn-logout d-flex align-items-center justify-content-center"
                       style="padding: 0.4rem 0.6rem; font-size: 0.85rem; text-decoration: none; color: white; background-color: #435ebe; border-radius: 5px; transition: all 0.3s ease;">
                        <span class="material-icons" style="font-size: 16px; margin-right: 5px;">logout</span> 로그아웃
                    </a>
<!--                    <div class="theme-toggle d-flex gap-2  align-items-center mt-2">-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify&#45;&#45;system-uicons" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 21 21">-->
<!--                            <g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round">-->
<!--                                <path d="M10.5 14.5c2.219 0 4-1.763 4-3.982a4.003 4.003 0 0 0-4-4.018c-2.219 0-4 1.781-4 4c0 2.219 1.781 4 4 4zM4.136 4.136L5.55 5.55m9.9 9.9l1.414 1.414M1.5 10.5h2m14 0h2M4.135 16.863L5.55 15.45m9.899-9.9l1.414-1.415M10.5 19.5v-2m0-14v-2" opacity=".3"></path>-->
<!--                                <g transform="translate(-210 -1)">-->
<!--                                    <path d="M220.5 2.5v2m6.5.5l-1.5 1.5"></path>-->
<!--                                    <circle cx="220.5" cy="11.5" r="4"></circle>-->
<!--                                    <path d="m214 5l1.5 1.5m5 14v-2m6.5-.5l-1.5-1.5M214 18l1.5-1.5m-4-5h2m14 0h2"></path>-->
<!--                                </g>-->
<!--                            </g>-->
<!--                        </svg>-->
<!--                        <div class="form-check form-switch fs-6">-->
<!--                            <input class="form-check-input  me-0" type="checkbox" id="toggle-dark" style="cursor: pointer">-->
<!--                            <label class="form-check-label"></label>-->
<!--                        </div>-->
<!--                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" class="iconify iconify&#45;&#45;mdi" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">-->
<!--                            <path fill="currentColor" d="m17.75 4.09l-2.53 1.94l.91 3.06l-2.63-1.81l-2.63 1.81l.91-3.06l-2.53-1.94L12.44 4l1.06-3l1.06 3l3.19.09m3.5 6.91l-1.64 1.25l.59 1.98l-1.7-1.17l-1.7 1.17l.59-1.98L15.75 11l2.06-.05L18.5 9l.69 1.95l2.06.05m-2.28 4.95c.83-.08 1.72 1.1 1.19 1.85c-.32.45-.66.87-1.08 1.27C15.17 23 8.84 23 4.94 19.07c-3.91-3.9-3.91-10.24 0-14.14c.4-.4.82-.76 1.27-1.08c.75-.53 1.93.36 1.85 1.19c-.27 2.86.69 5.83 2.89 8.02a9.96 9.96 0 0 0 8.02 2.89m-1.64 2.02a12.08 12.08 0 0 1-7.8-3.47c-2.17-2.19-3.33-5-3.49-7.82c-2.81 3.14-2.7 7.96.31 10.98c3.02 3.01 7.84 3.12 10.98.31Z">-->
<!--                            </path>-->
<!--                        </svg>-->
<!--                    </div>-->
<!--                    <div class="sidebar-toggler  x">-->
<!--                        <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>-->
<!--                    </div>-->
                </div>
                <div class="d-flex justify-content-between align-items-center mt-2 flex-nowrap" style="font-size: 0.85rem;">
                    <span style="white-space: nowrap;"><a id="userNm"></a>님 안녕하세요</span>
<!--                    <a href="#" sec:authorize="isAuthenticated()" th:href="@{/logout}" class="btn btn-outline-primary btn-sm" style="color:#fff; padding: 0.2rem 0.4rem; font-size: 0.75rem;">로그아웃</a>-->
                </div>
            </div>
            <div class="sidebar-menu">
                <ul class="menu" id="menuContainer">
                    <!-- 메뉴 세팅 -->
                </ul>
            </div>
        </div>
    </div>

    <link rel="stylesheet" href="/assets/compiled/css/app.css">
    <link rel="stylesheet" href="/assets/compiled/css/app-dark.css">
    <link rel="stylesheet" href="/assets/compiled/css/iconly.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .btn-logout {
            color: white;
            background-color: #435ebe;
            padding: 0.4rem 0.6rem;
            font-size: 0.85rem;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            transition: all 0.3s ease;
        }

        .btn-logout:hover {
            background-color: #3a4db3;
            transform: scale(1.05);
        }
    </style>

    <script th:inline="javascript">
        $(document).ready(function() {
            document.getElementById("spinnerOverlay").style.display = "flex";
            $.ajax({
                url: "/api/sidelayout",
                data: '',
                type: 'GET',
                success: (result) => {
                    $('#userNm').text(result.userName);
                    setSideLayoutCombo(result.menuList);
                },
                error: (xhr, status, error) => {
                    alert("메뉴목록 조회에 실패하였습니다.");
                }
            }).always(() => {
                document.getElementById("spinnerOverlay").style.display = "none";
            });
        });

        const setSideLayoutCombo = (param) => {

            const menuStructure = {};

            param.forEach(item => {
                const {category, menuId, menuUpId, url, menuNm, srtOrd} = item;

                if (category === '1') {
                    // 대메뉴
                    menuStructure[menuId] = {
                        menuId: menuId,
                        name: menuNm,
                        url: url,
                        srtOrd: parseInt(srtOrd, 10),  // srtOrd를 숫자로 변환
                        children: []
                    }
                } else if (category === '2') {
                    // 중메뉴
                    if (menuUpId in menuStructure) {
                        menuStructure[menuUpId].children.push({
                            menuId: menuId,
                            name: menuNm,
                            url: url,
                            srtOrd: parseInt(srtOrd, 10),  // srtOrd를 숫자로 변환
                            children: []
                        });

                        // 중메뉴를 srtOrd 기준으로 정렬
                        menuStructure[menuUpId].children.sort((a, b) => a.srtOrd - b.srtOrd);
                    }
                } else if (category === '3') {
                    // 프로그램
                    const parentMenu = Object.values(menuStructure).find(menu => menu.children.some(child => child.menuId === menuUpId));
                    if (parentMenu) {
                        const parentChild = parentMenu.children.find(child => child.menuId === menuUpId);
                        parentChild.children.push({
                            menuId: menuId,
                            name: menuNm,
                            srtOrd: parseInt(srtOrd, 10),  // srtOrd를 숫자로 변환
                            url: url
                        });
                        
                        // 프로그램을 srtOrd 기준으로 정렬
                        parentChild.children.sort((a, b) => a.srtOrd - b.srtOrd);
                    }
                }
            });
            // 대메뉴를 srtOrd 기준으로 정렬
            const sortedMenuStructure = Object.entries(menuStructure).sort(([, a], [, b]) => a.srtOrd - b.srtOrd);

            createMenuList(sortedMenuStructure);
        };

        const createMenuList = (param) => {
            const path = [[${path}]];
            
            let html = '';
            for (const [id, item] of Object.entries(param)) {
                html += `<li class="sidebar-title">${item[1].name}</li>`;
                if (item[1].children.length > 0) {
                    for (const [id2, item2] of Object.entries(item[1].children)) {
                        html += '<li  class="sidebar-item  has-sub">';
                        html += '<a href="#" class="sidebar-link">';
                        html += `<span>${item2.name}</span>`;
                        html += '</a>';
                        if (item2.children.length > 0) {
                            html += '<ul class="submenu">';
                            for (const [id3, item3] of Object.entries(item2.children)) {
                                if (path === item3.url) {
                                    html += '<li class="submenu-item active">';
                                } else {
                                    html += '<li class="submenu-item">';
                                }
                                html += `<a id="pageBtn" data-url="${item3.url}"  class="submenu-link"><svg width="4" height="4" viewBox="0 0 8 8" style="margin-right: 6px;"><circle cx="4" cy="4" r="4" fill="#435EBE" /></svg> ${item3.name}</a>`;
                                html += '</li>';
                            }
                            html += '</ul>';
                        }
                        html += '</li>';
                    }
                }
            }

            const menuContainerTag = $("#menuContainer");
            menuContainerTag.html(html);

            // 2. .active 클래스가 있는 요소를 찾아서 상위 요소들에 active 클래스 추가
            $("#menuContainer").find(".submenu-item.active").each(function() {
                // 상위 <ul>에 active 클래스 추가
                $(this).closest("ul.submenu").addClass("active");
                
                // 상위 <li.sidebar-item.has-sub>에도 active 클래스 추가
                $(this).closest("li.sidebar-item.has-sub").addClass("active");
            });

            loadApp2Script();
        }

        const loadApp2Script = () => {
            const script = document.createElement('script');
            script.src = "/assets/compiled/js/app.js";
            script.defer = true;  // 스크립트를 비동기적으로 로드
            document.body.appendChild(script);
        
            script.onload = () => {
                console.log("app2.js loaded successfully");
            };
        
            script.onerror = () => {
                console.error("Failed to load app2.js");
            };
        }

        $(document).on('click', '#pageBtn', function(e) {
            e.preventDefault();
            document.getElementById("spinnerOverlay").style.display = "flex";

            $("#content").empty(); // 기존 콘텐츠 제거

            const url = $(this).data('url'); // data-url 속성에서 URL 가져오기

            $("#content").load(url, function(response, status, xhr){
                // 응답 내용 내에 loginPageIndicator 요소가 있다면 로그인 페이지임을 판단
                if (response.indexOf('id="loginPageIndicator"') !== -1) {
                    // 전체 화면 리다이렉트 (프레임이나 콘텐츠 영역이 아닌 전체 페이지)
                    window.location.href = '/login'; // 실제 로그인 URL에 맞게 수정
                    return;
                }

                if(status == "error"){
                    alert("콘텐츠 로딩에 실패했습니다.");
                }
                document.getElementById("spinnerOverlay").style.display = "none";
            });
        })
    </script>

    <!-- 사이드바 하위메뉴 선택 시 이벤트 발생-->
    <script src="/assets/static/js/components/dark.js" defer></script>
    <script src="/assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js" defer></script>
    <!-- <script src="/assets/compiled/js/app2.js" defer></script> -->
</th:block>