<!-- templates/fragments/cust-select.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="cust-select (name)"
          th:with="id=${id} ?: '',
                   width=${width} ?: '100%',
                   items=${items} ?: ${ { } },
                   disabled=${disabled} ?: false,
                   readonly=${readonly} ?: false,
                   addClass=${addClass} ?: 'control is-select is-medium',
                   title=${title} ?: '',
                   addSelectClass = ${addSelectClass} ?: '',
                   tabindex=${tabindex} ?: '-1',
                   required=${required} ?: false">

<select class="choices cust-select form-control-sm" th:id="${id}" th:name="${name}"></select>

<script th:inline="javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const selectElement = document.getElementById(/*[[${id}]]*/ "");

        if (selectElement != null) {
            fetch("/api/pages/customer")
                .then(response => response.json())
                .then(data => {
                    selectElement.innerHTML = ''; // 기존 옵션 제거
                    data.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item.bizNo;
                        option.textContent = item.custName;
                        selectElement.appendChild(option);
                    });

                    if (!selectElement.choicesInstance) {
                        selectElement.choicesInstance = new Choices(selectElement);
                    }
                })
                .catch(error => console.error("Error fetching data:", error));
        }
    });
</script>
</th:block>
</html>
