<!-- templates/fragments/cust-select.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="prod-select (name)"
          th:with="id=${id} ?: '',
                   width=${width} ?: '100%',
                   items=${items} ?: ${ { } },
                   disabled=${disabled} ?: false,
                   readonly=${readonly} ?: false,
                   addClass=${addClass} ?: 'control is-select is-medium',
                   title=${title} ?: '',
                   addSelectClass = ${addSelectClass} ?: '',
                   tabindex=${tabindex} ?: '-1',
                   required=${required} ?: false">
<select class="choices prod-select" th:id="${id}" th:name="${name}"></select>

<!--<script th:src="@{/js/choices.min.js}"></script>-->
<script th:inline="javascript">


    document.addEventListener("DOMContentLoaded", function() {

        const selectElement = document.getElementById(/*[[${id}]]*/ "");

        // 현재 날짜를 가져옵니다.
        var nowDate = new Date();

        // 날짜를 'YYYY-MM-DD' 형식으로 포맷
        var formattedDate = nowDate.getFullYear() + '-' +
            String(nowDate.getMonth() + 1).padStart(2, '0') + '-' +
            String(nowDate.getDate()).padStart(2, '0');

        if (selectElement != null) {
            fetch(`/api/pages/product?baseDate=${encodeURIComponent(formattedDate)}`)
                .then(response => response.json())
                .then(data => {
                    selectElement.innerHTML = ''; // 기존 옵션 제거

                    // 플레이스홀더 옵션 추가
                    const placeholderOption = document.createElement('option');
                    placeholderOption.value = '';
                    placeholderOption.textContent = '';
                    placeholderOption.disabled = true;
                    placeholderOption.selected = true; // 기본 선택 상태
                    selectElement.appendChild(placeholderOption);

                    data.forEach(item => {
                        const option = document.createElement('option');
                        option.value = item.prodId;
                        option.textContent = item.prodName;
                        selectElement.appendChild(option);
                    });

                    if (!selectElement.choicesInstance) {
                        selectElement.choicesInstance = new Choices(selectElement, {
                            placeholder: true,
                            placeholderValue: ''
                        });
                    }
                })
                .catch(error => console.error("Error fetching data:", error));
        }
    });

</script>
</th:block>
</html>
