<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.system.CompanyMapper">

    <select id="findCompanyList" resultType="com.biz.framework.dto.system.CompanyDto">
        /* com.biz.framework.mapper.system.CompanyMapper.findCompanyList */
        SELECT CO_CODE
             , CO_NAME
             , USE_YN
          FROM TB_COMPANY
         WHERE 1=1
           AND USE_YN   = 'Y'
    </select>

    <select id="findCompany">
        /* com.biz.framework.mapper.system.CompanyMapper.findCompany */
        SELECT CO_CODE
             , CO_NAME
             , CEO_NAME
             , COMPANY_MAIL
             , COMPANY_TEL
             , COMPANY_ADDRESS
             , BIZ_TYPE
             , BIZ_CLASS
             , BIZ_NO
        FROM TB_COMPANY
        WHERE 1=1
          AND CO_CODE  = #{loginCoId}
    </select>

    <update id="updateCompany">
        /* com.biz.framework.mapper.system.CompanyMapper.updateCompany */
        UPDATE TB_COMPANY
        SET CEO_NAME        = #{ceoName},
            COMPANY_MAIL    = #{companyMail},
            COMPANY_TEL     = #{companyTel},
            COMPANY_ADDRESS = #{companyAddress},
            BIZ_TYPE        = #{bizType},
            BIZ_CLASS       = #{bizClass},
            BIZ_NO          = #{bizNo}
        WHERE CO_CODE = #{coCode}
    </update>

</mapper>
