<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.system.RoleMapper">

    <select id="findRoles" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.system.RoleMapper.findRoles */
        SELECT ROLE_ID
             , ROLE_NM
             , ROLE_DESC
          FROM ROLE
         WHERE 1=1
           AND CO_CODE   = #{loginCoId}
        <if test='roleNm != null  and roleNm != "" '>
            AND ROLE_NM LIKE CONCAT('%', #{programNm}, '%')
        </if>
    </select>

    <insert id="saveRoles">
        /* com.biz.framework.mapper.system.RoleMapper.saveRoles */
        INSERT INTO ROLE (
            CO_CODE
            , ROLE_ID
            , ROLE_NM
            , ROLE_DESC
        ) VALUES (
            #{loginCoId}
            , (SELECT IFNULL(MAX(ROLE_ID), 0) + 1 FROM ROLE R WHERE R.CO_CODE = #{loginCoId})
            , #{roleNm}
            , #{roleDesc}
        )
    </insert>

    <update id="updateRoles">
        /* com.biz.framework.mapper.system.RoleMapper.updateRoles */
        UPDATE ROLE
           SET ROLE_NM       = #{roleNm}
             , ROLE_DESC     = #{roleDesc}
         WHERE CO_CODE      = #{loginCoId}
           AND ROLE_ID       = #{roleId}
    </update>

    <delete id="deleteRoles">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRoles */
        DELETE FROM ROLE
         WHERE CO_CODE      = #{loginCoId}
           AND ROLE_ID     = #{roleId}
    </delete>

    <insert id="saveRoleUser">
        /* com.biz.framework.mapper.system.RoleMapper.saveRoleUser */
        INSERT INTO ROLE_USER (
            CO_CODE
          , ROLE_ID
          , USER_ID
        )
        VALUES(
            #{loginCoId},
            #{roleId},
            #{userId}
        )
    </insert>

    <select id="checkRoleUserDupl" resultType="int">
        /* com.biz.framework.mapper.system.RoleMapper.checkRoleUserDupl */
        SELECT COUNT(1)
          FROM ROLE_USER
         WHERE CO_CODE   = #{loginCoId}
           AND ROLE_ID = #{roleId}
           AND USER_ID = #{userId}
    </select>

    <select id="findRoleUser" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.system.RoleMapper.findRoleUser */
        SELECT R.ROLE_ID
             , R.USER_ID
             , E.EMP_NAME
          FROM ROLE_USER    R
          JOIN TB_EMP       E
            ON E.CO_CODE    = R.CO_CODE
           AND E.EMP_ID     = R.USER_ID
         WHERE 1=1
           AND R.CO_CODE    = #{coCode}
        <if test='roleId != null  and userId != "" '>
            AND R.ROLE_ID      = #{roleId}
        </if>
        <if test='userId != null  and userId != "" '>
            AND R.USER_ID      = #{userId}
        </if>
    </select>

    <delete id="deleteRoleUser">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRoleUser */
        DELETE FROM ROLE_USER
         WHERE CO_CODE  = #{loginCoId}
           AND ROLE_ID = #{roleId}
           AND USER_ID = #{userId}
    </delete>

    <select id="findProgramList">
        /* com.biz.framework.mapper.system.RoleMapper.findProgramList */
        SELECT RP.ROLE_ID
             , RP.PROGRAM_ID
             , P.PROGRAM_NM
             , P.PROGRAM_URL
             , P.USE_YN
         FROM ROLE_PROGRAM  RP
         JOIN PROGRAM       P
           ON P.CO_CODE     = RP.CO_CODE
          AND P.PROGRAM_ID  = RP.PROGRAM_ID
        WHERE RP.CO_CODE    = #{loginCoId}
          AND RP.ROLE_ID   = #{roleId}
    </select>

    <insert id="saveRelProgramList">
        /* com.biz.framework.mapper.system.RoleMapper.saveRelProgramList */
        INSERT INTO ROLE_PROGRAM
        (
            CO_CODE
            , ROLE_ID
            , PROGRAM_ID
        ) VALUES
        (
            #{loginCoId}
            , #{roleId}
            , #{programId}
        )
    </insert>

    <delete id="deleteRelProgramList">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRelProgramList */
        DELETE FROM ROLE_PROGRAM
        WHERE CO_CODE       = #{loginCoId}
          AND ROLE_ID       = #{roleId}
          AND PROGRAM_ID    = #{programId}
    </delete>

    <select id="findRoleProgram">
        /* com.biz.framework.mapper.system.RoleMapper.findRoleProgram */
        SELECT RP.ROLE_ID
             , RP.PROGRAM_ID
          FROM ROLE_PROGRAM     RP
          JOIN PROGRAM          P
            ON P.CO_CODE        = RP.CO_CODE
           AND P.PROGRAM_ID     = RP.PROGRAM_ID
         WHERE RP.CO_CODE       = #{loginCoId}
           AND CONCAT(P.PROGRAM_URL, '/')    LIKE CONCAT(TRIM(#{programUrl}), '/', '%')
           AND P.USE_YN         = 'Y'
    </select>
</mapper>
