<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.system.RoleMapper">

    <select id="findRoles" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.system.RoleMapper.findRoles */
        SELECT ROLE_ID
             , ROLE_NM
             , ROLE_DESC
          FROM ROLE
         WHERE 1=1
        <if test='roleNm != null  and roleNm != "" '>
            AND ROLE_NM LIKE CONCAT('%', #{programNm}, '%')
        </if>
    </select>

    <insert id="saveRoles">
        /* com.biz.framework.mapper.system.RoleMapper.saveRoles */
        INSERT INTO ROLE (
            ROLE_NM
            , ROLE_DESC
        ) VALUES (
            #{roleNm}
            , #{roleDesc}
        )
    </insert>

    <update id="updateRoles">
        /* com.biz.framework.mapper.system.RoleMapper.updateRoles */
        UPDATE ROLE
           SET ROLE_NM       = #{roleNm}
             , ROLE_DESC     = #{roleDesc}
         WHERE ROLE_ID       = #{roleId}
    </update>

    <delete id="deleteRoles">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRoles */
        DELETE FROM ROLE
         WHERE ROLE_ID     = #{roleId}
    </delete>

    <insert id="saveRoleUser">
        /* com.biz.framework.mapper.system.RoleMapper.saveRoleUser */
        INSERT INTO ROLE_USER (
            role_id
          , user_id
        )
        VALUES(
            #{roleId},
            #{userId}
        )
    </insert>

    <select id="checkRoleUserDupl" resultType="int">
        /* com.biz.framework.mapper.system.RoleMapper.checkRoleUserDupl */
        SELECT COUNT(1)
          FROM ROLE_USER
         WHERE ROLE_ID = #{roleId}
           AND USER_ID = #{userId}
    </select>

    <select id="findRoleUser" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.system.RoleMapper.findRoleUser */
        SELECT R.ROLE_ID
             , R.USER_ID
             , U.USER_NM
          FROM ROLE_USER    R
          JOIN USER         U
            ON U.USER_ID    = R.USER_ID
         WHERE ROLE_ID      = #{roleId}
    </select>

    <delete id="deleteRoleUser">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRoleUser */
        DELETE FROM ROLE_USER
         WHERE ROLE_ID = #{roleId}
           AND USER_ID = #{userId}
    </delete>
</mapper>
