<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.system.UserMapper">

    <select id="findAllUsers" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.system.UserMapper.findAllUsers */
        SELECT USER_ID
             , USER_NM
          FROM USER
         WHERE CO_CODE  = #{loginCoId}
    </select>

    <select id="findByUserId" resultType="com.biz.framework.dto.system.UserDto">
        /* com.biz.framework.mapper.system.UserMapper.findByUserId */
        SELECT CO_CODE
             , USER_ID
             , USER_PW
             , USER_NM
          FROM USER
         WHERE 1=1
           AND CO_CODE  = #{coCode}
           AND USER_ID  = #{userId}
    </select>

    <select id="findUsers" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.system.UserMapper.findUsers */
        SELECT USER_ID
             , USER_NM
          FROM USER
         WHERE 1=1
           AND CO_CODE  = #{loginCoId}
        <if test='userNm != null  and userNm != "" '>
            AND USER_ID LIKE CONCAT('%', #{userNm}, '%')
                OR USER_NM LIKE CONCAT('%', #{userNm}, '%')
        </if>
    </select>

    <insert id="saveRoles">
        /* com.biz.framework.mapper.system.RoleMapper.saveRoles */
        INSERT INTO ROLE (
            CO_CODE
            , ROLE_NM
            , ROLE_DESC
        ) VALUES (
            #{loginCoId}
            , #{roleNm}
            , #{roleDesc}
        )
    </insert>

    <update id="updateRoles">
        /* com.biz.framework.mapper.system.RoleMapper.updateRoles */
        UPDATE ROLE
           SET ROLE_NM       = #{roleNm}
             , ROLE_DESC     = #{roleDesc}
         WHERE CO_CODE       = #{loginCoId}
           AND ROLE_ID       = #{roleId}
    </update>

    <delete id="deleteRoles">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRoles */
        DELETE FROM ROLE
         WHERE CO_CODE      = #{loginCoId}
           AND ROLE_ID     = #{roleId}
    </delete>

    <insert id="saveUser">
        /* com.biz.framework.mapper.system.RoleMapper.deleteRoles */
        INSERT INTO USER
        (
            CO_CODE
            , USER_ID
            , USER_PW
            , USER_NM
        )
        VALUES
        (
            #{loginCoId}
            , #{userId}
            , #{userPw}
            , #{userNm}
        ) ON DUPLICATE KEY UPDATE
             USER_PW    = #{userPw}
            , USER_NM   = #{userNm}
    </insert>

    <delete id="deleteUser">
        /* com.biz.framework.mapper.system.UserMapper.deleteUser */
        DELETE FROM USER
        WHERE CO_CODE   = #{loginCoId}
          AND USER_ID = #{userId}
    </delete>
</mapper>
