<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.AgencyReqMapper">

    <select id="findIncentiveRate" resultType="double">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.findIncentiveRate */
        SELECT IFNULL(INCENTIVE_RATE, 0) AS INCENTIVE_RATE
          FROM TB_EMP
         WHERE CO_CODE      = #{loginCoId}
           AND EMP_ID       = #{loginUserId}
    </select>

    <select id="findApplypayment" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.findApplypayment */
        SELECT AR.CO_CODE
             , AR.AGENCY_SEQ
             , TA.AGENCY_NAME
             , AR.USER_ID
             , AR.AGENCY_ID
             , AR.PROD_ID
             , AR.REQ_DATE
             , AR.INCENTIVE_RATE
             , TAP.PROD_NAME
             , AR.INFLOW_CNT
             , AR.PROD_AMT
             , AR.SALE_TOTAL_AMT
             , AR.EXPECT_AMT
             , AR.APPLY_STATUS
             , C.CODE_NAME                 AS APPLY_STATUS_NAME
          FROM AGENCY_REQ       AR
          LEFT JOIN TB_AGENCY   TA
            ON TA.CO_CODE       = AR.CO_CODE
           AND TA.AGENCY_ID     = AR.AGENCY_ID
          LEFT JOIN TB_AG_PRODUCTS  TAP
            ON TAP.CO_CODE      = AR.CO_CODE
           AND TAP.PROD_ID      = AR.PROD_ID
          LEFT JOIN CDBASE      C
           ON C.CO_CODE         = AR.CO_CODE
          AND C.PATTERN_CODE    = 'SE04'
          AND C.BASE_CODE        = AR.APPLY_STATUS
         WHERE AR.CO_CODE       = #{loginCoId}
           AND AR.REQ_DATE BETWEEN STR_TO_DATE(REPLACE(#{searchStartDate}, '-', ''), '%Y%m%d') AND STR_TO_DATE(REPLACE(#{searchEndDate}, '-', ''), '%Y%m%d')
        <if test='agencyName != null  and agencyName != "" '>
            AND TA.AGENCY_NAME LIKE CONCAT('%', #{agencyName}, '%')
        </if>
    </select>

    <select id="createAgencySeq">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.createAgencySeq */
        -- SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(IFNULL(COUNT(AGENCY_SEQ), 0) + 1, '4', '0')) AS AGENCY_SEQ
        SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(IFNULL(SUBSTR(MAX(AGENCY_SEQ), 10, 4), 0) + 1, '4', '0')) AS AGENCY_SEQ
          FROM AGENCY_REQ
         WHERE CO_CODE      = #{loginCoId}
           AND REQ_DATE     = DATE_FORMAT(NOW(), '%Y-%m-%d')
    </select>

    <insert id="saveAgencyReq">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.saveAgencyReq */
        INSERT INTO AGENCY_REQ
        ( CO_CODE
        , AGENCY_SEQ
        , USER_ID
        , AGENCY_ID
        , PROD_ID
        , REQ_DATE
        , INCENTIVE_RATE
        , PROD_AMT
        , INFLOW_CNT
        , SALE_TOTAL_AMT
        , EXPECT_AMT
        , APPLY_STATUS
        ) VALUES
        (
          #{loginCoId}
        , #{agencySeq}
        , #{loginUserId}
        , #{agencyId}
        , #{prodId}
        , DATE_FORMAT(NOW(), '%Y-%m-%d')
        , #{incentiveRate}
        , #{prodAmt}
        , #{inflowCnt}
        , #{saleTotalAmt}
        , #{expectAmt}
        , #{applyStatus}
        )
    </insert>

    <delete id="deleteSettlement">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.deleteSettlement */
        DELETE FROM AGENCY_REQ
        WHERE CO_CODE           = #{loginCoId}
          AND AGENCY_SEQ        = #{agencySeq}
          AND USER_ID           = #{userId}
          AND AGENCY_ID         = #{agencyId}
    </delete>

    <select id="checkApplyStatus">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.checkApplyStatus */
        SELECT APPLY_STATUS
          FROM AGENCY_REQ
        WHERE CO_CODE           = #{loginCoId}
          AND AGENCY_SEQ        = #{agencySeq}
          AND USER_ID           = #{userId}
          AND AGENCY_ID         = #{agencyId}
    </select>

    <update id="updateAgencyReq">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.updateAgencyReq */
        UPDATE AGENCY_REQ
           SET REQ_DATE         = DATE_FORMAT(NOW(), '%Y-%m-%d')
             , PROD_ID          = #{prodId}
             , PROD_AMT         = #{prodAmt}
             , INFLOW_CNT       = #{inflowCnt}
             , SALE_TOTAL_AMT   = #{saleTotalAmt}
             , EXPECT_AMT       = #{expectAmt}
             , APPLY_STATUS     = '01'  -- 승인요청
         WHERE CO_CODE          = #{loginCoId}
           AND AGENCY_SEQ       = #{agencySeq}
           AND USER_ID          = #{userId}
           AND AGENCY_ID        = #{agencyId}
    </update>

    <update id="cancelSettlement">
        /* com.biz.framework.mapper.pages.AgencyReqMapper.cancelSettlement */
        UPDATE AGENCY_REQ
           SET APPLY_STATUS     = 'C'
        WHERE CO_CODE          = #{loginCoId}
          AND AGENCY_SEQ       = #{agencySeq}
          AND USER_ID          = #{userId}
          AND AGENCY_ID        = #{agencyId}
    </update>
</mapper>
