<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.ApplypaymentMapper">

    <select id="findIncentiveRate" resultType="double">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.findIncentiveRate */
        SELECT IFNULL(INCENTIVE_RATE, 0) AS INCENTIVE_RATE
          FROM TB_EMP
         WHERE CO_CODE      = #{loginCoId}
           AND EMP_ID       = #{userId}
    </select>

    <select id="findApplypayment" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.findApplypayment */
        SELECT
            ST.SETTLEMENT_SEQ,
            ST.PROD_ID,
            PR.PROD_NAME,
            ST.USER_ID,
            EP.EMP_NAME     AS USER_NAME,
            ST.CUST_ID,
            CU.CUST_NAME,
            ST.REQ_DATE,
            ST.PROD_AMT,
            ST.SALE_AMT,
            ST.INFLOW_CNT,
            ST.SALE_TOTAL_AMT,
            ST.PROD_TOTAL_AMT,
            ST.EXPECT_AMT,
            ST.EXPECT_RATE_AMT,
            DATE_FORMAT(ST.DATE_WORK_FROM, '%Y-%m-%d') AS DATE_WORK_FROM,
            DATE_FORMAT(ST.DATE_WORK_TO, '%Y-%m-%d') AS DATE_WORK_TO,
            ST.WORK_DAY,
            IFNULL(ST.INCENTIVE_RATE, 0) AS INCENTIVE_RATE,
            ST.GUBUN,
            CD2.CODE_NAME AS GUBUN_NAME,
            ST.MILEAGE_USE_IND,
            IFNULL(ST.USE_MILEAGE,0)    AS USE_MILEAGE,
            IFNULL(ST.EXIST_MILEAGE, 0)  AS CUR_EXIST_MILEAGE,
            ST.APPLY_STATUS,
            C.CODE_NAME                 AS APPLY_STATUS_NAME
        FROM SETTLEMENT         ST
        LEFT JOIN TB_CUSTOMER   CU
          ON ST.CO_CODE         = CU.CO_CODE
         AND ST.CUST_ID         = CU.BIZ_NO
        LEFT JOIN TB_PRODUCTS   PR
          ON ST.CO_CODE         = PR.CO_CODE
         AND ST.PROD_ID         = PR.PROD_ID
        LEFT JOIN TB_EMP        EP
          ON ST.CO_CODE         = EP.CO_cODE
         AND ST.USER_ID         = EP.EMP_ID
        LEFT JOIN CDBASE        C
          ON C.CO_CODE          = ST.CO_CODE
         AND C.PATTERN_CODE     = 'SE04'
         AND C.BASE_CODE        = ST.APPLY_STATUS
        LEFT JOIN CDBASE CD2
          ON ST.CO_CODE         = CD2.CO_CODE
         AND CD2.PATTERN_CODE   = 'SE02'
         AND ST.GUBUN           = CD2.BASE_CODE
       WHERE 1=1
         AND ST.CO_CODE         = #{loginCoId}
         AND ST.REFUND_IND IS NULL
         AND ST.REQ_DATE BETWEEN #{searchStartDate} AND #{searchEndDate}
         AND ST.REQ_GUBUN       = 'AQ'
        <if test="isAdmin != null and !isAdmin">
            AND ST.USER_ID         = #{loginUserId}
        </if>
        <if test='custName != null  and custName != "" '>
            AND CU.CUST_NAME LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test='prodName != null  and prodName != "" '>
            AND PR.PROD_NAME LIKE CONCAT('%', #{prodName}, '%')
        </if>
    </select>

    <select id="findCustSumMileage" resultType="int">
        SELECT
            SUM(TC.MILEAGE) AS TOTAL_MILEAGE
        FROM SETTLEMENT ST
        LEFT JOIN EMP_CUSTOMER EC
         ON EC.CO_CODE = ST.CO_CODE
        AND EC.BIZ_NO = ST.CUST_ID
        AND EC.EMP_ID = ST.USER_ID
        LEFT JOIN TB_CUSTOMER TC
         ON ST.CO_CODE = TC.CO_CODE
        AND ST.CUST_ID = TC.BIZ_NO
        WHERE ST.CO_CODE = #{loginCoId}
            AND ST.REFUND_IND IS NULL
            AND ST.REQ_DATE BETWEEN #{searchStartDate} AND #{searchEndDate}
            AND ST.REQ_GUBUN = 'AQ'
        <if test="isAdmin != null and !isAdmin">
            AND ST.USER_ID = #{loginUserId}
        </if>
    </select>

    <select id="createSettlementSeq">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.createSettlementSeq */
        -- SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(IFNULL(COUNT(SETTLEMENT_SEQ), 0) + 1, '4', '0')) AS SETTLEMENT_SEQ
        SELECT CONCAT('S', DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(IFNULL(SUBSTR(MAX(SETTLEMENT_SEQ), 11, 4), 0) + 1, '4', '0')) AS SETTLEMENT_SEQ
          FROM SETTLEMENT
         WHERE CO_CODE      = #{loginCoId}
           AND REQ_DATE     = DATE_FORMAT(NOW(), '%Y-%m-%d')
    </select>

    <insert id="saveApplypayment">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.saveApplypayment */
        INSERT INTO SETTLEMENT
        ( CO_CODE
        , SETTLEMENT_SEQ
        , PROD_ID
        , USER_ID
        , CUST_ID
        , REQ_DATE
        , PROD_AMT
        , SALE_AMT
        , INFLOW_CNT
        , SALE_TOTAL_AMT
        , PROD_TOTAL_AMT
        , EXPECT_AMT
        , EXPECT_RATE_AMT
        , DATE_WORK_FROM
        , DATE_WORK_TO
        , WORK_DAY
        , INCENTIVE_RATE
        , MILEAGE_USE_IND
        , USE_MILEAGE
        , EXIST_MILEAGE
        , REFUND_IND
        , REFUND_DATE
        , REFUND_WORK_DAY
        , REFUND_INFLOW_CNT
        , REFUND_SALE_TOTAL_AMT
        , REFUND_PROD_TOTAL_AMT
        , REFUND_SETTLEMENT_SEQ
        , REFUND_EXPECT_RATE_AMT
        , GUBUN
        , APPLY_STATUS
        , REQ_GUBUN
        , PROD_INCENTIVE_IND
        ) VALUES
        (
          #{loginCoId}
        , #{settlementSeq}
        , #{prodId}
        , #{userId}
        , #{custId}
        , DATE_FORMAT(NOW(), '%Y-%m-%d')
        , #{prodAmt}
        , #{saleAmt}
        , #{inflowCnt}
        , #{saleTotalAmt}
        , #{prodTotalAmt}
        , #{expectAmt}
        , #{expectRateAmt}
        , #{dateWorkFrom}
        , #{dateWorkTo}
        , #{workDay}
        , #{incentiveRate}
        , #{mileageUseInd}
        , #{useMileage}
        , #{existMileage}
        , #{refundInd}
        , #{refundDate}
        , #{refundWorkDay}
        , #{refundInflowCnt}
        , #{refundSaleTotalAmt}
        , #{refundProdTotalAmt}
        , #{refundSettlementSeq}
        , #{refundExpectRateAmt}
        , #{gubun}
        , #{applyStatus}
        , #{reqGubun}
        , #{prodIncentiveInd}
        )
    </insert>

    <delete id="deleteSettlement">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.deleteSettlement */
        DELETE FROM SETTLEMENT
        WHERE CO_CODE           = #{loginCoId}
          AND SETTLEMENT_SEQ    = #{settlementSeq}
          AND PROD_ID           = #{prodId}
          AND USER_ID           = #{userId}
          AND CUST_ID           = #{custId}
    </delete>

    <select id="checkApplyStatus">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.checkApplyStatus */
        SELECT APPLY_STATUS
          FROM SETTLEMENT
        WHERE CO_CODE           = #{loginCoId}
          AND SETTLEMENT_SEQ    = #{settlementSeq}
          AND PROD_ID           = #{prodId}
          AND USER_ID           = #{userId}
          AND CUST_ID           = #{custId}
    </select>

    <update id="updateApplypayment">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.updateApplypayment */
        UPDATE SETTLEMENT
           SET REQ_DATE         = DATE_FORMAT(NOW(), '%Y-%m-%d')
             , PROD_AMT         = #{prodAmt}
             , SALE_AMT         = #{saleAmt}
             , INFLOW_CNT       = #{inflowCnt}
             , SALE_TOTAL_AMT   = #{saleTotalAmt}
             , PROD_TOTAL_AMT   = #{prodTotalAmt}
             , EXPECT_AMT       = #{expectAmt}
             , EXPECT_RATE_AMT  = #{expectRateAmt}
             , DATE_WORK_FROM   = #{dateWorkFrom}
             , DATE_WORK_TO     = #{dateWorkTo}
             , WORK_DAY         = #{workDay}
             , INCENTIVE_RATE   = #{incentiveRate}
             , MILEAGE_USE_IND  = #{mileageUseInd}
             , USE_MILEAGE      = #{useMileage}
             , EXIST_MILEAGE    = #{existMileage}
             , REFUND_IND       = #{refundInd}
             , REFUND_DATE      = #{refundDate}
             , REFUND_WORK_DAY  = #{refundWorkDay}
             , REFUND_INFLOW_CNT        = #{refundInflowCnt}
             , REFUND_SALE_TOTAL_AMT    = #{refundSaleTotalAmt}
             , REFUND_PROD_TOTAL_AMT    = #{refundProdTotalAmt}
             , REFUND_SETTLEMENT_SEQ    = #{refundSettlementSeq}
             , REFUND_EXPECT_RATE_AMT   = #{refundExpectRateAmt}
             , GUBUN            = #{gubun}
             , APPLY_STATUS     = #{applyStatus}
             , REQ_GUBUN        = #{reqGubun}
             , PROD_INCENTIVE_IND   = #{prodIncentiveInd}
        WHERE CO_CODE           = #{loginCoId}
          AND SETTLEMENT_SEQ    = #{settlementSeq}
          AND PROD_ID           = #{prodId}
          AND USER_ID           = #{userId}
          AND CUST_ID           = #{custId}
    </update>

    <update id="cancelSettlement">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.cancelSettlement */
        UPDATE SETTLEMENT
           SET APPLY_STATUS     = 'C'
         WHERE CO_cODE          = #{loginCoId}
           AND SETTLEMENT_SEQ   = #{settlementSeq}
           AND PROD_ID          = #{prodId}
           AND USER_ID          = #{userId}
           AND CUST_ID          = #{custId}
    </update>

    <select id="findProductItemListByProdId">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.findProductItemListByProdId */
        SELECT CO_CODE
             , PROD_ID
             , SEQ
             , NAME
         FROM TB_PRODUCTITEM
        WHERE CO_CODE       = #{loginCoId}
          AND PROD_ID       = #{prodId}
        ORDER BY SEQ
    </select>

    <insert id="saveTbSettlementProdItem">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.saveTbSettlementProdItem */
        INSERT INTO TB_SETTLEMENT_PRODITEM
        (
            CO_CODE
            , SETTLEMENT_SEQ
            , PROD_ID
            , SEQ
            , NAME
            , INPUT_VALUE
        )
        VALUES
        (
            #{loginCoId}
            , #{settlementSeq}
            , #{prodId}
            , #{seq}
            , #{name}
            , #{inputValue}
        )
    </insert>

    <select id="findProductItemListBySettlementSeqAndProdId">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.findProductItemListBySettlementSeqAndProdId */
        SELECT CO_CODE
             , SETTLEMENT_SEQ
             , PROD_ID
             , SEQ
             , NAME
             , INPUT_VALUE
          FROM TB_SETTLEMENT_PRODITEM
         WHERE CO_CODE          = #{loginCoId}
           AND SETTLEMENT_SEQ   = #{settlementSeq}
           AND PROD_ID          = #{prodId}
    </select>

    <delete id="deleteSettlementProditem">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.deleteSettlementProditem */
        DELETE FROM TB_SETTLEMENT_PRODITEM
         WHERE CO_CODE          = #{loginCoId}
           AND SETTLEMENT_SEQ   = #{settlementSeq}
           AND PROD_ID          = #{prodId}
    </delete>
</mapper>
