<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.ApplypaymentMapper">

    <select id="findIncentiveRate" resultType="double">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.findIncentiveRate */
        SELECT IFNULL(INCENTIVE_RATE, 0) AS INCENTIVE_RATE
          FROM TB_EMP
         WHERE EMP_ID   = #{loginUserId}
    </select>

    <select id="findApplypayment" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.findApplypayment */
        SELECT
            ST.SETTLEMENT_SEQ,
            ST.PROD_ID,
            PR.PROD_NAME,
            ST.USER_ID,
            EP.EMP_NAME,
            ST.CUST_ID,
            CU.CUST_NAME,
            ST.REQ_DATE,
            ST.PROD_AMT,
            ST.SALE_AMT,
            ST.INFLOW_CNT,
            ST.SALE_TOTAL_AMT,
            ST.EXPECT_AMT,
            ST.EXPECT_RATE_AMT,
            DATE_FORMAT(ST.DATE_WORK_FROM, '%Y-%m-%d') AS DATE_WORK_FROM,
            DATE_FORMAT(ST.DATE_WORK_TO, '%Y-%m-%d') AS DATE_WORK_TO,
            ST.WORK_DAY,
            IFNULL(ST.INCENTIVE_RATE, 0) AS INCENTIVE_RATE,
            ST.APPLY_GUBUN,
            ST.MILEAGE_USE_IND,
            ST.USE_MILEAGE,
            ST.SAVE_MILEAGE,
            ST.APPLY_STATUS,
            C.CODE_NAME         AS APPLY_STATUS_NAME,
            ST.MILEAGE_USE_IND,
            IFNULL(ST.USE_MILEAGE,0)    AS USE_MILEAGE,
            IFNULL(CU.MILEAGE, 0)       AS CUST_KEEP_AMT
        FROM SETTLEMENT         ST
        LEFT JOIN TB_CUSTOMER   CU
          ON ST.CUST_ID         = CU.BIZ_NO
        LEFT JOIN TB_PRODUCTS   PR
          ON ST.PROD_ID         = PR.PROD_ID
         AND DATE_FORMAT(ST.REQ_DATE, '%Y%m%d') BETWEEN PR.EFF_DATE_FROM AND PR.EFF_DATE_TO
        LEFT JOIN TB_EMP        EP
          ON ST.USER_ID         = EP.EMP_ID
        LEFT JOIN CDBASE        C
          ON C.PATTERN_CODE     = 'SE04'
         AND C.BASE_CODE        = ST.APPLY_STATUS
       WHERE 1=1
         AND ST.USER_ID = #{loginUserId}
         AND ST.REFUND_IND IS NULL
         AND ST.DATE_WORK_FROM <![CDATA[<=]]> #{searchEndDate}
         AND ST.DATE_WORK_TO >= #{searchStartDate}
        <if test='custName != null  and custName != "" '>
            AND CU.CUST_NAME LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test='prodName != null  and prodName != "" '>
            AND PR.PROD_NAME LIKE CONCAT('%', #{prodName}, '%')
        </if>
    </select>

    <insert id="saveApplypayment">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.saveApplypayment */
        <selectKey keyColumn="SETTLEMENT_SEQ" keyProperty="settlementSeq" resultType="string" order="BEFORE">
            SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(IFNULL(COUNT(SETTLEMENT_SEQ), 0) + 1, '4', '0')) AS SETTLEMENT_SEQ
            FROM SETTLEMENT
            WHERE REQ_DATE = DATE_FORMAT(NOW(), '%Y-%m-%d')
        </selectKey>
        INSERT INTO SETTLEMENT
        ( SETTLEMENT_SEQ
        , PROD_ID
        , USER_ID
        , CUST_ID
        , REQ_DATE
        , PROD_AMT
        , SALE_AMT
        , INFLOW_CNT
        , SALE_TOTAL_AMT
        , EXPECT_AMT
        , EXPECT_RATE_AMT
        , DATE_WORK_FROM
        , DATE_WORK_TO
        , WORK_DAY
        , INCENTIVE_RATE
        , APPLY_GUBUN
        , MILEAGE_USE_IND
        , USE_MILEAGE
        , SAVE_MILEAGE
        , REFUND_IND
        , REFUND_SETTLEMENT_SEQ
        , REFUND_GUBUN
        , CONFIRM_AMT
        , CONFIRM_RATE_AMT
        , APPLY_STATUS
        , TAX_IND
        , PAY_YM
        , REQ_GUBUN
        , ATCH_ID
        ) VALUES
        (
          #{settlementSeq}
        , #{prodId}
        , #{userId}
        , #{custId}
        , DATE_FORMAT(NOW(), '%Y-%m-%d')
        , #{prodAmt}
        , #{saleAmt}
        , #{inflowCnt}
        , #{saleTotalAmt}
        , #{expectAmt}
        , #{expectRateAmt}
        , #{dateWorkFrom}
        , #{dateWorkTo}
        , #{workDay}
        , #{incentiveRate}
        , #{applyGubun}
        , #{mileageUseInd}
        , #{useMileage}
        , #{saveMileage}
        , #{refundInd}
        , #{refundSettlementSeq}
        , #{refundGubun}
        , #{confirmAmt}
        , #{confirmRateAmt}
        , #{applyStatus}
        , #{taxInd}
        , #{payYm}
        , #{reqGubun}
        , #{atchId}
        )
    </insert>

    <delete id="deleteSettlement">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.deleteSettlement */
        DELETE FROM SETTLEMENT
        WHERE SETTLEMENT_SEQ = #{settlementSeq}
          AND PROD_ID = #{prodId}
          AND USER_ID = #{userId}
          AND CUST_ID = #{custId}
    </delete>

    <select id="checkApplyStatus">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.checkApplyStatus */
        SELECT APPLY_STATUS
          FROM SETTLEMENT
        WHERE SETTLEMENT_SEQ = #{settlementSeq}
          AND PROD_ID = #{prodId}
          AND USER_ID = #{userId}
          AND CUST_ID = #{custId}
    </select>

</mapper>
