<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.CustomerMapper">

    <select id="findCustomers" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.CustomerMapper.findCustomers */
        SELECT T.*
             , U.EMP_NAME
          FROM TB_CUSTOMER  T
          LEFT JOIN TB_EMP       U
            ON U.EMP_ID    = T.EMP_ID
        WHERE 1=1
        <if test='bizNo != null  and bizNo != "" '>
            AND T.BIZ_NO   LIKE CONCAT('%',#{bizNo} ,'%')
        </if>
        <if test='empName != null  and empName != "" '>
            AND U.EMP_ID   = #{empId}
        </if>
        <if test='empName != null  and empName != "" '>
            AND U.EMP_NAME   LIKE CONCAT('%',#{empName} ,'%')
        </if>
        <if test='custName != null  and custName != "" '>
            AND T.CUST_NAME  LIKE CONCAT('%',#{custName} ,'%')
        </if>
    </select>

    <select id="findCustomerInfo" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.CustomerMapper.findCustomerInfo */
        SELECT  T.*,
                U.EMP_NAME
        FROM TB_CUSTOMER  T
        LEFT JOIN TB_EMP       U
        ON U.EMP_ID    = T.EMP_ID
        WHERE 1=1
        AND T.BIZ_NO = #{bizNo}

    </select>

    <insert id="saveCustomer">
        /* com.biz.framework.mapper.pages.CustomerMapper.saveCustomer */
        INSERT INTO TB_CUSTOMER
        (
            BIZ_NO
            , EMP_ID
            , CUST_NAME
            , OWNER_NAME
            , CUST_ADDR
            , CUST_TEL
            , CUST_MAIL
            , DEPOSITOR_NAME
            , MILEAGE
            , INCENTIVE_RATE
            , REG_DATE
            , USE_IND
        ) VALUES
        (
            #{bizNo}
            , #{empId}
            , #{custName}
            , #{ownerName}
            , #{custAddr}
            , #{custTel}
            , #{custMail}
            , #{depositorName}
            , #{mileage}
            , #{incentiveRate}
            , DATE_FORMAT(NOW(), '%Y-%m-%d')
            , #{useInd}
        ) ON DUPLICATE KEY UPDATE
            CUST_NAME       = #{custName}
            , EMP_ID        = #{empId}
            , OWNER_NAME    = #{ownerName}
            , CUST_ADDR     = #{custAddr}
            , CUST_TEL      = #{custTel}
            , CUST_MAIL     = #{custMail}
            , INCENTIVE_RATE    = #{incentiveRate}
            , DEPOSITOR_NAME    = #{depositorName}
            , MILEAGE           = #{mileage}
            , USE_IND          = #{useInd}
    </insert>

    <delete id="deleteCustomer">
        /* com.biz.framework.mapper.pages.CustomerMapper.deleteCustomer */
        DELETE FROM TB_CUSTOMER
        WHERE BIZ_NO    = #{bizNo}
    </delete>

    <select id="checkDupl">
        /* com.biz.framework.mapper.pages.CustomerMapper.checkDupl */
        SELECT COUNT(1)
          FROM TB_CUSTOMER
         WHERE 1=1
           AND BIZ_NO   = #{bizNo}
           AND EMP_ID   = #{empId}
    </select>

    <select id="findMileageByBizNo">
        /* com.biz.framework.mapper.pages.CustomerMapper.findMileageByBizNo */
        SELECT MILEAGE
          FROM TB_CUSTOMER
         WHERE 1=1
           AND BIZ_NO   = #{bizNo}
    </select>

    <update id="updateMileage">
        /* com.biz.framework.mapper.pages.CustomerMapper.updateMileage */
        UPDATE TB_CUSTOMER
          SET MILEAGE   = #{mileage}
        WHERE BIZ_NO    = #{bizNo}
    </update>

    <update id="updateFinalMileage">
        /* com.biz.framework.mapper.pages.CustomerMapper.updateFinalMileage */
        UPDATE TB_CUSTOMER
        SET MILEAGE = ( SELECT COALESCE(MAX(MILEAGE), 0)
                            FROM TB_CUSTOMER
                            WHERE BIZ_NO = #{bizNo}
                       ) + #{mileage}
        WHERE BIZ_NO = #{bizNo}
    </update>

</mapper>
