<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.EmpAgencyMapper">

    <select id="findEmplList">
        /* com.biz.framework.mapper.pages.EmpAgencyMapper.findEmplList */
        SELECT T.*
          FROM TB_EMP            T
         WHERE 1=1
           AND T.CO_CODE        = #{loginCoId}
           AND T.EMP_ID         != 'admin'
        <if test='searchEmpId != null and searchEmpId != ""'>
            AND T.EMP_ID LIKE CONCAT('%', #{searchEmpId}, '%')
        </if>
        <if test='searchEmpNm != null and searchEmpNm != ""'>
            AND T.EMP_NAME LIKE CONCAT('%', #{searchEmpNm}, '%')
        </if>
    </select>

    <select id="findEmpAgencyList" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.EmpAgencyMapper.findEmpAgencyList */
        SELECT EA.EMP_ID
             , EA.AGENCY_ID
             , TA.AGENCY_NAME
             , TA.AGENCY_INCENTIVE_RATE
             , TA.USE_IND
        FROM EMP_AGENCY		EA
        JOIN TB_AGENCY		TA
          ON TA.CO_CODE     = EA.CO_CODE
         AND TA.AGENCY_ID 	= EA.AGENCY_ID
       WHERE 1=1
         AND EA.CO_CODE     = #{loginCoId}
         AND EA.EMP_ID 		= #{empId}
    </select>

    <select id="findAgencyList">
        /* com.biz.framework.mapper.pages.EmpAgencyMapper.findAgencyList */
        SELECT TA.AGENCY_ID
             , TA.AGENCY_NAME
             , TA.AGENCY_INCENTIVE_RATE
             , TA.USE_IND
          FROM TB_AGENCY      TA
         WHERE 1=1
           AND TA.CO_CODE       = #{loginCoId}
        <if test='searchAgencyId != null and searchAgencyId != "" '>
            AND TA.AGENCY_ID LIKE CONCAT('%', #{searchAgencyId}, '%')
            OR TA.AGENCY_NAME LIKE CONCAT('%', #{searchAgencyId},'%')
        </if>
    </select>

    <insert id="saveEmpAgencyList">
        /* com.biz.framework.mapper.pages.EmpAgencyMapper.saveEmpAgencyList */
        INSERT INTO EMP_AGENCY(
            CO_CODE
            , EMP_ID
            , AGENCY_ID
        ) VALUES (
            #{loginCoId}
            , #{empId}
            , #{agencyId}
        )
    </insert>

    <select id="checkDupl">
        /* com.biz.framework.mapper.pages.EmpAgencyMapper.checkDupl */
        SELECT COUNT(1)
          FROM EMP_AGENCY
         WHERE CO_CODE  = #{loginCoId}
           AND EMP_ID   = #{empId}
           AND AGENCY_ID    = #{agencyId}
    </select>

    <delete id="deleteEmpAgencyList">
        /* com.biz.framework.mapper.pages.EmpAgencyMapper.deleteEmpAgencyList */
        DELETE FROM EMP_AGENCY
        WHERE CO_CODE   = #{loginCoId}
          AND EMP_ID    = #{empId}
          AND AGENCY_ID  = #{agencyId}
    </delete>
</mapper>
