<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.MileageHisMapper">

    <insert id="saveMileageHis">
        /* com.biz.framework.mapper.pages.MileageHisMapper.saveMileageHis */
        INSERT INTO TB_MILEAGE_HIS
        (
            CO_CODE
            , BIZ_NO
            , SEQ
            , EMP_ID
            , MILEAGE_PREV
            , MILEAGE_AFT
            , CREATED_DATE
            , CREATED_PAGE
            , CREATED_ID
            , SETTLEMENT_SEQ
        ) VALUES
        (
            #{loginCoId}
            , #{bizNo}
            , (SELECT IFNULL(MAX(SEQ), 0) + 1 FROM TB_MILEAGE_HIS MH WHERE MH.CO_CODE = #{loginCoId} AND MH.BIZ_NO = #{bizNo})
            , #{empId}
            , #{mileagePrev}
            , #{mileageAft}
            , NOW()
            , #{createdPage}
            , #{createdId}
            , #{settlementSeq}
        )
    </insert>

    <insert id="addMileageHistory">
        /* com.biz.framework.mapper.pages.MileageHisMapper.addMileageHistory */
        -- 기존 마일리지 조회 및 누적 계산 로직을 반영
        INSERT INTO TB_MILEAGE_HIS (
            CO_CODE,
            BIZ_NO,
            SEQ,
            EMP_ID,
            MILEAGE_PREV,
            MILEAGE_AFT,
            CREATED_DATE,
            CREATED_PAGE,
            CREATED_ID,
            SETTLEMENT_SEQ
        )
        SELECT
           #{loginCoId},
           #{bizNo},
           (SELECT IFNULL(MAX(SEQ), 0) + 1 FROM TB_MILEAGE_HIS MH WHERE MH.CO_CODE = #{loginCoId} AND MH.BIZ_NO = #{bizNo}),
           #{empId},
           -- 사용 마일리지 : 해당 사용자와 사업자의 누적 마일리지 합산
           #{mileageAmt},
           -- 누적 마일리지 : 이전 마일리지 + savemileage
           (
               SELECT IFNULL((SELECT MILEAGE_AFT
                              FROM TB_MILEAGE_HIS
                              WHERE CO_CODE = #{loginCoId}
                                AND BIZ_NO = #{bizNo}
                              ORDER BY SEQ DESC
                   LIMIT 1 ), 0)
           ) + #{mileageAmt},
           NOW(),
           #{createdPage},
           #{createdId},
           #{settlementSeq}
       FROM DUAL

    </insert>


</mapper>
