<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.MileageHisMapper">

    <insert id="saveMileageHis">
        /* com.biz.framework.mapper.pages.MileageHisMapper.saveMileageHis */
        INSERT INTO TB_MILEAGE_HIS
        (
            BIZ_NO
            , EMP_ID
            , MILEAGE_PREV
            , MILEAGE_AFT
            , CREATED_DATE
            , CREATED_PAGE
            , CREATED_ID
        ) VALUES
        (
            #{bizNo}
            , #{empId}
            , #{mileagePrev}
            , #{mileageAft}
            , NOW()
            , #{createdPage}
            , #{createdId}
        )
    </insert>

    <delete id="deleteMileageHisByBizNoEmpId">
        /* com.biz.framework.mapper.pages.MileageHisMapper.deleteMileageHisByBizNoEmpId */
        DELETE FROM TB_MILEAGE_HIS
        WHERE BIZ_NO     = #{bizNo}
          AND EMP_ID     = #{empId}
    </delete>
</mapper>
