<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.MyprofileMapper">

    <select id="findMyprofile">
        /* com.biz.framework.mapper.pages.MyprofileMapper.findAllEmps */
        SELECT EMP.EMP_ID
             , EMP.EMP_NAME
             , EMP.ENTRANCE_DATE
             , EMP.GRADE_CODE
             , CD.CODE_NAME      AS GRADE_NAME
             , EMP.EMP_TEL
             , EMP.EMP_MAIL
        FROM TB_EMP EMP
        LEFT JOIN CDBASE      CD
             ON CD.CO_CODE        = EMP.CO_CODE
            AND CD.PATTERN_CODE   = 'CD01'
            AND CD.BASE_CODE      = EMP.GRADE_CODE
         WHERE EMP.CO_CODE       = #{loginCoId}
           AND EMP.EMP_ID        = #{loginUserId}
    </select>

    <update id="updateEmp">
        /* com.biz.framework.mapper.pages.MyprofileMapper.updateEmp */
        UPDATE TB_EMP
        SET EMP_NAME          = #{empName}
          , EMP_TEL           = #{empTel}
          , EMP_MAIL          = #{empMail}
        WHERE CO_CODE   = #{loginCoId}
          AND EMP_ID    = #{empId}
    </update>

    <select id="checkPassword" resultType="int">
        /* com.biz.framework.mapper.pages.MyprofileMapper.checkPassword */
        SELECT
            CASE
                WHEN PASSWORD = #{curPassword} THEN 1
            ELSE 0 END AS CHK
        FROM TB_EMP
        WHERE CO_CODE = #{loginCoId}
          AND EMP_ID  = #{empId}
    </select>

    <update id="changePassword">
        /* com.biz.framework.mapper.pages.MyprofileMapper.changePassword */
        UPDATE TB_EMP
            SET PASSWORD = #{password}
        WHERE CO_CODE   = #{loginCoId}
          AND EMP_ID    = #{empId}
    </update>
</mapper>
