<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.PayrollmngMapper">

    <select id="findPayrollList" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.PayrollmngMapper.findPayrollList */
        <![CDATA[
        SELECT
            SM.CONFIRM_SEQ,
            ST.SETTLEMENT_SEQ,
            ST.PROD_ID,
            PR.PROD_NAME,
            ST.USER_ID,
            EP.EMP_NAME,
            ST.CUST_ID,
            CU.CUST_NAME,
            ST.REQ_DATE,
            ST.PROD_AMT,
            ST.SALE_AMT,
            ST.INFLOW_CNT,
            ST.REQ_GUBUN,
            ST.EXPECT_AMT,
            ST.EXPECT_RATE_AMT,
            DATE_FORMAT(ST.DATE_WORK_FROM, '%Y-%m-%d') AS DATE_WORK_FROM,
            DATE_FORMAT(ST.DATE_WORK_TO, '%Y-%m-%d') AS DATE_WORK_TO,
            ST.WORK_DAY,
            IFNULL(ST.INCENTIVE_RATE, 0) AS INCENTIVE_RATE,
            ST.SALE_TOTAL_AMT,
            CAST(SM.CONFIRM_AMT - SM.CONFIRM_MILEAGE AS UNSIGNED) AS CONFIRM_AMT,
            CAST((ST.SALE_TOTAL_AMT - ST.PROD_TOTAL_AMT) * 1.1 AS UNSIGNED) AS CONFIRM_COST_AMT,
            SM.CONFIRM_RATE_AMT,
            ST.REFUND_IND,
            SM.ATCH_ID,
            CD.CODE_NAME AS REQ_GUBUN_NAME,
            SM.TAX_IND,
            DATE_FORMAT(CONCAT(SM.PAY_YM, '01'), '%Y-%m') AS PAY_YM
        FROM SETTLEMENTMST      SM
        JOIN SETTLEMENT         ST
          ON ST.CO_CODE         = SM.CO_CODE
         AND ST.SETTLEMENT_SEQ  = SM.SETTLEMENT_SEQ
        LEFT JOIN TB_CUSTOMER   CU
          ON ST.CO_CODE         = CU.CO_CODE
         AND ST.CUST_ID         = CU.BIZ_NO
        LEFT JOIN TB_PRODUCTS   PR
          ON ST.CO_CODE         = PR.CO_CODE
         AND ST.PROD_ID         = PR.PROD_ID
        LEFT JOIN TB_EMP        EP
          ON ST.CO_CODE         = EP.CO_CODE
         AND ST.USER_ID         = EP.EMP_ID
        LEFT JOIN CDBASE        CD
          ON ST.CO_CODE         = CD.CO_CODE
         AND CD.PATTERN_CODE    = 'SE01'
         AND ST.REQ_GUBUN    = CD.BASE_CODE
       WHERE 1=1
         AND ST.CO_CODE         = #{loginCoId}
         AND (DATE_FORMAT(#{searchPayYmStart} , '%Y%m%d') <= ST.DATE_WORK_FROM)
         AND (DATE_FORMAT(#{searchPayYmEnd} , '%Y%m%d') >= ST.DATE_WORK_TO)
        ]]>
        <if test='prodName != null  and prodName != "" '>
            AND PR.PROD_NAME   LIKE CONCAT('%',#{prodName} ,'%')
        </if>
        <if test='empName != null  and empName != "" '>
            AND EP.EMP_NAME   LIKE CONCAT('%',#{empName} ,'%')
        </if>
        <if test='custName != null  and custName != "" '>
            AND CU.CUST_NAME  LIKE CONCAT('%',#{custName} ,'%')
        </if>
        <if test="searchPayGubun != null and searchPayGubun != ''">
            <choose>
                <when test="searchPayGubun == 'Y'">
                    AND SM.PAY_YM IS NOT NULL
                </when>
                <when test="searchPayGubun == 'N'">
                    AND (SM.PAY_YM IS NULL OR SM.PAY_YM = '')
                </when>
                <otherwise>
                </otherwise>
            </choose>
        </if>
        ORDER BY CONFIRM_SEQ, ST.REQ_DATE
    </select>

    <update id="confirmApplypayment" parameterType="list">
        /* com.biz.framework.mapper.pages.ApplypaymentapprmngMapper.confirmApplypayment */
        UPDATE SETTLEMENTMST
            SET PAY_YM      = REPLACE(#{payYm}, '-', '')
        WHERE CO_CODE       = #{loginCoId}
        AND CONFIRM_SEQ     = #{confirmSeq}
    </update>

    <delete id="checkPayrollInd">
        /* com.biz.framework.mapper.pages.ApplypaymentMapper.checkPayrollInd */
        SELECT COUNT(*)
          FROM SETTLEMENT
         WHERE CO_CODE          = #{loginCoId}
           AND SETTLEMENT_SEQ   = #{settlementSeq}
           AND PAY_YM IS NOT NULL
           AND PAY_YM           != ''
    </delete>

    <insert id="cancelApplypayment">
        /* com.biz.framework.mapper.pages.ApplypaymentapprmngMapper.confirmApplypayment */
        UPDATE SETTLEMENT
           SET CONFIRM_AMT          = 0,
               CONFIRM_RATE_AMT     = 0,
               SAVE_MILEAGE         = 0,
               STATUS               = '3'
         WHERE CO_CODE              = #{loginCoId}
           AND SETTLEMENT_SEQ       = #{settlementSeq}
    </insert>

</mapper>
