<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.PreMileageReqMapper">

    <select id="findPreMileageReq">
        /* com.biz.framework.mapper.pages.PreMileageReqMapper.findPreMileageReq */
        SELECT MR.REQ_NO
             , MR.USER_ID
             , TE.EMP_NAME  AS USER_NAME
             , MR.CUST_ID
             , TC.CUST_NAME
             , MR.REQ_AMT
             , MR.APPLY_STATUS
             , SE04.CODE_NAME   AS APPLY_STATUS_NM
             , DATE_FORMAT(MR.REQ_DATE, '%Y-%m-%d') AS REQ_DATE
             , MR.REQ_GUBUN
             , SE05.CODE_NAME      AS REQ_GUBUN_NM
             , TC.MILEAGE       AS REST_MILEAGE
          FROM MILEAGE_REQ      MR
          LEFT JOIN TB_EMP      TE
            ON TE.EMP_ID        = MR.USER_ID
          LEFT JOIN TB_CUSTOMER TC
            ON TC.BIZ_NO       = MR.CUST_ID
          LEFT JOIN CDBASE        SE05
            ON SE05.PATTERN_CODE     = 'SE05'
           AND SE05.BASE_CODE        = MR.REQ_GUBUN
          LEFT JOIN CDBASE      SE04
            ON SE04.PATTERN_CODE   = 'SE04'
           AND SE04.BASE_CODE      = MR.APPLY_STATUS
         WHERE 1=1
           AND DATE_FORMAT(MR.REQ_DATE, '%Y%m%d') BETWEEN DATE_FORMAT(#{searchStartDate} , '%Y%m%d') AND DATE_FORMAT(#{searchEndDate} , '%Y%m%d')
        <if test='reqNo != null  and reqNo != "" '>
            AND MR.REQ_NO   LIKE CONCAT('%',#{reqNo} ,'%')
        </if>
        <if test='searchEmplName != null  and searchEmplName != "" '>
            AND TE.EMP_NAME   LIKE CONCAT('%',#{searchEmplName} ,'%')
        </if>
        <if test='searchApplyStatus != null  and searchApplyStatus != "" '>
            AND MR.APPLY_STATUS   = #{searchApplyStatus}
        </if>
        <if test='searchCustName != null  and searchCustName != "" '>
            AND TC.CUST_NAME   LIKE CONCAT('%',#{searchCustName} ,'%')
        </if>
        <if test='searchReqGubun != null  and searchReqGubun != "" '>
            AND MR.REQ_GUBUN   = #{searchReqGubun}
        </if>
    </select>

    <insert id="saveMileageReq">
        /* com.biz.framework.mapper.pages.PreMileageReqMapper.saveMileageReq */
        <selectKey resultType="String" keyProperty="reqNo" order="BEFORE">
            SELECT CONCAT(DATE_FORMAT(NOW(), '%Y%m%d'), '-', LPAD(IFNULL(COUNT(REQ_NO), 0) + 1, '4', '0')) AS REQ_NO
            FROM MILEAGE_REQ
            WHERE REQ_DATE = DATE_FORMAT(NOW(), '%Y-%m-%d')
        </selectKey>
        INSERT INTO MILEAGE_REQ(
            REQ_NO
            , USER_ID
            , CUST_ID
            , REQ_AMT
            , APPLY_STATUS
            , REQ_DATE
            , REQ_GUBUN
        ) VALUES (
            #{reqNo}
            , #{userId}
            , #{custId}
            , #{reqAmt}
            , #{applyStatus}
            , STR_TO_DATE(#{reqDate}, '%Y-%m-%d')
            , #{reqGubun}
        )
    </insert>

    <update id="updateMileageReq">
        /* com.biz.framework.mapper.pages.PreMileageReqMapper.updateMileageReq */
        UPDATE MILEAGE_REQ
           SET REQ_AMT      = #{reqAmt}
             , APPLY_STATUS  = #{applyStatus}
             , REQ_DATE     = DATE_FORMAT(NOW(), '%Y-%m-%d')
             , REQ_GUBUN    = #{reqGubun}
         WHERE REQ_NO       = #{reqNo}
           AND USER_ID      = #{userId}
           AND CUST_ID      = #{custId}
    </update>

    <delete id="deletePreMileageReq">
        /* com.biz.framework.mapper.pages.PreMileageReqMapper.deletePreMileageReq */
        DELETE FROM MILEAGE_REQ
        WHERE REQ_NO       = #{reqNo}
          AND USER_ID      = #{userId}
          AND CUST_ID      = #{custId}
    </delete>

    <select id="checkAlreadyApprov">
        /* com.biz.framework.mapper.pages.PreMileageReqMapper.checkAlreadyApprov */
        SELECT COUNT(1)
          FROM MILEAGE_REQ
        WHERE REQ_NO       = #{reqNo}
          AND USER_ID      = #{userId}
          AND CUST_ID      = #{custId}
          AND APPLY_STATUS != '01'
    </select>
</mapper>
