<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.biz.framework.mapper.pages.RefundMapper">

    <select id="findRefund" resultType="CamelCaseMap">
        /* com.biz.framework.mapper.pages.RefundMapper.findRefund */
        SELECT
            ST.SETTLEMENT_SEQ   AS REFUND_SETTLEMENT_SEQ,
            ST2.SETTLEMENT_SEQ,
            ST.PROD_ID,
            PR.PROD_NAME,
            ST.USER_ID,
            EP.EMP_NAME,
            ST.CUST_ID,
            CU.CUST_NAME,
            ST.REFUND_WORK_DAY,
            ST.REQ_DATE,
            ST2.PROD_AMT,
            ST2.SALE_AMT,
            ST.REFUND_INFLOW_CNT,
            ST.REFUND_SALE_TOTAL_AMT,
            ST.REFUND_PROD_TOTAL_AMT,
            ST.REFUND_EXPECT_RATE_AMT,
            ST2.INFLOW_CNT,
            ST2.SALE_TOTAL_AMT,
            ST.SALE_TOTAL_AMT   AS REFUND_SALE_TOTAL_AMT,
            ST.EXPECT_AMT,
            ST.EXPECT_RATE_AMT,
            ST.REQ_GUBUN,
            DATE_FORMAT(ST2.DATE_WORK_FROM, '%Y-%m-%d')     AS DATE_WORK_FROM,
            DATE_FORMAT(ST2.DATE_WORK_TO, '%Y-%m-%d')       AS DATE_WORK_TO,
            DATE_FORMAT(ST.REFUND_DATE, '%Y-%m-%d')         AS REFUND_DATE,
            ST2.WORK_DAY,
            ST.WORK_DAY     AS REFUND_WORK_DAY,
            IFNULL(ST.INCENTIVE_RATE, 0) AS INCENTIVE_RATE,
            ST.REFUND_IND,
            ST.APPLY_STATUS,
            ST.EXPECT_AMT,
            ST.EXPECT_RATE_AMT,
            CD.CODE_NAME    AS GUBUN_NAME,
            ST.GUBUN,
            SE04.CODE_NAME      AS APPLY_STATUS_NAME
        FROM SETTLEMENT         ST      -- 환불요청
        LEFT JOIN SETTLEMENT    ST2     -- 전산요청
          ON ST2.CO_CODE        = ST.CO_CODE
         AND ST2.SETTLEMENT_SEQ = ST.REFUND_SETTLEMENT_SEQ
        LEFT JOIN TB_CUSTOMER   CU
          ON ST.CO_CODE         = CU.CO_CODE
         AND ST.CUST_ID         = CU.BIZ_NO
        LEFT JOIN TB_PRODUCTS   PR
          ON ST.CO_CODE         = PR.CO_CODE
         AND ST.PROD_ID         = PR.PROD_ID
        LEFT JOIN TB_EMP        EP
          ON ST.CO_CODE         = EP.CO_CODE
         AND ST.USER_ID         = EP.EMP_ID
        LEFT JOIN CDBASE 	    CD
          ON CD.CO_CODE         = ST.CO_CODE
         AND CD.PATTERN_CODE    = 'SE02'
         AND CD.BASE_CODE	    = ST.GUBUN
        LEFT JOIN CDBASE        SE04
          ON SE04.CO_CODE       = ST.CO_CODE
         AND SE04.PATTERN_CODE  = 'SE04'
         AND SE04.BASE_CODE     = ST.APPLY_STATUS
       WHERE 1=1
         AND ST.CO_CODE         = #{loginCoId}
         AND ST.USER_ID         = #{loginUserId}
         AND ST.REFUND_IND      = 'Y'
         AND ST.REFUND_DATE BETWEEN #{searchStartDate} AND #{searchEndDate}
        <if test='custName != null  and custName != "" '>
            AND CU.CUST_NAME LIKE CONCAT('%', #{custName}, '%')
        </if>
        <if test='prodName != null  and prodName != "" '>
            AND PR.PROD_NAME LIKE CONCAT('%', #{prodName}, '%')
        </if>
    </select>

    <select id="findSettlement">
        /* com.biz.framework.mapper.pages.RefundMapper.findSettlement */
        SELECT ST.SETTLEMENT_SEQ
             , ST.PROD_ID
             , PR.PROD_NAME
             , ST.USER_ID
             , EP.EMP_NAME
             , ST.CUST_ID
             , CU.CUST_NAME
             , ST.REQ_DATE
             , ST.PROD_AMT
             , ST.SALE_AMT
             , ST.INFLOW_CNT
             , ST.SALE_TOTAL_AMT
             , ST.REQ_GUBUN
             , ST.EXPECT_AMT
             , ST.EXPECT_RATE_AMT
             , ST.USE_MILEAGE
             , DATE_FORMAT(ST.DATE_WORK_FROM, '%Y-%m-%d') AS DATE_WORK_FROM
             , DATE_FORMAT(ST.DATE_WORK_TO, '%Y-%m-%d') AS DATE_WORK_TO
             , ST.WORK_DAY
             , IFNULL(ST.INCENTIVE_RATE, 0) AS INCENTIVE_RATE
             , ST.REFUND_IND
             , CD.CODE_NAME         AS STATUS_NAME
             , ST.PROD_TOTAL_AMT
             , ST.MILEAGE_USE_IND
             , ST.EXIST_MILEAGE
             , ST.GUBUN
          FROM SETTLEMENT           ST
          LEFT JOIN TB_CUSTOMER     CU
            ON ST.CO_CODE           = CU.CO_CODE
           AND ST.CUST_ID           = CU.BIZ_NO
          LEFT JOIN TB_PRODUCTS     PR
            ON ST.CO_CODE           = PR.CO_CODE
           AND ST.PROD_ID           = PR.PROD_ID
          LEFT JOIN TB_EMP          EP
            ON ST.CO_cODE           = EP.CO_CODE
           AND ST.USER_ID           = EP.EMP_ID
          LEFT JOIN CDBASE          CD
            ON CD.CO_CODE           = ST.CO_CODE
           AND CD.PATTERN_CODE      = 'SE02'
           AND CD.BASE_CODE         = ST.APPLY_STATUS
         WHERE 1=1
           AND ST.CO_CODE           = #{loginCoId}
           AND ST.USER_ID           = #{loginUserId}
           AND IFNULL(ST.REFUND_IND, 'N')    != 'Y'
           AND ST.APPLY_STATUS      = '02'  -- 승인완료(SE04)
           AND STR_TO_DATE(#{searchStartDate}, '%Y-%m-%d') <![CDATA[<=]]> ST.DATE_WORK_TO
           AND STR_TO_DATE(#{searchEndDate}, '%Y-%m-%d') >= ST.DATE_WORK_FROM
           AND NOT EXISTS(
             SELECT ST2.SETTLEMENT_SEQ
               FROM SETTLEMENT                  ST2
              WHERE ST2.CO_CODE                 = ST.CO_CODE
                AND ST2.REFUND_SETTLEMENT_SEQ   = ST.SETTLEMENT_SEQ
            )
        <if test='settlementSeq != null  and settlementSeq != "" '>
            AND ST.SETTLEMENT_SEQ LIKE CONCAT('%', #{settlementSeq}, '%')
        </if>
    </select>
</mapper>
