<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
<!--      layout:decorate="~{layout/framelayout}">-->


<th:block th:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>대행사 정산요청</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">대행사관리</li>
                            <li class="breadcrumb-item active" aria-current="page">대행사 정산요청</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pt-3 pb-3" id="searchForm">
                            <!--                            <div class="row align-items-center p-2" style="">-->
                            <div class="row align-items-center p-2 search-area custom-bg">
                                <div class="col-md-11">
                                    <div class="form-group row mb-0 align-items-center text-center">
                                        <label class="col-form-label col-lg-1 col-3">날짜</label>
                                        <div class="col-lg-3 col-9">
                                            <div class="d-flex">
                                                <input type="date" class="form-control form-control-sm me-2" id="searchStartDate">
                                                <input type="date" class="form-control form-control-sm" id="searchEndDate">
                                            </div>
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">대행사명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="searchAgencyName" class="form-control form-control-sm" name="searchAgencyName" placeholder="대행사명">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-end">
                                    <a href="#" class="btn btn-primary cursor-auto" id="searchBtn">조회</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center gap-3">
                            <h4 class="card-title mb-0">대행사 정산요청 내역</h4>
                            <span class="data-count">[총 <span id="data-count-value">0</span>건]</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end" style="width: 100%;">
                                <div class="d-flex pb-3 gap-1">
                                    <button type="button" class="btn btn-primary btn-m" id="modalAddBtn" data-bs-toggle="modal" data-bs-target="#addModal">추가</button>
                                    <button type="button" class="btn btn-secondary btn-m" id="btnCancel">요청취소</button>
                                    <button type="button" class="btn btn-secondary btn-m" id="btnDeleteAgencyReqGrid">삭제
                                    </button>
                                </div>
                            </div>
                            <div id="agencyReqGrid" class="tui-grid"></div>
                        </div>

                        <div class="modal fade" id="addModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                 role="document">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header bg-primary text-white">
                                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">대행사 정산요청 상세정보</h5>
                                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form">
                                            <!-- 기본 정보 섹션 -->
                                            <fieldset class="border p-3 rounded">
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">대행사</label>
                                                            <th:block th:replace="components/agency-select :: agency-select(
                                                                id='agencyId',
                                                                name='agencyId')"></th:block>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">인센티브율</label>
                                                            <input type="text" id="incentiveRate" name="incentiveRate" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">상품</label>
                                                            <select class="choices prod-select" id="prodId" name="prodId"></select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">상품단가</label>
                                                            <input type="text" id="prodAmt" name="prodAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">유입수</label>
                                                            <input type="text" id="inflowCnt" class="form-control is-num text-end calc-settlement-amt" name="inflowCnt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">정산액</label>
                                                            <input type="text" id="saleTotalAmt" class="form-control is-num text-end" name="saleTotalAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">입금액</label>
                                                            <input type="text" id="expectAmt" class="form-control is-num text-end" name="expectAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">진행상태</label>
                                                            <select id="applyStatus" name="applyStatus" class="form-select form-control-sm" disabled>
                                                            </select>
                                                        </div>
                                                    </div>

                                                    <input type="hidden" id="agencySeq" name="agencySeq">
                                                    <input type="hidden" id="userId" name="userId">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer bg-light">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x"></i> 닫기
                                        </button>
                                        <button type="button" class="btn btn-primary ms-1" id="modalSaveBtn">
                                            <i class="bx bx-check"></i> 저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:inline="javascript">
        (function() {
            const apiUrl = '/api/pages/agencyreq';
            const _modalPrefix = '_modal_';

            let agencyReqGrid;
            let $isNew = 'N';

            let _userId;
            let _userNm;

            $(document).ready(function () {

                // 정산요청자(담당자, 로그인 사용자) 정보
                _userId = /*[[${userId}]]*/'';
                _userNm = /*[[${userNm}]]*/'';

                const nowYear = new Date().getFullYear();
                const nowMonth = new Date().getMonth();

                const startDate = new Date(nowYear, nowMonth, 1); // 당월 1일
                const endDate = new Date(nowYear, nowMonth + 1, 0); // 현재 달의 마지막 날

                // 포맷팅된 날짜 값을 input에 설정
                $("#searchStartDate").val(formatDate(startDate));
                $("#searchEndDate").val(formatDate(endDate));

                findInitCodes();
                initEvent();
                initAgencyReqGrid();

                $('.is-num').bind('keyup', numberKeyupEvent);

                // 상품 select 초기화
                initProductSelect();
            });

            function initProductSelect() {
                $.ajax({
                    url: apiUrl + "/find/product/list",
                    data: null,
                    type: 'GET',
                    success: (result) => {

                        const modalProdId = document.getElementById('prodId');

                        // 기존 Choices 인스턴스 제거
                        if (modalProdId.choicesInstance) {
                            modalProdId.choicesInstance.destroy();
                            modalProdId.choicesInstance = null;
                        }

                        modalProdId.innerHTML = `<option value="" disabled selected></option>`;


                        if(!isNull(result)) {

                            result.forEach(product => {
                                const option = document.createElement('option');
                                option.value = product.prodId;
                                option.textContent = product.prodName;
                                modalProdId.appendChild(option);
                            });

                            // Choices 재초기화
                            modalProdId.choicesInstance = new Choices(modalProdId, {
                                placeholder: true,
                                placeholderValue: '',
                                itemSelectText: '선택',
                            });

                            // **선택값 초기화**
                            modalProdId.value = '';
                            modalProdId.choicesInstance.setChoiceByValue('');


                        }
                    }
                });
            }

            const findInitCodes = async () => {
                const param =
                    [
                        {"patternCode": "SE04"}
                    ];

                const result = await CommonJs.initFindCodes(param);
                findCodeCallback(result);
            }

            const findCodeCallback = (result) => {
                const options = {
                    value: 'baseCode',
                    text: 'codeName',
                    items: result.SE04,
                    placeholder: '선택'
                };
                $('#applyStatus').addOptions(options);
            }

            const initEvent = () => {
                $("#modalAddBtn").on('click', function() {
                    openPgmModal('1');
                });

                $("#modalSaveBtn").on('click', fn_saveAgencyReqGrid);

                $("#btnDeleteAgencyReqGrid").on('click', fn_deleteAgencyReqGrid);

                $("#searchBtn").on('click', searchAgencyReqGrid);

                // 숫자 input 콤마 형식
                $(".priceformat").on('input', function () {
                    var obj = $(this);
                    obj.val(formatNumber(obj.val()));
                });

                $(".calc-settlement-amt").on('input', function() {
                    saleSum();
                })

                // 대행사 정보 변경할 때마다 대행사별 상품정보 및 인센티브율 조회
                $('#agencyId').on("change", function () {
                    findAgencyInfo(this.value);
                })

                $('#prodId').on("change", function () {
                    findProdAmt(this.value);
                })


                $("#btnCancel").on('click', cancel);
            }

            const findAgencyInfo = (param) => {
                $.ajax({
                    url: apiUrl + "/find/incentiveRate",
                    data: {agencyId: param},
                    type: 'GET',
                    success: (result) => {
                        if(!isNull(result))
                        {
                            $('#incentiveRate').val(result.agencyIncentiveRate);

                            saleSum();
                        }
                    }
                });

                $.ajax({
                    url: apiUrl + "/find/agency/product/list",
                    data: {agencyId: param},
                    type: 'GET',
                    success: (result) => {

                        const modalProdId = document.getElementById('prodId');

                        // 기존 Choices 인스턴스 제거
                        if (modalProdId.choicesInstance) {
                            modalProdId.choicesInstance.destroy();
                            modalProdId.choicesInstance = null;
                        }

                        modalProdId.innerHTML = `<option value="" disabled selected></option>`;


                        if(!isNull(result)) {

                            result.forEach(product => {
                                const option = document.createElement('option');
                                option.value = product.prodId;
                                option.textContent = product.prodName;
                                modalProdId.appendChild(option);
                            });

                            // Choices 재초기화
                            modalProdId.choicesInstance = new Choices(modalProdId, {
                                placeholder: true,
                                placeholderValue: '',
                                itemSelectText: '선택',
                            });

                            // **선택값 초기화**
                            modalProdId.value = '';
                            modalProdId.choicesInstance.setChoiceByValue('');

                            $("#prodAmt").val('');

                            saleSum();

                        }
                    }
                });
            }

            const findProdAmt = (param) => {
                $.ajax({
                    url: apiUrl + "/find/prodAmt",
                    data: {prodId: param},
                    type: 'GET',
                    success: (result) => {
                        if(!isNull(result))
                        {
                            $('#prodAmt').val(formatNumber(result.prodAmt));

                            saleSum();
                        }
                    }
                });
            }

            function saleSum() {
                let formData = $('#addModal').getData();

                const inflowCnt = formData.inflowCnt; // 유입수
                const prodAmt = formData.prodAmt;     // 상품가
                const incentiveRate = formData.incentiveRate;  // 인센티브율

                const saleTotalAmt = Math.floor((inflowCnt * prodAmt));
                $('#saleTotalAmt').val(formatNumber(saleTotalAmt));

                const expectAmt = Math.floor(saleTotalAmt * incentiveRate);
                $('#expectAmt').val(formatNumber(expectAmt));
            }

            const initAgencyReqGrid = () => {
                var columns = new CustomTuiGrid()
                    .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기
                    .enableCheckbox(true) // 체크박스 활성화
                    .add('agencySeq', '대행사요청번호', 170, {})
                    .add('agencyName', '대행사명', 100, {})
                    .add('prodName', '상품명', 100, {})
                    .addNumber('inflowCnt', '유입수', 120, {align: 'right', comma: true})
                    .addNumber('prodAmt', '상품단가', 120, {align: 'right', comma: true})
                    .addNumber('saleTotalAmt', '정산액', 120, {align: 'right', comma: true})
                    .add('reqDate', '요청일', 120, {})
                    .addNumber('expectAmt', '입금액', 120, {align: 'right', comma: true})
                    .add('applyStatusName', '진행상태', 150, {})
                    .add('agencyId', '대행사ID', 'auto', {visible: false})
                    .add('incentiveRate', '적용인센티브율', 'auto', {visible: false})
                    .add('applyStatus', '진행상태', 150, {visible: false})
                ;

                agencyReqGrid = columns.init('agencyReqGrid', [])
                    .render();

                // 더블 클릭 이벤트 설정
                agencyReqGrid.getGrid().on('dblclick', function (ev) {
                    openPgmModal('2');
                });

                searchAgencyReqGrid();
            }

            const searchAgencyReqGrid = () => {
                let startDate = $("#searchStartDate").val();
                let endDate = $("#searchEndDate").val();

                if (isNull(startDate) || isNull(endDate)) {
                    alert("날짜를 입력해주세요");
                    return;
                }


                agencyReqGrid.clear();

                const param = {
                    searchStartDate: $("#searchStartDate").val(),
                    searchEndDate: $("#searchEndDate").val(),
                    agencyName: $("#searchAgencyName").val(),
                };

                $.ajax({
                    url: apiUrl,
                    data: param,
                    type: 'GET',
                    success: (result) => {
                        agencyReqGrid.bind(result);
                    }
                });
            }

            const openPgmModal = (param) => {
                clearForm('addModal');

                if (param === '1') {
                    $isNew = true;

                    ableBtn(false, _modalPrefix);

                    document.getElementById('agencyId').choicesInstance.enable();
                    $('#applyStatus').val('01');

                } else {
                    $isNew = false;

                    const focusedCell = agencyReqGrid.getGrid().getFocusedCell();
                    const data = agencyReqGrid.getGrid().getRow(focusedCell.rowKey);

                    $('#addModal').bindForm(data);

                    // 승인요청인 경우 수정 가능
                    if (data.applyStatus === 'C') {
                        ableBtn(false, _modalPrefix);
                    } else {
                        ableBtn(true, _modalPrefix);
                    }

                }

                $('#addModal').modal('show');

            }

            const ableBtn = (flag, prefix) => {
                $('#inflowCnt').attr('disabled', flag);

                if (flag) {
                    document.getElementById('agencyId').choicesInstance.disable();
                    document.getElementById('prodId').choicesInstance.disable();
                } else {
                    document.getElementById('agencyId').choicesInstance.enable();
                    document.getElementById('prodId').choicesInstance.enable();
                }

                $("#modalSaveBtn").attr('disabled', flag);

            }

            const fn_saveAgencyReqGrid = () => {
                let param = $('#addModal').getData();

                if (isNull(param.agencyId)) {
                    alert("대행사를 선택해주세요.");
                    return false;
                }

                if (isNull(param.prodId)) {
                    alert("상품을 선택해주세요.");
                    return false;
                }

                if (isNull(param.inflowCnt)) {
                    alert("유입수를 입력해주세요.");
                    return false;
                }

                if (isNull(param.prodAmt)) {
                    alert("상품가를 입력해주세요.");
                    return false;
                }

                if ($isNew) {
                    param.rowStatus = 'C'
                } else {
                    param.rowStatus = 'U'
                }


                if (confirm("데이터를 저장하시겠습니까?")) {
                    return new Promise((resolve, reject) => {
                        $.ajax({
                            url: apiUrl,
                            data: JSON.stringify(param),
                            contentType: 'application/json',
                            type: 'POST',
                            success: (result) => {
                                if (result > 0) {
                                    alert("저장이 완료되었습니다.");
                                    $("#addModal").modal('hide');
                                    searchAgencyReqGrid();
                                } else {
                                    alert("저장에 실패하였습니다.");
                                    return false;
                                }
                            }, error: (xhr, status, error) => {
                                alert(xhr.responseText);
                                return false;
                            }
                        })
                    });
                }
            }

            const fn_deleteAgencyReqGrid = () => {

                const checkedRows = agencyReqGrid.getCheckedRows();
                if (checkedRows.length <= 0) {
                    alert("삭제할 행을 선택해주세요.");
                    return;
                }

                // 승인요청건이 아닌 항목을 확인
                const invalidRows = checkedRows.filter(el => el.applyStatus !== '01');
                if (invalidRows.length > 0) {
                    alert("승인요청건만 삭제가 가능합니다.");
                    return;
                }

                const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
                if (confirmResult) {

                    // agencyReqDtoList 형식에 맞게 객체로 변환
                    var requestData = {
                        agencyReqDtoList: checkedRows // 배열 그대로 전달
                    };

                    $.ajax({
                        url: apiUrl,
                        data: JSON.stringify(requestData),
                        contentType: 'application/json',
                        type: 'DELETE',
                        success: (result) => {
                            if (result > 0) {
                                alert("삭제가 완료되었습니다.");
                                searchAgencyReqGrid();
                            } else {
                                alert("삭제에 실패하였습니다.");
                                searchAgencyReqGrid();
                            }
                        }, error: (xhr, status, error) => {
                            alert(xhr.responseText);

                        }
                    })
                }
            }

            function cancel() {
                const checkedRows = agencyReqGrid.getCheckedRows();
                if (checkedRows.length <= 0) {
                    alert("요청취소할 행을 선택해주세요.");
                    return;
                }

                // 승인요청건이 아닌 항목을 확인
                const invalidRows = checkedRows.filter(el => el.applyStatus !== '01');
                if (invalidRows.length > 0) {
                    alert("승인요청건만 요청취소가 가능합니다.");
                    return;
                }

                const confirmResult = confirm("선택한 행의 데이터를 요청취소 하시겠습니까?");
                if (confirmResult) {

                    // agencyReqDtoList 형식에 맞게 객체로 변환
                    var requestData = {
                        agencyReqDtoList: checkedRows // 배열 그대로 전달
                    };

                    $.ajax({
                        url: apiUrl + "/cancel",
                        data: JSON.stringify(requestData),
                        contentType: 'application/json',
                        type: 'POST',
                        success: (result) => {
                            if (result > 0) {
                                alert("요청취소가 완료되었습니다.");
                                searchAgencyReqGrid();
                            } else {
                                alert("요청취소가 실패하였습니다.");
                                searchAgencyReqGrid();
                            }
                        }, error: (xhr, status, error) => {
                            alert(xhr.responseText);

                        }
                    })
                }
            }
        })();

        function clearForm(id) {
            $('#' + id).find('input, select, textarea').each(function () {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 체크 해제
                    $(this).prop('checked', false);
                } else if ($(this).is('select')) {
                    const obj = this;
                    if (obj.classList.contains('choices') && obj.choicesInstance) {
                        // Choices.js가 적용된 select 초기화
                        obj.choicesInstance.setChoiceByValue(''); // 선택값 초기화
                    } else {
                        // 일반 select는 첫 번째 값으로 초기화
                        $(this).val($(this).find('option:first').val());
                    }
                } else {
                    // 나머지 input 및 textarea는 빈 값으로 초기화
                    $(this).val('');
                }
            });
        };
    </script>

</th:block>

<!--</html>-->