<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">


<div layout:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>정산승인관리</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">정산관리</li>
                            <li class="breadcrumb-item active" aria-current="page">정산승인관리</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div id="searchTable" class="table">
                        <div class="card-body pt-3 pb-3" id="searchForm">
<!--                            <div class="row align-items-center p-2" style="">-->
                            <div class="row align-items-center p-2 search-area custom-bg">
                                <div class="col-md-11">
                                    <div class="form-group row mb-0 align-items-center text-center">
                                        <!-- 정산신청일 -->
                                        <div class="col-md-1 text-start">
                                            <label class="col-form-label">정산요청일</label>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="d-flex justify-content-between">
                                                <input type="date" class="form-control form-control-sm me-2" id="searchStartDate" name="searchStartDate">
                                                <input type="date" class="form-control form-control-sm" id="searchEndDate" name="searchEndDate" >
                                            </div>
                                        </div>
                                        <!-- 담당자명 -->
                                        <div class="col-md-1 text-start">
                                            <label class="col-form-label">담당자명</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" id="emplName" name="emplName" class="form-control form-control-sm" placeholder="담당자명">
                                        </div>
                                        <!-- 결재상태 -->
                                        <div class="col-md-1 text-start">
                                            <label class="col-form-label">결재상태</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" id="applyStatus" name="applyStatus">
                                                <option value="" selected>전체</option>
                                                <option value="01" >승인요청</option>
                                                <option value="02">승인완료</option>
                                                <option value="03">승인거절</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-0 align-items-center text-center mt-2">

                                        <!-- 고객명 -->
                                        <div class="col-md-1 text-start">
                                            <label class="col-form-label">고객명</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" id="custName" name="custName" class="form-control form-control-sm" placeholder="고객명">
                                        </div>
                                        <!-- 상품명 -->
                                        <div class="col-md-1 text-start">
                                            <label class="col-form-label">상품명</label>
                                        </div>
                                        <div class="col-md-3">
                                            <input type="text" id="prodName" name="prodName" class="form-control form-control-sm" placeholder="상품명">
                                        </div>
                                        <!-- 요청구분 -->
                                        <div class="col-md-1 text-start">
                                            <label class="col-form-label">요청구분</label>
                                        </div>
                                        <div class="col-md-3">
                                            <select class="form-select" id="reqGubun" name="reqGubun">
                                                <option value="" selected>전체</option>
                                                <option value="AQ">정산요청</option>
                                                <option value="RQ">환불요청</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!-- 조회 버튼 -->
                                <div class="col-md-1 text-end">
                                    <a href="#" class="btn btn-primary" id="searchBtn">조회</a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">정산요청목록</h4>
                        </div>
                        <div class="card-body">
<!--                            <div class="d-flex justify-content-end" style="width: 100%;">-->
<!--                                <div class="d-flex pb-3 gap-1">-->
<!--                                    <button type="button" class="btn btn-primary btn-sm" id="modalAddBtn" data-bs-toggle="modal" data-bs-target="#paymentModal">추가</button>-->
<!--                                    <button type="button" class="btn btn-secondary btn-sm" id="btnDeletePaymentGrid">삭제</button>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div id="paymentGrid" class="tui-grid"></div>
                        </div>

                        <!--정산요청 상세정보-->
                        <div class="modal fade" id="paymentModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header bg-primary text-white">
                                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">요청정보</h5>
                                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form">
                                            <!-- 기본 정보 섹션 -->
                                            <fieldset class="border p-3 rounded">
                                                <legend class="float-none w-auto px-2">정산요청정보</legend>
                                                <div class="row g-3">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="form-label">정산번호</label>
                                                            <div class="d-flex align-items-center">
                                                                <input type="text" class="form-control me-2" id="settlementSeqView" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">담당자</label>
                                                            <input type="text" id="empName" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">고객</label>
                                                            <input type="text" name="custName" class="form-control" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">작업시작일</label>
                                                            <input type="date" id="dateWorkFrom" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">작업종료일</label>
                                                            <input type="date" id="dateWorkTo" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">작업일수</label>
                                                            <input type="number" id="workDay" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">유입수</label>
                                                            <input type="text" id="inflowCnt" class="form-control" disabled>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">상품</label>
                                                            <input type="text" name="prodName" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">상품가</label>
                                                            <input type="text" id="prodAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">판매가</label>
                                                            <input type="text" id="saleAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">판매총액</label>
                                                            <input type="text" id="saleTotalAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>

                                                </div>
                                            </fieldset>

                                            <!-- 정산요청 정보 섹션 -->
                                            <fieldset class="border p-3 rounded mt-4" id="applyView">
                                                <legend class="float-none w-auto px-2">정산금액정보</legend>
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">요청구분</label>
                                                            <input type="text" name="gubunName" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">킵사용금액</label>
                                                            <input type="text" id="useMileage" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">영업이익</label>
                                                            <input type="text" id="costAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">담당자정산예정금액</label>
                                                            <input type="text" name="expectRateAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <!-- 환불요청 정보 섹션 -->
                                            <fieldset class="border p-3 rounded mt-4" id="refundView">
                                                <legend class="float-none w-auto px-2">환불요청정보</legend>
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">요청구분</label>
                                                            <input type="text" name="gubunName" class="form-control" disabled>
                                                        </div>
                                                    </div>
<!--                                                    <div class="col-md-3">-->
<!--                                                        <div class="form-group">-->
<!--                                                            <label class="form-label">정산요청번호</label>-->
<!--                                                            <input type="text" id="refundSettlementSeq" class="form-control is-num text-end" disabled>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">환불요청일</label>
                                                            <input type="text" id="refundDate" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">환불일수</label>
                                                            <input type="text" id="refundWorkDay" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">환불유입수</label>
                                                            <input type="text" id="refundInflowCnt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row g-3">
                                                    <div class="col-md-6">
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">환불금액</label>
                                                            <input type="text" id="refundProdTotalAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">담당자환불수수료</label>
                                                            <input type="text" name="refundExpectRateAmt" class="form-control is-num text-end" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer bg-light">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x"></i> 닫기
                                        </button>
                                        <button type="button" class="btn btn-primary ms-1" id="modalSaveBtn">
                                            <i class="bx bx-check"></i> 저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!--입금정보 상세정보-->
                        <div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="depositModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary text-white">
                                        <h5 class="modal-title text-white" id="depositModalCenterTitle">요청정보</h5>
                                        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form">
                                            <fieldset class="border p-3 rounded">
                                                <legend class="float-none w-auto">판매정보</legend>
                                                <div class="row g-3">
                                                    <input type="hidden" id="settlementSeq">
                                                    <input type="hidden" id="incentiveRate">
                                                    <input type="hidden" id="saveMileage">
                                                    <input type="hidden" id="refundInd">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">상품총액</label>
                                                            <input type="text" id="deposit_prodTotalAmt"  class="form-control is-num text-end" name="deposit_prodTotalAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">판매총액</label>
                                                            <input type="text" id="deposit_saleTotalAmt"  class="form-control is-num text-end" name="deposit_saleTotalAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">영업이익</label>
                                                            <input type="text" id="deposit_costAmt"  class="form-control is-num text-end" name="deposit_costAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">담당자정산금액</label>
                                                            <input type="text" id="deposit_expectRateAmt" class="form-control is-num text-end" name="deposit_expectRateAmt" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="border p-3 rounded mt-4" id="applySet">
                                                <legend class="float-none w-auto">입금정보</legend>
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">입금금액</label>
                                                            <input type="text" id="deposit_confirmAmt" class="form-control is-num text-end" name="deposit_confirmAmt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">판매총액</label>
                                                            <input type="text" id="deposit_confirmMaxAmt" class="form-control is-num text-end" name="deposit_confirmMaxAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">마일리지적립금액</label>
                                                            <input type="text" id="deposit_confirmMileage" class="form-control is-num text-end" name="deposit_confirmMileage" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">담당자정산 확정금액</label>
                                                            <input type="text" id="deposit_confirmRateAmt" class="form-control is-num text-end" name="deposit_confirmRateAmt" disabled>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="border p-3 rounded mt-4" id="refundSet">
                                                <legend class="float-none w-auto">환불정보</legend>
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">환불구분</label>
                                                            <input type="text" id="deposit_gubunName" class="form-control is-num text-center" name="deposit_gubunName" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">환불일수</label>
                                                            <input type="text" id="deposit_refundWorkDay" class="form-control is-num text-end" name="deposit_refundWorkDay" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">환불금액</label>
                                                            <input type="text" id="deposit_refundProdTotalAmt" class="form-control is-num text-end" name="deposit_refundProdTotalAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger">환불수수료</label>
                                                            <input type="text" id="deposit_refundExpectRateAmt" class="form-control is-num text-end" name="deposit_refundExpectRateAmt" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <label class="form-label text-danger" id="guide1"></label>
                                                            <label class="form-label text-danger" id="guide2"></label>
                                                            <label class="form-label text-danger" id="guide3"></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <fieldset class="border p-3 rounded mt-4">
                                                <legend class="float-none w-auto">비고</legend>
                                                <div class="row g-3">
                                                    <div class="col-md-12">
                                                        <div class="form-group">
                                                            <textarea class="form-control" id="deposit_remark" name="deposit_remark" rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer bg-light">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x"></i> 닫기
                                        </button>
                                        <button type="button" class="btn btn-danger ms-1" id="modalDepositRejectBtn">
                                            <i class="bx bx-check"></i> 승인취소
                                        </button>
                                        <button type="button" class="btn btn-primary ms-1" id="modalDepositApprBtn">
                                            <i class="bx bx-check"></i> 승인
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">

        const apiUrl = '/api/pages/applypaymentapprmng';

        let paymentGrid;
        let menuGrid;

        $(document).ready(function() {

            const nowYear = new Date().getFullYear();
            const nowMonth = new Date().getMonth();

            const startDate = new Date(nowYear, nowMonth - 1, 1); // 이전 달 1일
            const endDate = new Date(nowYear, nowMonth + 1, 0); // 현재 달의 마지막 날

            // 포맷팅된 날짜 값을 input에 설정
            $("#searchStartDate").val(formatDate(startDate));
            $("#searchEndDate").val(formatDate(endDate));

            initEvent();
            initPaymentGrid();
        });

        const initEvent = () => {
            $("#searchBtn").on('click', search);

            $("#deposit_confirmAmt").on('input', depositSum);

            $("#modalDepositApprBtn").on('click', apprDeposit);
            $("#modalDepositRejectBtn").on('click', rejectDeposit);
        }

        const apprDeposit = () => {

            const param = {};

            $('#depositModal').find('input, select, input[type="checkbox"]').each((index, item) => {

                var id = item.id.replace("deposit_", "");

                // checkbox일 때
                if ($(item).is(':checkbox')) {
                    param[id] = $(item).prop('checked') ? 'Y' : 'N'; // 체크 여부에 따라 Y 또는 N 설정
                } else {
                    // input일 때의 처리
                    param[id] = item.value.replace(/,/g, ''); // input 값 설정
                }
            });


            if(param.refundInd != "Y") {
                //실제입금액
                var realAmt = param.confirmAmt;

                if (isNull(realAmt)) {
                    alert("입금금액을 입력해주세요.");
                    return false;
                }
            }

            if (confirm("승인 처리하시겠습니까?")) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: apiUrl,
                        data: JSON.stringify(param),
                        contentType: 'application/json',
                        type: 'POST',
                        success: (result) => {
                            if (result > 0) {
                                alert("처리 완료되었습니다.");
                                search();
                                $("#depositModal").modal('hide');
                                return true;
                            } else {
                                alert("처리 도중 실패하였습니다.");
                                return false;
                            }
                        }, error: (xhr, status, error) => {
                            alert(xhr.responseText);
                            return false;
                        }
                    })
                });
            }


        }

        const rejectDeposit = () => {

            const param = {};

            $('#depositModal').find('input, select, input[type="checkbox"]').each((index, item) => {

                var id = item.id.replace("deposit_", "");

                // checkbox일 때
                if ($(item).is(':checkbox')) {
                    param[id] = $(item).prop('checked') ? 'Y' : 'N'; // 체크 여부에 따라 Y 또는 N 설정
                } else {
                    // input일 때의 처리
                    param[id] = item.value.replace(/,/g, ''); // input 값 설정
                }
            });

            if (confirm("승인취소 처리하시겠습니까?")) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: apiUrl + "/cancel",
                        data: JSON.stringify(param),
                        contentType: 'application/json',
                        type: 'POST',
                        success: (result) => {
                            if (result > 0) {
                                alert("승인취소 되었습니다.");
                                search();
                                $("#depositModal").modal('hide');
                                return true;
                            } else {
                                alert("처리 도중 실패하였습니다.");
                                return false;
                            }
                        }, error: (xhr, status, error) => {
                            alert(xhr.responseText);
                            return false;
                        }
                    })
                });
            }
        }

        const initPaymentGrid = () => {


            var columns = new CustomTuiGrid()
                .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기
                .add('settlementSeq', '정산번호', 150, {})
                .add('reqGubunName', '요청구분', 80, {})
                .add('empName', '담당자', 120, {sortable: true})
                .add('custName', '고객명', 120, {sortable: true})
                .add('prodName', '상품명', 120, { align: 'center', sortable: true })
                .addNumber('prodAmt', '상품가', 100, { align: 'right', comma: true})
                .addNumber('saleAmt', '판매가', 100, { align: 'right', comma: true})
                .addNumber('inflowCnt', '유입수', 100, {visible: false})
                .addDate('dateWorkFrom', '작업시작일', 120, {})
                .addDate('dateWorkTo', '작업종료일', 120, {})
                .addDate('workDay', '작업일수', 80, {visible: false})
                .addNumber('prodTotalAmt', '상품총액', 150, {visible: false})
                .addNumber('totalAmt', '(판매/환불)총액', 150, {
                    align: 'right',
                    textColor: 'red',
                    comma: true,
                    summary: {
                        template: valueMap => `합계: ${valueMap.sum.toLocaleString()}`
                    }})
                .add('gubunName', '요청구분', 120, {})
                .addNumber('saleTotalAmt', '판매총액', 150, {
                    visible: false
                })
                .addNumber('confirmAmt', '입금액', 150, {
                    visible: false
                })
                .addButton('action', '입금여부', 100, {
                    buttonText: '확인',
                    textColor: 'red',
                    onClick: (rowData, rowKey) => {
                        openDepositModal(rowData);
                    }
                })
                .add('statusName', '진행상태', 80, {})
                .add('useMileage', '사용마일리지', 0, {
                    visible: false
                })
                .add('existMileage', '기존마일리지', 0, {
                    visible: false
                })
                .add('incentiveRate', '직원 인센율', 0, {
                    visible: false
                })
                .add('comfirmRateAmt', '확정수수료', 0, {
                    visible: false
                })
                .add('reqGubun', '요청구분', 0, {
                    visible: false
                })
                .add('confirmMileage', '적립마일리지', 0, {
                    visible: false
                })
                .add('confirmrRateAmt', '확정수수료', 0, {
                    visible: false
                })
                .add('confirmDate', '승인일자', 0, {
                    visible: false
                })
                .add('remark', '비고', 0, {
                    visible: false
                })

                .add('refundInd', '환불여부', 0, {
                    visible: false
                })
                .add('refundSettlementSeq', '환불시 정산요청번호', 80, {
                    visible: false
                })
                .add('refundWorkDay', '환불일수', 80, {
                    visible: false
                })
                .add('refundInflowCnt', '환불유입수', 80, {
                    visible: false
                })
                .add('refundExpectRateAmt', '환불수수료', 80, {
                    visible: false
                })
                .add('refundProdTotalAmt', '환불금액', 80, {
                    visible: false
                })

            paymentGrid = columns.init('paymentGrid', [])
                .render();

            // 더블 클릭 이벤트 설정
            paymentGrid.getGrid().on('dblclick', function(ev) {
                openPgmModal('2');
            });

            search();
        }

        const search = () => {
            paymentGrid.clear();

            const param = $("#searchTable").getData();

            $.ajax({
                url: apiUrl,
                data: param,
                contentType:'application/json',
                type: 'GET',
                success: (data) => {

                    if (data.length > 0) {

                        data.forEach(row => {
                            if(row.applyStatus == "02") {
                                row.hideButton = true;
                                row.action = "완료";
                            }
                            else if(row.applyStatus == "03") {
                                row.hideButton = true;
                                row.action = "완료";
                            }
                            else {
                                row.hideButton = false;
                                row.action = "대기";
                            }
                        });

                        // 데이터 리셋 및 렌더링 강제 갱신
                        const gridInstance = paymentGrid.getGrid();
                        gridInstance.resetData(data); // 데이터 새로 고침

                    }
                }
            })
        }

        // const fn_savePaymentGrid = () => {
        //     let modifiedData = paymentGrid.getModifiedRows();
        //     const createdData = modifiedData.createdRows;
        //     const updatedData = modifiedData.updatedRows;
        //
        //     const createdLength = !isNull(createdData.length) ? createdData.length : 0;
        //     const updatedLength = !isNull(updatedData.length) ? updatedData.length : 0;
        //
        //     const result = confirm("총 " + (createdLength + updatedLength) + "건의 데이터를 저장하시겠습니까?");
        //
        //     let params = [];
        //     for (let i = 0; i < createdData.length; i++) {
        //         createdData[i].rowStatus = 'C';
        //         params.push(createdData[i]);
        //     }
        //
        //     for (let i = 0; i < updatedData.length; i++) {
        //         updatedData[i].rowStatus = 'U';
        //         params.push(updatedData[i]);
        //     }
        //
        //     if (result) {
        //         $.ajax({
        //             url: apiUrl + "/up/list",
        //             data: JSON.stringify(params),
        //             contentType:'application/json',
        //             type: 'POST',
        //             success: (result) => {
        //                 if (result > 0) {
        //                     alert("저장이 완료되었습니다.");
        //                     search();
        //                 } else {
        //                     alert("저장에 실패하였습니다.");
        //                     search();
        //                 }
        //             }
        //         })
        //     }
        // }


        const openPgmModal = () => {

            const focusedCell = paymentGrid.getGrid().getFocusedCell();
            const focusedData = paymentGrid.getGrid().getRow(focusedCell.rowKey);

            $("#applyView").hide();
            $("#refundView").hide();


            if(focusedData["refundInd"] == "Y") {

                $("#settlementSeqView").val(focusedData.refundSettlementSeq);

                $("#refundDay").val(focusedData.workDay);
                $("#refundView").show();
            }
            else {

                $("#settlementSeqView").val(focusedData.settlementSeq);

                // 영업이익 = 판매총액 - 상품총액
                var costAmt = parseInt(focusedData.saleTotalAmt) - parseInt(focusedData.prodTotalAmt);

                $("#costAmt").val(setComma(costAmt));

                $("#applyView").show();
            }

            $('#paymentModal').find('input, select, textarea').each(function() {
                const fieldId = $(this).attr('id');
                const fieldName = $(this).attr('name');

                // fieldId와 fieldName 중 사용 가능한 키 선택
                const key = fieldId && focusedData[fieldId] !== undefined
                    ? fieldId
                    : (fieldName && focusedData[fieldName] !== undefined
                        ? fieldName
                        : null);

                if (key !== null) {
                    const value = focusedData[key];

                    if ($(this).is(':checkbox')) {
                        // 체크박스는 'Y', 'N' 또는 true/false로 값을 바인딩
                        $(this).prop('checked', value === 'Y' || value === true);
                    } else if ($(this).is('select')) {
                        // select 박스
                        $(this).val(value);
                    } else {
                        // 일반 input, textarea
                        $(this).val(isNumeric(value) ? setComma(value) : value);
                    }
                }
            });

            $('#paymentModal').modal('show');
        }

        const openDepositModal = (rsData) => {

            var confirmInd = rsData.confirmInd;

            // 승인여부
            if(confirmInd == "Y" || rsData.applyStatus == "03")
            {
                $("#deposit_confirmAmt").attr('disabled', true);
                $("#deposit_remark").attr('disabled', true);

                $("#modalDepositRejectBtn").hide();
                $("#modalDepositApprBtn").hide();
            }
            else {
                $("#deposit_confirmAmt").attr('disabled', false);
                $("#deposit_remark").attr('disabled', false);

                $("#modalDepositRejectBtn").show();
                $("#modalDepositApprBtn").show();
            }

            var settlementSeq = rsData.settlementSeq;   //정산요청ID
            var incentiveRate = isNull(rsData.incentiveRate) ? 0.3 : rsData.incentiveRate;  //적용인센률
            var prodTotalAmt = isNull(rsData.prodTotalAmt) ? 0 : rsData.prodTotalAmt;       //상품총액
            var saleTotalAmt = isNull(rsData.saleTotalAmt) ? 0 : rsData.saleTotalAmt;       //판매총액
            var expectRateAmt = isNull(rsData.expectRateAmt) ? 0 : rsData.expectRateAmt     //담당자수수료(예정)

            $("#refundInd").val(rsData.refundInd);
            $("#settlementSeq").val(settlementSeq);
            $("#incentiveRate").val(incentiveRate);
            $("#deposit_prodTotalAmt").val(formatNumber(prodTotalAmt));
            $("#deposit_saleTotalAmt").val(formatNumber(saleTotalAmt));
            $("#deposit_expectRateAmt").val(formatNumber(expectRateAmt));

            //환불
            if(rsData.refundInd == "Y")
            {
                $('#applySet').hide();
                $('#refundSet').show();

                var gubunName = isNull(rsData.gubunName) ? "" : rsData.gubunName;                               //환불구분
                var refundWorkDay = isNull(rsData.refundWorkDay) ? 0 : rsData.refundWorkDay;                    //환불일
                var refundProdTotalAmt = isNull(rsData.refundProdTotalAmt) ? 0 : formatNumber(rsData.refundProdTotalAmt);     //환불금액
                var refundSaleTotalAmt = isNull(rsData.refundSaleTotalAmt) ? 0 : formatNumber(rsData.refundSaleTotalAmt);     //환불금액
                var refundExpectRateAmt = isNull(rsData.refundExpectRateAmt) ? 0 : formatNumber(rsData.refundExpectRateAmt);  //확정수수료

                $("#deposit_gubunName").val(gubunName);
                $("#deposit_refundWorkDay").val(refundWorkDay);
                $("#deposit_refundProdTotalAmt").val(refundProdTotalAmt);
                $("#deposit_refundExpectRateAmt").val(refundExpectRateAmt);

                var guide1 = "* 상품총액(" + refundProdTotalAmt + ") : 상품가(" + rsData.prodAmt + ") * 유입수(" + rsData.inflowCnt + ") * 환불일수("+ rsData.refundWorkDay + "일)";
                var guide2 = "* 환불총액(" + refundSaleTotalAmt + ") : 판매가(" + rsData.prodAmt + ") * 유입수(" + rsData.inflowCnt + ") * 환불일수("+ rsData.refundWorkDay + "일)";
                var guide3 = "* 환불수수료 : (환불총액 - 상품총액) / 부가세(1.1) * 담당자수수료(" + rsData.incentiveRate + ")";

                $("#guide1").text(guide1);
                $("#guide2").text(guide2);
                $("#guide3").text(guide3);

            }
            else {

                $('#applySet').show();
                $('#refundSet').hide();

                var confirmAmt = isNull(rsData.confirmAmt) ? 0 : rsData.confirmAmt;                 //입금총액
                var confirmMileage = isNull(rsData.confirmMileage) ? 0 : rsData.confirmMileage;     //적립수수료
                var confirmRateAmt = isNull(rsData.confirmRateAmt) ? 0 : rsData.confirmRateAmt;     //확정수수료

                if(["05", "06"].includes(rsData.gubun)) {
                    confirmAmt = saleTotalAmt;
                    confirmRateAmt = -saleTotalAmt;
                    $("#deposit_confirmAmt").attr('disabled', true);
                }
                // else
                //     $("#deposit_confirmAmt").attr('disabled', false);


                // 부가세율 설정 (10% 부가세)
                var vatRate = 1.1;

                var costAmt = parseInt(saleTotalAmt) - parseInt(prodTotalAmt);

                // 입금총액
                $("#deposit_confirmAmt").val(formatNumber(confirmAmt));
                // 영업이익
                $("#deposit_costAmt").val(formatNumber(costAmt));
                // 확정수수료
                $("#deposit_confirmRateAmt").val(formatNumber(confirmRateAmt));
                // 적립마일리지
                $("#deposit_confirmMileage").val(formatNumber(confirmMileage));
                // 판매총액 (입금총액 - 적립마일리지)
                $("#deposit_confirmMaxAmt").val(formatNumber(confirmAmt - confirmMileage));
            }


            $('#depositModal').modal('show');
        }

        function depositSum()
        {
            // 상품가기준 판매총액 (상품가 * 유입수 * 작업일) - 부가세 포함
            var prodTotalAmt = removeComma($("#deposit_prodTotalAmt").val());

            // 판매총액금액
            var saleTotalAmt = removeComma($("#deposit_saleTotalAmt").val());

            // 실제입금금액
            var confirmAmt = removeComma($("#deposit_confirmAmt").val());

            // 영업이익
            var costAmt = (confirmAmt) - (prodTotalAmt);

            // 실제입금금액이 판매총액보다 크면 차익분은 고객 마일리지로 적립
            if(parseInt(saleTotalAmt) < parseInt(confirmAmt)) {
                const confirmMileage = confirmAmt - saleTotalAmt;

                //$("#saveMileage").val(confirmMileage);

                $("#deposit_confirmMaxAmt").val(setComma(saleTotalAmt));
                $("#deposit_confirmMileage").val(setComma(confirmMileage));

                costAmt = saleTotalAmt - prodTotalAmt;
            }
            else
            {
                $("#deposit_confirmMaxAmt").val(setComma(confirmAmt));
                $("#deposit_confirmMileage").val(0);
            }

            // 데이터로 저장된 인센율을 문자열로 가져왔다고 가정
            var incenRateStr = $("#incentiveRate").val(); // 문자열로 저장된 0.3

            // 실수형으로 변환
            var incentiveRate = parseFloat(incenRateStr);

            // 소수점 제외하고 정수만 출력
            var rate = roundDecimal((costAmt * incentiveRate) / 1.1, 0) ;

            $("#deposit_confirmRateAmt").val(setComma(rate));
        }


        const closeBeforeModal = () => {
            console.log('모달이 곧 닫힙니다!');
        }

        const closeAfterModal = () => {
            console.log('모달이 닫혔습니다!');
        }


        const modalAcceptBtn = () => {
            search();
        }


    </script>

</div>

</html>