<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">


<div layout:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>정산관리</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">정산관리</li>
                            <li class="breadcrumb-item active" aria-current="page">정산신청</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pt-3 pb-3" id="searchForm">
<!--                            <div class="row align-items-center p-2" style="">-->
                            <div class="row align-items-center p-2" style="background-color: whitesmoke;">
                                <div class="col-md-11">
                                    <div class="form-group row mb-0 align-items-center text-center">
                                        <label class="col-form-label col-lg-1 col-3">날짜</label>
                                        <div class="col-lg-3 col-9">
                                            <div class="d-flex">
                                                <input type="date" class="form-control form-control-sm me-2" id="startDate" value="2024-10-15">
                                                <input type="date" class="form-control form-control-sm" id="endDate" value="2024-10-15">
                                            </div>
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">고객명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="custName" class="form-control form-control-sm" name="fname" placeholder="메뉴명">
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">상품명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="prodName" class="form-control form-control-sm" name="fname" placeholder="메뉴명">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-end">
                                    <a href="#" class="btn btn-primary" id="searchBtn3">조회</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">정산신청내역</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end" style="width: 100%;">
                                <div class="d-flex pb-3 gap-1">
                                    <button type="button" class="btn btn-primary btn-sm" id="modalAddBtn" data-bs-toggle="modal">추가</button>

                                    <button type="button" class="btn btn-secondary btn-sm" id="btnDeletePaymentGrid">삭제</button>
                                </div>
                            </div>
                            <div id="paymentGrid" class="tui-grid"></div>
                        </div>

                        <div id="programModal" style="display: none">
                            <section id="multiple-column-form">
                                <div class="row match-height">
                                    <div class="col-12">
                                        <div class="card-content">
                                            <div class="card-body">
                                                <form class="form">
                                                    <div class="row">
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="first-name-column">담당자</label>
                                                                <input type="text" id="pUserId" class="form-control" placeholder="" name="fname-column" disabled="disabled">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label>고객</label>
                                                                <fieldset class="form-group">
                                                                    <select id="pCustId" class="choices form-select" size="5">
                                                                        <option value="square">고객1</option>
                                                                        <option value="rectangle">고객2</option>
                                                                        <option value="rombo">고객3</option>
                                                                        <option value="romboid">고객4</option>
                                                                        <option value="trapeze">고객5</option>
                                                                        <option value="traible">고객6</option>
                                                                    </select>
                                                                </fieldset>
                                                            </div>

                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label>상품</label>
                                                                    <select id="pProdId" class="choices form-select">
                                                                        <option value="square">타이밍</option>
                                                                        <option value="rectangle">타자</option>
                                                                        <option value="rombo">에이밍</option>
                                                                        <option value="romboid">산타</option>
                                                                    </select>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="last-name-column">상품가</label>
                                                                <input type="number" id="pCustAmt" class="form-control" placeholder="" name="lname-column">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="country-floating">작업시작일</label>
                                                                <input type="date" id="country-floating" class="form-control"
                                                                       name="country-floating" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="country-floating">작업종료일</label>
                                                                <input type="date" id="country-floating" class="form-control"
                                                                       name="country-floating" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="city-column">유입수</label>
                                                                <input type="number" id="pProdAmt" class="form-control"
                                                                       placeholder="" name="city-column">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="company-column">판매가</label>
                                                                <input type="number" id="amt" class="form-control"
                                                                       name="company-column" placeholder="">
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="email-id-column">판매총액</label>
                                                                <input type="email" id="email-id-column" class="form-control"
                                                                       name="email-id-column" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="company-column">입금총액</label>
                                                                <input type="text" id="company-column" class="form-control"
                                                                       name="company-column" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="email-id-column">요청구분</label>
                                                                <select id="status" class="choices form-select">

                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label>킵사용</label>
                                                                <select id="pProdId" class="form-select">
                                                                    <option value="square">타이밍</option>
                                                                    <option value="rectangle">타자</option>
                                                                    <option value="rombo">에이밍</option>
                                                                    <option value="romboid">산타</option>
                                                                </select>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="form-group col-12 mt-3 mb-3">
                                                            <div class='form-check'>
                                                                <div class="checkbox">
                                                                    <input type="checkbox" id="checkbox5"
                                                                           class='form-check-input' checked>
                                                                    <label for="checkbox5">킵사용</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="company-column">잔여킵금액</label>
                                                                <input type="text" id="company-column" class="form-control"
                                                                       name="company-column" placeholder="">
                                                            </div>
                                                        </div>
                                                        <div class="col-md-3 col-12">
                                                            <div class="form-group">
                                                                <label for="email-id-column">킵사용금액</label>
                                                                <input type="email" id="email-id-column" class="form-control"
                                                                       name="email-id-column" placeholder="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">

        const apiUrl = '/api/system/menu';

        let paymentGrid;
        let menuGrid;

        $(document).ready(function() {
            initEvent();
            initPaymentGrid();


        });

        const initEvent = () => {
            // $("#modalAddBtn").on('click', fn_appendPaymentGrid);
            // $("#btnSavePaymentGrid").on('click', fn_savePaymentGrid);
            // $("#btnDeletePaymentGrid").on('click', fn_deletePaymentGrid);

            //$('#programModal').off('shown.bs.modal').on('shown.bs.modal', openPgmModal); // 모달이 완전히 열린 후 이벤트 발생
            // $('#programModal').off('hide.bs.modal').on('hide.bs.modal', closeBeforeModal);  // 모달이 닫히기 전에 이벤트 발생
            // $('#exampleModalCenter').off('hidden.bs.modal').on('hidden.bs.modal', closeAfterModal); // 모달이 완전히 닫힌 후 이벤트 발생
            // $("#modalAcceptBtn").on('click', modalAcceptBtn);

            $("#searchBtn").on('click', searchPaymentGrid);
        }

        $("#modalAddBtn").on('click', function ()
        {
            const modalContent = document.getElementById("programModal").cloneNode(true);
            modalContent.style.display = 'block'; // 숨겨진 상태를 해제

            ModalManager.openModal(modalContent, {
                title: "정산내역작성",
                onApply: function() {
                    console.log('적용 버튼 클릭 시 실행되는 함수입니다.');
                    performAction();
                    return false; // 모달 닫기
                }
            });
        })

        function performAction()
        {
            alert("!23123");
        }

        const initPaymentGrid = () => {


            var columns = new CustomTuiGrid()
                .add('userNm', '담당자', 150, {})
                .add('custNm', '고객명', 250, {})
                .add('prodName', '상품명', 200, {})
                .addNumber('prodAmt', '상품가', 150, {})
                .addNumber('prodAmt1', '유입수', 120, {})
                .addDate('prodDate', '작업기간', 250, {})
                .addNumber('prodDate1', '판매가', 120, {})

            paymentGrid = columns.init('paymentGrid', [])
                .render();

        }

        const searchPaymentGrid = () => {
            paymentGrid.clear();

            const param = {
                menuNm : $("#first-name").val()
            };

            $.ajax({
                url: apiUrl + "/up/list",
                data: param,
                type: 'GET',
                success: (result) => {
                    paymentGrid.bind(result);
                }
            });
        }

        const fn_appendPaymentGrid = () => {

        }

        const fn_savePaymentGrid = () => {
            let modifiedData = paymentGrid.getModifiedRows();
            const createdData = modifiedData.createdRows;
            const updatedData = modifiedData.updatedRows;

            const createdLength = !isNull(createdData.length) ? createdData.length : 0;
            const updatedLength = !isNull(updatedData.length) ? updatedData.length : 0;

            const result = confirm("총 " + (createdLength + updatedLength) + "건의 데이터를 저장하시겠습니까?");

            let params = [];
            for (let i = 0; i < createdData.length; i++) {
                createdData[i].rowStatus = 'C';
                params.push(createdData[i]);
            }

            for (let i = 0; i < updatedData.length; i++) {
                updatedData[i].rowStatus = 'U';
                params.push(updatedData[i]);
            }

            if (result) {
                $.ajax({
                    url: apiUrl + "/up/list",
                    data: JSON.stringify(params),
                    contentType:'application/json',
                    type: 'POST',
                    success: (result) => {
                        if (result > 0) {
                            alert("저장이 완료되었습니다.");
                            searchPaymentGrid();
                        } else {
                            alert("저장에 실패하였습니다.");
                            searchPaymentGrid();
                        }
                    }
                })
            }
        }

        const fn_deletePaymentGrid = () => {
            const focusedCell = paymentGrid.getFocusedCell();
            if (isNull(focusedCell)) {
                alert("삭제할 행을 선택해주세요.");
                return;
            }

            const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
            if (confirmResult) {
                const focusRow = paymentGrid.getRow(focusedCell.rowKey);
                let params = {
                    menuId : focusRow.menuId
                }
                $.ajax({
                    url: apiUrl + "/up/list",
                    data: JSON.stringify(params),
                    contentType:'application/json',
                    type: 'DELETE',
                    success: (result) => {
                        if (result > 0) {
                            alert("삭제가 완료되었습니다.");
                            searchPaymentGrid();
                        } else {
                            alert("삭제에 실패하였습니다.");
                            searchPaymentGrid();
                        }
                    }
                })
            }
        }

        const openPgmModal = () => {
            // pgmModalGrid.clear();
            // pgmModalGrid.refreshLayout();
            //
            // const param = {
            //     programNm : $("#mp_modal_pgmNm").val()
            // };
            //
            // $.ajax({
            //     url: "/api/system/program",
            //     data: param,
            //     type: 'GET',
            //     success: (result) => {
            //         pgmModalGrid.resetData(result);
            //     }
            // });
        }

        const closeBeforeModal = () => {
            console.log('모달이 곧 닫힙니다!');
        }

        const closeAfterModal = () => {
            console.log('모달이 닫혔습니다!');
        }


        const modalAcceptBtn = () => {
            searchPaymentGrid();
        }


        function openPop(url, options) {
            if(self != top) {
                window.parent.openPop(url, options);
                return;
            }
            var container = document.getElementById("popup-container");
            if(container instanceof HTMLDivElement === false) {
                container = document.createElement("div");
                container.id = "popup-container";
                container.className = "popup-container";
                container.style.opacity = "0";
                container.style.display = "none";
                document.body.appendChild(container);
            }
            container.innerHTML = "";

            var popId = _.camelCase(_.nth(_.split(url, "/"), -2));
            if(!_.isEmpty(window[popId])) {
                window[popId].open(options);
            }
            else {
                fetch(url)
                    .then(function(response) {
                        return response.text();
                    })
                    .then(function(text) {
                        container.innerHTML = text;
                        Ustra.docReady(function() {
                            Array.from(container.querySelectorAll("script")).forEach(function(item) {
                                eval.apply(this, [item.textContent]);
                            });
                            if(!_.isEmpty(window[popId])) {
                                window[popId].open(options);
                            }
                        }, container);
                    });
            }
        }

    </script>

</div>

</html>