<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">


<div layout:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>고객관리</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">고객관리</li>
                            <li class="breadcrumb-item active" aria-current="page">고객관리</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pt-3 pb-3" id="searchForm">
<!--                            <div class="row align-items-center p-2" style="">-->
                            <div class="row align-items-center p-2 search-area custom-bg">
                                <div class="col-md-11">
                                    <div class="form-group row mb-0 align-items-center text-center">
                                        <label class="col-form-label col-lg-1 col-3">사업자번호</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="search_bizNo" class="form-control form-control-sm" name="bizNo" placeholder="사업자번호">
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">고객명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="search_custName" class="form-control form-control-sm" name="custName" placeholder="고객명">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-end">
                                    <a href="#" class="btn btn-primary" id="searchBtn">조회</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">고객관리목록</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end" style="width: 100%;">
                                <div class="d-flex pb-3 gap-1">
                                    <button type="button" class="btn btn-primary btn-sm" id="modalAddBtn" data-bs-toggle="modal" data-bs-target="#customerModal">추가</button>

                                    <button type="button" class="btn btn-secondary btn-sm" id="btnDeleteCustomerGrid">삭제</button>
                                </div>
                            </div>
                            <div id="customerGrid" class="tui-grid"></div>
                        </div>

                        <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header bg-primary text-white">
                                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">고객 정보
                                        </h5>
                                        <button type="button" class="close text-white" data-bs-dismiss="modal" aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form">
                                            <div class="row g-3">
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label for="bizNo">사업자번호</label>
                                                        <input type="text" id="bizNo" class="form-control" placeholder="사업자번호" name="bizNo">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="custName">고객명</label>
                                                        <input type="text" id="custName" class="form-control" placeholder="고객명" name="custName">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="ownerName">대표자성명</label>
                                                        <input type="text" id="ownerName" class="form-control" placeholder="대표자성명" name="ownerName">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="custTel">연락처</label>
                                                        <input type="text" id="custTel" class="form-control" name="custTel" placeholder="연락처">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="custMail">이메일</label>
                                                        <input type="email" id="custMail" class="form-control" placeholder="이메일" name="custMail">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="depositorName">입금자명</label>
                                                        <input type="text" id="depositorName" class="form-control" name="depositorName" placeholder="입금자명">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 " >
                                                    <div class="form-group">
                                                        <label for="mileage">마일리지 누적금액</label>
                                                        <input type="text" id="mileage" class="form-control" name="mileage" placeholder="마일리지 누적금액">
                                                        <input type="hidden" id="mileagePrev" class="form-control" name="mileagePrev">
                                                    </div>
                                                </div>

                                                <div class="col-md-3 " id="incentiveDiv">
                                                    <div class="form-group">
                                                        <label for="mileage">인센티브율</label>
                                                        <input type="number" id="incentiveRate" class="form-control" name="mileage" placeholder="인센티브율" step="0.1" min="0" max="99.9">
                                                    </div>
                                                </div>
                                                <div class="col-md-3 ">
                                                    <div class="form-group">
                                                        <label for="regDate">등록일자</label>
                                                        <input type="text" id="regDate" class="form-control" name="regDate" placeholder="등록일자" disabled>
                                                    </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="form-group">
                                                        <label class="form-label">사용여부</label>
                                                        <select class="form-select" id="useInd" name="useInd"></select>
                                                    </div>
                                                </div>
                                                <!-- 주소 필드를 맨 아래로 이동 -->
                                                <div class="col-md-6 ">
                                                    <div class="form-group">
                                                        <label class="form-label" for="custAddr">주소</label>
                                                        <input type="text" id="custAddr" class="form-control" name="custAddr" placeholder="주소">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="modal-footer bg-light">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x"></i> 닫기
                                        </button>
                                        <button type="button" class="btn btn-primary ms-1" id="modalSaveBtn">
                                            <i class="bx bx-check"></i> 저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:inline="javascript">

        const apiUrl = '/api/pages/customer';

        let customerGrid;
        let $isNew = 'N';

        let isAdmin;

        $(document).ready(function() {

            const roleIds = /*[[${roleIds}]]*/'';
            const adminRoles = ['1', '2'];  // 슈퍼관리자(1), 관리자(2)
            isAdmin = adminRoles.some(value => roleIds.includes(value));

            if (!isAdmin) {
                $("#btnDeleteCustomerGrid").hide();
            }

            initEvent();
            findInitCodes();

            $("#custTel").on('input', formatPhoneNumber);
            $("#mileage").on('input', formatCurrency);
        });

        const findInitCodes = async () => {
            const param =
                [
                    {"patternCode": "SE06"}
                ];

            const result = await CommonJs.initFindCodes(param);
            findCodeCallback(result);
        }

        const findCodeCallback = (result) => {
            const SE06Options = {
                value: 'baseCode',
                text: 'codeName',
                items: result.SE06,
                placeholder: '선택'
            };
            $("#useInd").addOptions(SE06Options);

            initCustomerGrid();
        }

        const initEvent = () => {

            $("#btnDeleteCustomerGrid").on('click', fn_deleteCustomerGrid);

            $('#modalAddBtn').on('click', () => {openPgmModal('1')});
            $('#customerModal').off('hide.bs.modal').on('hide.bs.modal', closeBeforeModal);  // 모달이 닫히기 전에 이벤트 발생
            $('#exampleModalCenter').off('hidden.bs.modal').on('hidden.bs.modal', closeAfterModal); // 모달이 완전히 닫힌 후 이벤트 발생
            $("#modalSaveBtn").on('click', fn_saveCustomerGrid);

            $("#searchBtn").on('click', searchCustomerGrid);
        }

        const initCustomerGrid = () => {

            var columns = new CustomTuiGrid()
                .add('bizNo', '사업자번호', 200, {})
                .add('custName', '고객명', 120, {})
                .add('ownerName', '대표자성명', 120, { align: 'center' })
                .add('custAddr', '주소', 300, { align: 'center' })
                .add('custTel', '연락처', 150, { align: 'center' })
                .add('custMail', '이메일', 150, { align: 'center' })
                .add('depositorName', '입금자명', 120, { align: 'center' })
                .addNumber('mileage', '마일리지', 100, {
                    align: 'right',
                    comma: true,
                    visible:isAdmin
                })
                .add('incentiveRate', '인센티브율', 100, { align: 'right', visible:isAdmin })
                .add('useInd', '사용여부', 70, { align: 'center' })
                .addDate('regDate', '등록일자', 100, { align: 'center' })
                .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기
            ;

            customerGrid = columns.init('customerGrid', [])
                .render();

            // 더블 클릭 이벤트 설정
            customerGrid.getGrid().on('dblclick', function(ev) {
                openPgmModal('2');
            });

            searchCustomerGrid();
        }

        const searchCustomerGrid = () => {
            customerGrid.clear();

            let $bizNo = $('#search_bizNo').val();
            let $empName = $('#search_empName').val();
            let $custName = $('#search_custName').val();

            const param = {
                bizNo : $bizNo,
                empName : $empName,
                custName : $custName
            };

            $.ajax({
                url: apiUrl,
                data: param,
                type: 'GET',
                success: (result) => {
                    customerGrid.bind(result);
                }
            });
        }

        const fn_saveCustomerGrid = () => {

            const param = {};
            $('#customerModal').find('input, select, input[type="checkbox"]').each((index, item) => {
                // checkbox일 때
                if ($(item).is(':checkbox')) {
                    param[item.id] = $(item).prop('checked') ? 'Y' : 'N'; // 체크 여부에 따라 Y 또는 N 설정
                } else if (item.id === 'mileage') {
                    param[item.id] = item.value.replace(',', ''); // input 값 설정
                } else{
                    // input일 때의 처리
                    param[item.id] = item.value; // input 값 설정
                }
            });

            param.isNew = $isNew;

            if (isNull(param.bizNo)) {
                alert("사업자번호는 필수 값 입니다.");
                return false;
            }

            if (!isNull(param.custMail) && !isValidEmail(param.custMail)) {
                alert("유효하지 않은 이메일 형식입니다.");
                return false;
            }

            if (confirm("데이터를 저장하시겠습니까?")) {
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(param),
                    contentType:'application/json',
                    type: 'POST',
                    success: (result) => {
                        if (result > 0) {
                            alert("저장이 완료되었습니다.");
                            $('#customerModal').modal('hide');
                            searchCustomerGrid();
                        } else {
                            alert("저장에 실패하였습니다.");
                            searchCustomerGrid();
                        }
                    },error: (xhr, status, error) => {
                        alert(xhr.responseText);
                    }
                })
            }
        }

        const fn_deleteCustomerGrid = () => {
            const focusedCell = customerGrid.getGrid().getFocusedCell();
            if (isNull(focusedCell)) {
                alert("삭제할 행을 선택해주세요.");
                return;
            }

            const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
            if (confirmResult) {
                const focusRow = customerGrid.getGrid().getRow(focusedCell.rowKey);
                let params = {
                    bizNo : focusRow.bizNo,
                    empId: focusRow.empId,
                }
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(params),
                    contentType:'application/json',
                    type: 'DELETE',
                    success: (result) => {
                        if (result > 0) {
                            alert("삭제가 완료되었습니다.");
                            searchCustomerGrid();
                        } else {
                            alert("삭제에 실패하였습니다.");
                            searchCustomerGrid();
                        }
                    }
                })
            }
        }

        const openPgmModal = (param) => {
            if (param === '1') {
                $isNew = true;
            } else {
                $isNew = false;
            }
            clearForm('customerModal');

            if(!isAdmin)
            {
                $("#incentiveDiv").hide();
                $("#mileage").attr('disabled', true);
            }
            else {
                $("#incentiveDiv").show();
                $("#mileage").attr('disabled', false);
            }


            // 추가 버튼 클릭 시
            if (param === '2') {
                const focusedCell = customerGrid.getGrid().getFocusedCell();
                const focusedData = customerGrid.getGrid().getRow(focusedCell.rowKey);

                $('#customerModal').find('input, select, textarea').each(function() {
                    const fieldId = $(this).attr('id');
                    if (fieldId && focusedData[fieldId] !== undefined) {
                        if ($(this).is(':checkbox')) {
                            // 체크박스는 'Y', 'N' 또는 true/false로 값을 바인딩
                            $(this).prop('checked', focusedData[fieldId] === 'Y' || focusedData[fieldId] === true);
                        } else if ($(this).is('select')) {
                            $(this).val(focusedData[fieldId]);
                        } else if (fieldId === 'mileage') {
                            $("#mileagePrev").val(focusedData[fieldId]);
                            const replaceNumber = formatToCurrency(focusedData[fieldId]);
                            $(this).val(replaceNumber);
                        } else {
                            // 그 외 input, textarea는 값 바인딩
                            $(this).val(focusedData[fieldId]);
                        }
                    }
                });

                $('#bizNo').attr('disabled', true);
            } else {
                $('#bizNo').attr('disabled', false);
            }

            $('#customerModal').modal('show');
        }

        const closeBeforeModal = () => {
            $('#customerModal').find('input, select, textarea').each(function() {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 false로 설정
                    $(this).prop('checked', false);
                } else {
                    // 그 외의 입력 필드는 빈 문자열로 설정
                    $(this).val('');
                }
            });
        }

        const closeAfterModal = () => {
            console.log('모달이 닫혔습니다!');
        }

        const clearForm = (id) => {
            $('#' + id).find('input, select, textarea').each(function() {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 false로 설정
                    $(this).prop('checked', false);
                } else {
                    // 그 외의 입력 필드는 빈 문자열로 설정
                    $(this).val('');
                }
            });
        }

        const bindForm = (id) => {
            $('#' + id).find('input, select, textarea').each(function() {
                const fieldId = $(this).attr('id');
                if (fieldId && focusedData[fieldId] !== undefined) {
                    if ($(this).is(':checkbox')) {
                        // 체크박스는 'Y', 'N' 또는 true/false로 값을 바인딩
                        $(this).prop('checked', focusedData[fieldId] === 'Y' || data[fieldId] === true);
                    } else if ($(this).is('select')) {
                        // select 박스는 해당 value와 일치하는 option을 선택
                        $(this).val(focusedData[fieldId]).trigger('change'); // trigger('change')는 select 박스의 변화를 반영
                    } else {
                        // 그 외 input, textarea는 값 바인딩
                        $(this).val(focusedData[fieldId]);
                    }
                }
            });
        }

        function formatPhoneNumber() {
            let value = $(this).val().replace(/[^0-9]/g, ''); // 숫자 이외의 문자는 제거

            if (value.length < 4) {
                $(this).val(value);
            } else if (value.length < 8) {
                $(this).val(value.slice(0, 3) + '-' + value.slice(3));
            } else {
                $(this).val(value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11));
            }
        }

        function formatCurrency() {
            // 현재 입력 값 가져오기
            let value = $(this).val();

            // 숫자 이외의 문자 제거
            value = value.replace(/[^0-9]/g, '');

            // 천 단위로 콤마 추가
            if (value) {
                value = Number(value).toLocaleString();  // 콤마 추가
            }

            // 포맷팅된 값을 입력 필드에 설정
            $(this).val(value);
        }
    </script>
</div>

</html>