<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">


<div layout:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>고객관리</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">고객관리</li>
                            <li class="breadcrumb-item active" aria-current="page">고객관리</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pt-3 pb-3" id="searchForm">
<!--                            <div class="row align-items-center p-2" style="">-->
                            <div class="row align-items-center p-2" style="background-color: whitesmoke;">
                                <div class="col-md-11">
                                    <div class="form-group row mb-0 align-items-center text-center">
<!--                                        <label class="col-form-label col-lg-1 col-3">날짜</label>-->
<!--                                        <div class="col-lg-3 col-9">-->
<!--                                            <div class="d-flex">-->
<!--                                                <input type="date" class="form-control form-control-sm me-2" id="startDate" value="2024-10-15">-->
<!--                                                <input type="date" class="form-control form-control-sm" id="endDate" value="2024-10-15">-->
<!--                                            </div>-->
<!--                                        </div>-->
                                        <label class="col-form-label col-lg-1 col-3">사업자번호</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="search_bizNo" class="form-control form-control-sm" name="bizNo" placeholder="사업자번호">
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">직원명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="search_empName" class="form-control form-control-sm" name="empName" placeholder="직원명">
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">고객명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="search_custName" class="form-control form-control-sm" name="custName" placeholder="고객명">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-end">
                                    <a href="#" class="btn btn-primary" id="searchBtn">조회</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">고객관리목록</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end" style="width: 100%;">
                                <div class="d-flex pb-3 gap-1">
                                    <button type="button" class="btn btn-primary btn-sm" id="modalAddBtn" data-bs-toggle="modal" data-bs-target="#customerModal">추가</button>

                                    <button type="button" class="btn btn-secondary btn-sm" id="btnDeleteCustomerGrid">삭제</button>
                                </div>
                            </div>
                            <div id="customerGrid" class="tui-grid"></div>
                        </div>

                        <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalCenterTitle">고객 정보
                                        </h5>
                                        <button type="button" class="close" data-bs-dismiss="modal"
                                                aria-label="Close">
                                            <i data-feather="x"></i>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <section id="multiple-column-form">
                                            <div class="row match-height">
                                                <div class="col-12">
                                                    <div class="card-content">
                                                        <div class="card-body">
                                                            <form class="form">
                                                                <div class="row">
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="bizNo">사업자번호</label>
                                                                            <input type="text" id="bizNo" class="form-control" placeholder="사업자번호" name="bizNo">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label>직원</label>
                                                                            <fieldset class="form-group">
                                                                                <select id="empId" class="form-select">
                                                                                </select>
                                                                            </fieldset>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="custName">고객명</label>
                                                                            <input type="text" id="custName" class="form-control" placeholder="고객명" name="custName">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="ownerName">대표자성명</label>
                                                                            <input type="text" id="ownerName" class="form-control" placeholder="대표자성명" name="ownerName">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="custTel">연락처</label>
                                                                            <input type="text" id="custTel" class="form-control" name="custTel" placeholder="연락처">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="custMail">이메일</label>
                                                                            <input type="email" id="custMail" class="form-control" placeholder="이메일" name="custMail">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="depositorName">입금자명</label>
                                                                            <input type="text" id="depositorName" class="form-control" name="depositorName" placeholder="입금자명">
                                                                        </div>
                                                                    </div>

                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="mileage">마일리지 누적금액</label>
                                                                            <input type="text" id="mileage" class="form-control" name="mileage" placeholder="마일리지 누적금액">
                                                                            <input type="hidden" id="mileagePrev" class="form-control" name="mileagePrev">
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12">
                                                                        <div class="form-group">
                                                                            <label for="regDate">등록일자</label>
                                                                            <input type="text" id="regDate" class="form-control" name="regDate" placeholder="등록일자" disabled>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-3 col-12 d-flex align-items-center">
                                                                        <div class="form-group">
                                                                            <div class="form-check">
                                                                                <div class="checkbox">
                                                                                    <label for="useInd">사용여부</label>
                                                                                    <input type="checkbox" id="useInd" class="form-check-input">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- 주소 필드를 맨 아래로 이동 -->
                                                                    <div class="col-md-12 col-12">
                                                                        <div class="form-group">
                                                                            <label for="custAddr">주소</label>
                                                                            <input type="text" id="custAddr" class="form-control" name="custAddr" placeholder="주소">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-light-secondary"
                                                data-bs-dismiss="modal">
                                            <i class="bx bx-x d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">닫기</span>
                                        </button>
                                        <button type="button" class="btn btn-primary ms-1" id="modalSaveBtn">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">저장</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">

        const apiUrl = '/api/pages/customer';

        let customerGrid;
        let empIdChoiceObj;
        let $isNew = 'N';

        $(document).ready(function() {
            findAllUsers();
            initEvent();
            initCustomerGrid();

            $("#custTel").on('input', formatPhoneNumber);
            $("#mileage").on('input', formatCurrency);
        });

        const findAllUsers = () => {
            $.ajax({
                url: apiUrl + "/emps",
                data: null,
                contentType:'application/json',
                type: 'GET',
                success: (result) => {
                    let empId = document.getElementById('empId');
                    empIdChoiceObj = new Choices(empId, {
                        sorter: () => 0 // 정렬을 하지 않도록 설정
                    });
                    empIdChoiceObj.setChoices([{value: '', label: '선택'}, ...result.map(item => ({ value: item.empId, label: item.empName }))], 'value', 'label', false);

                },error: (xhr, status, error) => {
                    alert(xhr.responseText);
                }
            })
        }

        const initEvent = () => {

            $("#btnDeleteCustomerGrid").on('click', fn_deleteCustomerGrid);

            $('#modalAddBtn').on('click', () => {openPgmModal('1')});
            // $('#customerModal').off('shown.bs.modal').on('shown.bs.modal', openPgmModal); // 모달이 완전히 열린 후 이벤트 발생
            $('#customerModal').off('hide.bs.modal').on('hide.bs.modal', closeBeforeModal);  // 모달이 닫히기 전에 이벤트 발생
            $('#exampleModalCenter').off('hidden.bs.modal').on('hidden.bs.modal', closeAfterModal); // 모달이 완전히 닫힌 후 이벤트 발생
            $("#modalSaveBtn").on('click', fn_saveCustomerGrid);

            $("#searchBtn").on('click', searchCustomerGrid);
        }

        const initCustomerGrid = () => {

            const Grid = tui.Grid;

            customerGrid = new Grid({
                el: document.getElementById('customerGrid'),
                columns: [
                    {header: '직원ID', name: 'empId', hidden: true},
                    {
                        header: '사업자번호',
                        name: 'bizNo',
                        align: 'center',
                        whiteSpace: 'normal',
                        editor: null,  // 수정 불가능하도록 설정
                        formatter: function(e) {
                            return e.value
                        },
                        width: 100
                    },
                    {
                        header: '직원명',
                        name: 'empName',
                        align: 'center',
                        whiteSpace: 'normal',
                        editor: null,  // 수정 불가능하도록 설정
                        formatter: function(e) {
                            return e.value
                        },
                        width: 100
                    },
                    {
                        header: '고객명',
                        name: 'custName',
                        align: 'center',
                        whiteSpace: 'normal',
                        editor: null,  // 수정 불가능하도록 설정
                        formatter: function(e) {
                            return e.value
                        },
                        width: 100
                    },
                    {
                        header: '대표자성명',
                        name: 'ownerName',
                        align: 'center',
                        whiteSpace: 'normal',
                        editor: null,  // 수정 불가능하도록 설정
                        formatter: function(e) {
                            return e.value
                        },
                        width: 100
                    },
                    {
                        header: '주소',
                        name: 'custAddr',
                        width: 300
                    },
                    {
                        header: '연락처',
                        name: 'custTel',
                        width: 120,
                        align: 'center'
                    },
                    {
                        header: '이메일',
                        name: 'custMail',
                        width: 170
                    },
                    {
                        header: '입금자명',
                        name: 'depositorName',
                        width: 100,
                        align: 'center'
                    },
                    {
                        header: '마일리지',
                        name: 'mileage',
                        width: 100,
                        align: 'right',
                        formatter: function (value) {
                            // 값이 객체 형태로 전달됨
                            const cellValue = value.value;  // value 객체에서 실제 값 가져오기
                            // 값이 null 또는 undefined일 경우 0 반환
                            if (cellValue === null || cellValue === undefined) {
                                return '0';
                            }
                            // 천 단위로 콤마 추가
                            return Number(cellValue).toLocaleString();
                        },
                    },
                    {
                        header: '사용여부',
                        name: 'useInd',
                        align: 'center',
                        whiteSpace: 'normal',
                        editor: null,  // 수정 불가능하도록 설정
                        formatter: function(e) {
                            return e.value
                        },
                        width: 100
                    },
                    {
                        header: '등록일자',
                        name: 'regDate',
                        width: 100,
                        align: 'center'
                    },
                ],
                bodyHeight: 500,
                rowHeaders: ['rowNum']
            });

            // 더블 클릭 이벤트 설정
            customerGrid.on('dblclick', function(ev) {
                openPgmModal('2');
            });


            searchCustomerGrid();
        }

        const searchCustomerGrid = () => {
            customerGrid.clear();

            let $bizNo = $('#search_bizNo').val();
            let $empName = $('#search_empName').val();
            let $custName = $('#search_custName').val();

            const param = {
                bizNo : $bizNo,
                empName : $empName,
                custName : $custName
            };

            $.ajax({
                url: apiUrl,
                data: param,
                type: 'GET',
                success: (result) => {
                    customerGrid.resetData(result);
                }
            });
        }

        const fn_saveCustomerGrid = () => {

            const param = {};
            $('#customerModal').find('input, select, input[type="checkbox"]').each((index, item) => {
                // checkbox일 때
                if ($(item).is(':checkbox')) {
                    param[item.id] = $(item).prop('checked') ? 'Y' : 'N'; // 체크 여부에 따라 Y 또는 N 설정
                } else if (item.id === 'mileage') {
                    param[item.id] = item.value.replace(',', ''); // input 값 설정
                } else{
                    // input일 때의 처리
                    param[item.id] = item.value; // input 값 설정
                }
            });

            param.isNew = $isNew;

            if (isNull(param.bizNo)) {
                alert("사업자번호는 필수 값 입니다.");
                return false;
            }

            if (isNull(param.empId)) {
                alert("직원은 필수 값 입니다.");
                return false;
            }

            if (!isNull(param.custMail) && !isValidEmail(param.custMail)) {
                alert("유효하지 않은 이메일 형식입니다.");
                return false;
            }

            if (confirm("데이터를 저장하시겠습니까?")) {
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(param),
                    contentType:'application/json',
                    type: 'POST',
                    success: (result) => {
                        if (result > 0) {
                            alert("저장이 완료되었습니다.");
                            $('#customerModal').modal('hide');
                            searchCustomerGrid();
                        } else {
                            alert("저장에 실패하였습니다.");
                            $('#customerModal').modal('hide');
                            searchCustomerGrid();
                        }
                    },error: (xhr, status, error) => {
                        $('#customerModal').modal('hide');
                        alert(xhr.responseText);
                    }
                })
            }
        }

        const fn_deleteCustomerGrid = () => {
            const focusedCell = customerGrid.getFocusedCell();
            if (isNull(focusedCell)) {
                alert("삭제할 행을 선택해주세요.");
                return;
            }

            const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
            if (confirmResult) {
                const focusRow = customerGrid.getRow(focusedCell.rowKey);
                let params = {
                    bizNo : focusRow.bizNo,
                    empId: focusRow.empId,
                }
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(params),
                    contentType:'application/json',
                    type: 'DELETE',
                    success: (result) => {
                        if (result > 0) {
                            alert("삭제가 완료되었습니다.");
                            searchCustomerGrid();
                        } else {
                            alert("삭제에 실패하였습니다.");
                            searchCustomerGrid();
                        }
                    }
                })
            }
        }

        const openPgmModal = (param) => {
            if (param === '1') {
                $isNew = true;
            } else {
                $isNew = false;
            }
            clearForm('customerModal');

            // 추가 버튼 클릭 시
            if (param === '2') {
                const focusedCell = customerGrid.getFocusedCell();
                const focusedData = customerGrid.getRow(focusedCell.rowKey);

                $('#customerModal').find('input, select, textarea').each(function() {
                    const fieldId = $(this).attr('id');
                    if (fieldId && focusedData[fieldId] !== undefined) {
                        if ($(this).is(':checkbox')) {
                            // 체크박스는 'Y', 'N' 또는 true/false로 값을 바인딩
                            $(this).prop('checked', focusedData[fieldId] === 'Y' || focusedData[fieldId] === true);
                        } else if ($(this).is('select')) {
                            $(this).val(focusedData[fieldId]);
                            empIdChoiceObj.setChoiceByValue(focusedData[fieldId]); // Choices.js 인스턴스 사용
                            empIdChoiceObj.disable();
                        } else if (fieldId === 'mileage') {
                            $("#mileagePrev").val(focusedData[fieldId]);
                            const replaceNumber = formatToCurrency(focusedData[fieldId]);
                            $(this).val(replaceNumber);
                        } else {
                            // 그 외 input, textarea는 값 바인딩
                            $(this).val(focusedData[fieldId]);
                        }
                    }
                });

                $('#bizNo').attr('disabled', true);
            } else {
                $('#bizNo').attr('disabled', false);
                empIdChoiceObj.setChoiceByValue('');
                empIdChoiceObj.enable();
            }

            $('#customerModal').modal('show');
        }

        const closeBeforeModal = () => {
            $('#customerModal').find('input, select, textarea').each(function() {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 false로 설정
                    $(this).prop('checked', false);
                } else {
                    // 그 외의 입력 필드는 빈 문자열로 설정
                    $(this).val('');
                }
            });
        }

        const closeAfterModal = () => {
            console.log('모달이 닫혔습니다!');
        }

        const clearForm = (id) => {
            $('#' + id).find('input, select, textarea').each(function() {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 false로 설정
                    $(this).prop('checked', false);
                } else {
                    // 그 외의 입력 필드는 빈 문자열로 설정
                    $(this).val('');
                }
            });
        }

        const bindForm = (id) => {
            $('#' + id).find('input, select, textarea').each(function() {
                const fieldId = $(this).attr('id');
                if (fieldId && focusedData[fieldId] !== undefined) {
                    if ($(this).is(':checkbox')) {
                        // 체크박스는 'Y', 'N' 또는 true/false로 값을 바인딩
                        $(this).prop('checked', focusedData[fieldId] === 'Y' || data[fieldId] === true);
                    } else if ($(this).is('select')) {
                        // select 박스는 해당 value와 일치하는 option을 선택
                        $(this).val(focusedData[fieldId]).trigger('change'); // trigger('change')는 select 박스의 변화를 반영
                    } else {
                        // 그 외 input, textarea는 값 바인딩
                        $(this).val(focusedData[fieldId]);
                    }
                }
            });
        }

        function formatPhoneNumber() {
            let value = $(this).val().replace(/[^0-9]/g, ''); // 숫자 이외의 문자는 제거

            if (value.length < 4) {
                $(this).val(value);
            } else if (value.length < 8) {
                $(this).val(value.slice(0, 3) + '-' + value.slice(3));
            } else {
                $(this).val(value.slice(0, 3) + '-' + value.slice(3, 7) + '-' + value.slice(7, 11));
            }
        }

        function formatCurrency() {
            // 현재 입력 값 가져오기
            let value = $(this).val();

            // 숫자 이외의 문자 제거
            value = value.replace(/[^0-9]/g, '');

            // 천 단위로 콤마 추가
            if (value) {
                value = Number(value).toLocaleString();  // 콤마 추가
            }

            // 포맷팅된 값을 입력 필드에 설정
            $(this).val(value);
        }
    </script>
</div>

</html>