<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">


<div layout:fragment="content">
            
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>직원별 고객관리</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">업무관리</li>
                        <li class="breadcrumb-item active" aria-current="page">직원별 고객관리</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section id="horizontal-input">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body pt-3 pb-3" id="searchForm">
                        <!--                            <div class="row align-items-center p-2" style="">-->
                        <div class="row align-items-center p-2 search-area custom-bg">
                            <div class="col-md-11">
                                <div class="form-group row mb-0 align-items-center text-center">
                                    <label class="col-form-label col-lg-1 col-3">직원</label>
                                    <div class="col-lg-3 col-9">
                                        <div class="d-flex">
                                        <input type="text" id="searchEmpId" class="form-control form-control-sm" name="searchEmpId" placeholder="직원ID">
                                            <span style="padding: 0px 5px">/</span>
                                        <input type="text" id="searchEmpNm" class="form-control form-control-sm" name="searchEmpId" placeholder="직원명">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1 text-end">
                                <a href="#" class="btn btn-primary cursor-auto" id="searchBtn">조회</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row" id="basic-table">
            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">직원목록</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" style="width: 100%;">
                            <div class="d-flex" style="gap: 5px; padding-bottom: 5px; padding-top: 0;">
                                <!-- 빈 div로 버튼 자리 확보 -->
                                <div style="height: 32px;"></div>
                            </div>
                        </div>
                        <div id="empGrid"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">직원에 등록된 고객</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" style="width: 100%;">
                            <div class="d-flex" style="gap: 5px; padding-bottom: 5px; padding-top: 0;">
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#customerModal">추가</button>
<!--                                <button type="button" class="btn btn-primary btn-sm" id="btnAddUserGrid">추가</button>-->
                                <button type="button" class="btn btn-primary btn-sm" id="btnSaveUserGrid">저장</button>
                                <button type="button" class="btn btn-danger btn-sm" id="btnDeleteUserGrid">삭제</button>
                            </div>
                        </div>
                        <div id="customerGrid"></div>
                    </div>

                    <div class="modal fade" id="customerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">
                                <!-- Modal Header -->
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title text-white" id="exampleModalCenterTitle">고객목록</h5>
                                    <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                </div>

                                <!-- Modal Body -->
                                <div class="modal-body">
                                    <section id="horizontal-input1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card">
                                                    <div class="card-body pt-3 pb-3" id="searchModalForm">
                                                        <div class="row align-items-center p-2 search-area custom-bg">
                                                            <!-- 고객명 입력 필드 -->
                                                            <div class="col-md-4 d-flex align-items-center">
                                                                <label for="searchCustId" class="col-form-label me-2 col-lg-5">사업자번호</label>
                                                                <input type="text" id="searchCustId" class="form-control form-control-sm col-lg-5" placeholder="사업자번호 및 고객명">
                                                            </div>
                                                            <!-- 상품명 입력 필드 -->
                                                            <div class="col-md-4 d-flex align-items-center">
                                                            </div>
                                                            <!-- 조회 버튼 -->
                                                            <div class="col-md-4 text-end">
                                                                <a href="#" class="btn btn-primary cursor-auto" id="searchModalBtn">조회</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <form class="form">
                                        <div id="customerModalGrid" style="height:400px"></div>
                                    </form>
                                </div>

                                <!-- Modal Footer -->
                                <div class="modal-footer bg-light">
                                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                        <i class="bx bx-x"></i> 닫기
                                    </button>
                                    <button type="button" class="btn btn-primary ms-1" id="modalAcceptBtn">
                                        <i class="bx bx-check"></i> 적용
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</div>
<script th:inline="javascript">

    const apiUrl = '/api/pages/emp_customer';

    let _isAdmin;
    let empGrid;
    let customerGrid;
    let customerModalGrid;

    $(document).ready(function() {
        const roleIds = /*[[${roleIds}]]*/'';
        const adminRoles = ['1', '2'];  // 슈퍼관리자(1), 관리자(2)
        let isAdmin = adminRoles.some(value => roleIds.includes(value));

        const userId = /*[[${userId}]]*/'';
        const userNm = /*[[${userNm}]]*/'';

        if (isAdmin) {
            _isAdmin = true
            $("#searchEmpId").val('').attr('disabled', false);
            $("#searchEmpNm").val('').attr('disabled', false);
        } else {
            _isAdmin = false;
            $("#searchEmpId").val(userId).attr('disabled', true);
            $("#searchEmpNm").val(userNm).attr('disabled', true);
        }
        initEvent();
        initEmpGrid();
        initCustomerGrid();
        initCustomerModalGrid();
    });

    const initEvent = () => {
        $("#btnSaveUserGrid").on('click', fn_saveUserGrid);
        $("#btnDeleteUserGrid").on('click', fn_deleteUserGrid);

        $("#searchBtn").on('click', searchEmpGrid);

        // modal
        $('#customerModal').off('shown.bs.modal').on('shown.bs.modal', openPgmModal); // 모달이 완전히 열린 후 이벤트 발생
        $("#modalAcceptBtn").on('click', modalAcceptBtn);
        $("#searchModalBtn").on('click', searchCustModalGrid);
    }

    const initEmpGrid = () => {
        const columns = new CustomTuiGrid()
            .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기
            .add('empId', '직원ID', 100, {})
            .add('empName', '직원명', 150, {})
        ;

        empGrid = columns.init('empGrid', [])
            .render();

        empGrid.getGrid().on('click', function (ev) {
            let value = empGrid.getGrid().getRow(ev.rowKey);
            if (!isNull(value)) {
                searchCustomerGrid(value);
            }
        });

    }

    const initCustomerGrid = () => {
        const columns = new CustomTuiGrid()
            .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기
            .enableCheckbox(true) // 체크박스 활성화
            .add('bizNo', '사업자번호', 300, {})
            .add('custName', '고객명', 450, {})
            .add('empId', '직원ID', 450, {visible: false})
        ;

        customerGrid = columns.init('customerGrid', [])
            .render();

        searchEmpGrid();
    }

    const initCustomerModalGrid = () => {
        const columns = new CustomTuiGrid()
            .enableCheckbox(true) // 체크박스 활성화
            .add('bizNo', '사업자번호', 260, {})
            .add('custName', '고객명', 240, {})
            .add('ownerName', '대표자성명', 210, {})
        ;

        customerModalGrid = columns.init('customerModalGrid', [])
            .render();
    }

    const modalAcceptBtn = () => {
        const focusedCell = empGrid.getGrid().getFocusedCell();
        const getRow = empGrid.getGrid().getRow(focusedCell.rowKey);
        if (isNull(getRow)) {
            alert("직원을 선택해 주세요.");
            return;
        }

        const checkedRows = customerModalGrid.getCheckedRows();
        if (checkedRows.length === 0) {
            alert("적용할 행을 선택해주세요.");
            return;
        }

        let rowDataList = [];
        checkedRows.forEach((el) => {
            let obj = {};
            obj.empId = getRow.empId;
            obj.bizNo = el.bizNo;
            obj.custName = el.custName;
            rowDataList.push(obj);
        })
        customerGrid.getGrid().appendRows(rowDataList, {});

        $('#customerModal').modal('hide'); // jQuery 사용 시
    }

    const searchEmpGrid = () => {
        customerGrid.clear();

        let param = {
            searchEmpId : $("#searchEmpId").val(),
            searchEmpNm : $("#searchEmpNm").val(),
            isAdmin : _isAdmin ? 'Y' : 'N'
        }

        empGrid.load(apiUrl + "/emp/list", param, function(data){});
    }

    const searchCustomerGrid = (param) => {
        let params = {
            empId : param.empId
        };

        customerGrid.load(apiUrl + "/customer/list", params, function(data){});
    }

    const searchCustModalGrid = () => {
        let param = {
            searchCustId : $("#searchCustId").val()
        }

        customerModalGrid.load(apiUrl + "/customer/modal/list", param, function(data){});
    }

    const openPgmModal = () => {
        customerModalGrid.clear();
        customerModalGrid.getGrid().refreshLayout();

        searchCustModalGrid();
    }


    const fn_saveUserGrid = () => {
        const upMenuFocusedCell = empGrid.getGrid().getFocusedCell();
        const upMenuFocusData = empGrid.getGrid().getRow(upMenuFocusedCell.rowKey);

        let modifiedData = customerGrid.getGrid().getModifiedRows();
        const createdData = modifiedData.createdRows;

        const createdLength = !isNull(createdData.length) ? createdData.length : 0;
        if (createdLength === 0 ) {
            alert("변경된 데이터가 없습니다.");
            return;
        }

        const result = confirm("총 " + (createdLength) + "건의 데이터를 저장하시겠습니까?");

        let params = [];
        for (let i = 0; i < createdData.length; i++) {
            createdData[i].rowStatus = 'C';
            params.push(createdData[i]);
        }

        if (result) {
            $.ajax({
                url: apiUrl + "/save",
                data: JSON.stringify(params),
                contentType:'application/json',
                type: 'POST',
                success: (result) => {
                    if (result > 0) {
                        alert("저장이 완료되었습니다.");
                        searchCustomerGrid(upMenuFocusData);
                    } else {
                        alert("저장에 실패하였습니다.");
                        searchCustomerGrid(upMenuFocusData);
                    }
                }, error: (xhr, status, error) => {
                    alert(xhr.responseText);
                    searchCustomerGrid(upMenuFocusData);
                }
            })
        }
    }

    const fn_deleteUserGrid = () => {
        const focusedCell = empGrid.getGrid().getFocusedCell();
        const getData = empGrid.getGrid().getRow(focusedCell.rowKey);

        const checkedRows = customerGrid.getCheckedRows();

        if (checkedRows.length <=0 ) {
            alert("삭제할 행을 선택해주세요.");
            return;
        }

        const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
        if (confirmResult) {
            $.ajax({
                url: apiUrl,
                data: JSON.stringify(checkedRows),
                contentType:'application/json',
                type: 'DELETE',
                success: (result) => {
                    if (result > 0) {
                        alert("삭제가 완료되었습니다.");
                        searchCustomerGrid(getData);
                    } else {
                        alert("삭제에 실패하였습니다.");
                        searchCustomerGrid(getData);
                    }
                },
                error: (xhr, status, error) => {
                    alert(xhr.responseText);
                    searchCustomerGrid(getData);
                }
            })
        }
    }


</script>
</div>

</html>