<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">-->


<th:block th:fragment="content">
    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3></h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">개인정보관리</li>
                            <li class="breadcrumb-item active" aria-current="page">개인정보</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <div class="page-content" id="profile">
            <section class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <div class="card">
                        <div class="card-body">
                            <!-- Profile Section -->
                            <h4 class="mb-3">개인정보</h4>
                            <form id="myDetail">
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="empId" class="form-label">ID</label>
                                        <input type="text" class="form-control" id="empId" name="empId" value="" disabled="disabled">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="empName" class="form-label">이름</label>
                                        <input type="text" class="form-control" id="empName" name="empName" value="">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-6">
                                        <label for="gradeName" class="form-label">직급</label>
                                        <input type="text" class="form-control" id="gradeName" name="gradeName" value="" disabled="disabled">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="entranceDate" class="form-label">입사일자</label>
                                        <input type="text" class="form-control" id="entranceDate" name="entranceDate" value="" disabled="disabled">
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-6">
                                        <label for="empTel" class="form-label">휴대전화</label>
                                        <input type="text" class="form-control" id="empTel" name="empTel" placeholder="Enter your phone number" value="">
                                    </div>
                                    <div class="col-md-6">
                                        <label for="empMail" class="form-label">empMail</label>
                                        <input type="email" class="form-control" id="empMail" name="empMail" placeholder="Enter your email" value="">
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="button" id="btnProfile" class="btn btn-primary " style="width: auto;">저장</button>
                                </div>
                            </form>

                            <!-- Password Change Section -->
                            <h4 class="mt-5 mb-3">비밀번호 변경</h4>
                            <form id="myPassword">
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <label for="curPassword" class="form-label">현재 비밀번호</label>
                                        <input type="password" class="form-control" id="curPassword" placeholder="현재 패스워드 입력해주세요." required>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <div class="col-md-12">
                                        <label for="newPassword" class="form-label">신규 비밀번호</label>
                                        <input type="password" class="form-control" id="newPassword" placeholder="신규 패스워드 입력해주세요." required>
                                    </div>
                                </div>
                                <div class="row mb-4">
                                    <div class="col-md-12">
                                        <label for="password" class="form-label">신규 비밀번호 확인</label>
                                        <input type="password" class="form-control" id="password" placeholder="신규 패스워드 다시 입력해주세요." required>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="button" id="btnPassword"  class="btn btn-primary" style="width: auto;">변경</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <script type="text/javascript">
            (function() {
                var apiUrl = "/api/pages/myprofile"

                $(document).ready(function() {

                    searchProfile();

                });

                function searchProfile()
                {
                    $.ajax({
                        url: apiUrl,
                        data: null,
                        type: 'GET',
                        success: (result) => {
                            $("#myDetail").bindForm(result);
                        }
                    });
                }

                $("#btnProfile").on('click', fnProfile);
                $("#btnPassword").on('click', fnPassword);

                function fnProfile()
                {
                    $.ajax({
                        url: apiUrl + "/info",
                        data: JSON.stringify($("#myDetail").getData()),
                        contentType:'application/json',
                        type: 'POST',
                        success: (result) => {
                            if(result > 0)
                                alert("저장되었습니다.");

                            searchProfile();
                        },
                        error: (result) => {
                            alert(result.responseText);
                        },
                    })
                }

                function fnPassword()
                {
                    $.ajax({
                        url: apiUrl + "/pwd",
                        data: JSON.stringify({
                            empId: $("#empId").val(),
                            curPassword : $("#curPassword").val(),
                            newPassword : $("#newPassword").val(),
                            password : $("#password").val()
                        }),
                        contentType:'application/json',
                        type: 'POST',
                        success: (result) => {
                            if(result > 0)
                                alert("저장되었습니다.");

                            $("#myPassword").clear();

                            searchProfile();
                        },
                        error: (result) => {
                            alert(result.responseText);
                        },
                    })
                }

            })();



        </script>
    </div>
</th:block>