<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">-->


<th:block th:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>선입금 킵 요청</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">마일리지관리</li>
                            <li class="breadcrumb-item active" aria-current="page">선입금 킵 요청</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div id="searchTable" class="table">
                            <div class="card-body pt-3 pb-3" id="searchForm">
                                <!--                            <div class="row align-items-center p-2" style="">-->
                                <div class="row align-items-center p-2 search-area custom-bg">
                                    <div class="col-md-11">
                                        <div class="form-group row mb-0 align-items-center text-center">
                                            <!-- 요청일 -->
                                            <div class="col-md-1 text-start">
                                                <label class="col-form-label">날짜</label>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="d-flex justify-content-between">
                                                    <input type="date" class="form-control form-control-sm me-2" id="searchStartDate" name="searchStartDate">
                                                    <input type="date" class="form-control form-control-sm" id="searchEndDate" name="searchEndDate" >
                                                </div>
                                            </div>
                                            <!-- 담당자명 -->
                                            <div class="col-md-1 text-start">
                                                <label class="col-form-label">담당자명</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="searchEmplName" name="searchEmplName" class="form-control form-control-sm" placeholder="담당자명">
                                            </div>
                                            <!-- 결재상태 -->
                                            <div class="col-md-1 text-start">
                                                <label class="col-form-label">결재상태</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-select" id="searchApplyStatus" name="searchApplyStatus">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row mb-0 align-items-center text-center mt-2">

                                            <!-- 고객명 -->
                                            <div class="col-md-1 text-start">
                                                <label class="col-form-label">고객명</label>
                                            </div>
                                            <div class="col-md-3">
                                                <input type="text" id="searchCustName" name="searchCustName" class="form-control form-control-sm" placeholder="고객명">
                                            </div>
                                            <!-- 요청구분 -->
                                            <div class="col-md-1 text-start">
                                                <label class="col-form-label">요청구분</label>
                                            </div>
                                            <div class="col-md-3">
                                                <select class="form-select" id="searchReqGubun" name="searchReqGubun">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- 조회 버튼 -->
                                    <div class="col-md-1 text-end">
                                        <a href="#" class="btn btn-primary" id="searchBtn">조회</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header d-flex align-items-center gap-3">
                            <h4 class="card-title mb-0">요청목록</h4>
                            <span class="data-count">[총 <span id="data-count-value">0</span>건]</span>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end" style="width: 100%;">
                                <div class="d-flex pb-3 gap-1">
                                    <button type="button" class="btn btn-primary btn-sm" id="modalAddBtn" data-bs-toggle="modal" data-bs-target="#preMileageReqModal">추가</button>

                                    <button type="button" class="btn btn-secondary btn-sm" id="btnDeletePreMileageReqGrid">삭제</button>
                                </div>
                            </div>
                            <div id="preMileageReqGrid" class="tui-grid"></div>
                        </div>

                        <div class="modal fade" id="preMileageReqModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
                                 role="document">
                                <div class="modal-content">
                                    <!-- Modal Header -->
                                    <div class="modal-header bg-primary text-white">
                                        <h5 class="modal-title text-white" id="exampleModalCenterTitle">선입금 킵 요청정보</h5>
                                        <button type="button" class="btn-close text-white" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                    </div>

                                    <!-- Modal Body -->
                                    <div class="modal-body">
                                        <form class="form">
                                            <fieldset class="border p-3 rounded">
                                                <div class="row g-3">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">담당자</label>
                                                            <input type="text" id="userName" name="userName" class="form-control" disabled>
                                                            <input type="hidden" id="userId" name="userId" class="form-control" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">고객</label>
                                                            <th:block th:replace="components/cust-select :: cust-select(
                                                                id='custId',
                                                                name='custId')"></th:block>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">요청구분</label>
                                                            <select id="reqGubun" name="reqGubun" class="form-select form-control-sm">
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                        </div>
                                                    </div>

                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">잔여마일리지</label>
                                                            <input type="text" id="restMileage"
                                                                   class="form-control is-num text-end" name="restMileage" disabled>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">요청마일리지</label>
                                                            <input type="text" id="reqAmt"
                                                                   class="form-control is-num text-end" name="reqAmt">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">결재상태</label>
                                                            <select class="form-select" id="applyStatus" name="applyStatus" disabled>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label class="form-label">요청일자</label>
                                                            <input type="date" class="form-control" id="reqDate" name="reqDate" disabled>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" id="reqNo" name="reqNo">
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>

                                    <!-- Modal Footer -->
                                    <div class="modal-footer bg-light">
                                        <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-x"></i> 닫기
                                        </button>
                                        <button type="button" class="btn btn-primary ms-1" id="modalSaveBtn">
                                            <i class="bx bx-check"></i> 저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <script th:inline="javascript">
        (function() {
        const apiUrl = '/api/pages/premileagereq';

        let preMileageReqGrid;
        let $isNew = 'N';

        let _userId;
        let _userNm;

        let isAdmin;

        $(document).ready(function() {
            _userId = /*[[${userId}]]*/'';
            _userNm = /*[[${userNm}]]*/'';

            const roleIds = /*[[${roleIds}]]*/'';

            const adminRoles = ['1', '2'];  // 슈퍼관리자(1), 관리자(2)
            isAdmin = adminRoles.some(value => roleIds.includes(value));

            const nowYear = new Date().getFullYear();
            const nowMonth = new Date().getMonth();

            const startDate = new Date(nowYear, nowMonth - 1, 1); // 이전 달 1일
            const endDate = new Date(nowYear, nowMonth + 1, 0); // 현재 달의 마지막 날

            // 포맷팅된 날짜 값을 input에 설정
            $("#searchStartDate").val(formatDate(startDate));
            $("#searchEndDate").val(formatDate(endDate));

            findInitCodes();
            initEvent();
        });

        const findInitCodes = async () => {
            const param =
                [
                    {"patternCode": "SE04"},
                    {"patternCode": "SE05"}
                ];

            const result = await CommonJs.initFindCodes(param);
            findCodeCallback(result);
        }

        const findCodeCallback = (result) => {
            const SE04Options = {
                value: 'baseCode',
                text: 'codeName',
                items: result.SE04,
                placeholder: '전체'
            };
            $("#searchApplyStatus").addOptions(SE04Options);
            $("#applyStatus").addOptions(SE04Options);

            $("#searchApplyStatus").val('01');

            const options = {
                value: 'baseCode',
                text: 'codeName',
                items: result.SE05,
                placeholder: '선택'
            };
            $("#searchReqGubun").addOptions(options);
            $("#reqGubun").addOptions(options);

            initPreMileageReqGrid();
        }

        const initEvent = () => {

            $("#btnDeletePreMileageReqGrid").on('click', deleteData);

            $('#modalAddBtn').on('click', () => {openPgmModal('1')});
            $('#customerModal').off('hide.bs.modal').on('hide.bs.modal', closeBeforeModal);  // 모달이 닫히기 전에 이벤트 발생
            $('#exampleModalCenter').off('hidden.bs.modal').on('hidden.bs.modal', closeAfterModal); // 모달이 완전히 닫힌 후 이벤트 발생
            $("#modalSaveBtn").on('click', save);

            $("#searchBtn").on('click', search);

            // 고객 정보 변경할 때마다 마일리지 금액 가져오기
            $("#custId").on("change", function () {
                findExistMileage(this.value);
            })

            $('.is-num').bind('keyup', numberKeyupEvent);
        }

        const initPreMileageReqGrid = () => {

            var columns = new CustomTuiGrid()
                .add('reqNo', '요청번호', 100, {})
                .add('custName', '고객명', 100, {})
                .add('userName', '담당자명', 100, {})
                .addNumber('reqAmt', '요청마일리지', 100, {
                    align: 'right',
                    comma: true,
                })
                .add('applyStatusNm', '결재상태', 100, {})
                .add('reqDate', '요청일자', 100, {})
                .add('reqGubunNm', '요청구분', 100, {})
                .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기


            preMileageReqGrid = columns.init('preMileageReqGrid', [])
                .render();

            // 더블 클릭 이벤트 설정
            preMileageReqGrid.getGrid().on('dblclick', function(ev) {
                openPgmModal('2');
            });

            search();
        }

        const search = () => {
            preMileageReqGrid.clear();

            const param = $("#searchTable").getData();
            param.isAdmin = isAdmin;

            $.ajax({
                url: apiUrl,
                data: param,
                type: 'GET',
                success: (result) => {
                    preMileageReqGrid.bind(result);
                }
            });
        }

        const save = () => {
            const param = {};
            $('#preMileageReqModal').find('input, select, input[type="checkbox"]').each((index, item) => {
                // checkbox일 때
                if ($(item).is(':checkbox')) {
                    param[item.id] = $(item).prop('checked') ? 'Y' : 'N'; // 체크 여부에 따라 Y 또는 N 설정
                } else {
                    // input일 때의 처리
                    param[item.id] = item.value.replace(/,/g, ''); // input 값 설정
                }
            });

            if ($isNew) {
                param.rowStatus = 'C';
            } else {
                param.rowStatus = 'U';
            }

            if (validation(param)) {
                return;
            }

            if (confirm("데이터를 저장하시겠습니까?")) {
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(param),
                    contentType:'application/json',
                    type: 'POST',
                    success: (result) => {
                        if (result > 0) {
                            alert("저장이 완료되었습니다.");
                            $('#preMileageReqModal').modal('hide');
                            search();
                        } else {
                            alert("저장에 실패하였습니다.");
                            $('#preMileageReqModal').modal('hide');
                            search();
                        }
                    },error: (xhr, status, error) => {
                        alert(xhr.responseText);
                    }
                })
            }
        }

        const deleteData = () => {
            const focusedCell = preMileageReqGrid.getGrid().getFocusedCell();
            const focusRow = preMileageReqGrid.getGrid().getRow(focusedCell.rowKey);
            if (isNull(focusedCell)) {
                alert("삭제할 행을 선택해주세요.");
                return;
            }

            if (focusRow.applyStatus === '02' || focusRow.applyStatus === '02') {
                alert("승인요청건만 삭제가 가능합니다.");
                return;
            }

            const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
            if (confirmResult) {
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(focusRow),
                    contentType:'application/json',
                    type: 'DELETE',
                    success: (result) => {
                        if (result > 0) {
                            alert("삭제가 완료되었습니다.");
                            search();
                        } else {
                            alert("삭제에 실패하였습니다.");
                            search();
                        }
                    }, error: (xhr, status, error) => {
                        alert(xhr.responseText);

                    }
                })
            }
        }

        const openPgmModal = (param) => {
            clearForm('preMileageReqModal');

            if (param === '1') {
                $isNew = true;

                // 담당자
                $("#userId").val(_userId);
                $("#userName").val(_userNm);

                // 승인요청
                $("#applyStatus").val('01');

                // 요청일자(현재)
                let today = new Date();
                let formattedDate = today.toISOString().split('T')[0]; // yyyy-MM-dd 형식으로 변환
                $("#reqDate").val(formattedDate);

                disableForm(false);
            } else {
                $isNew = false;

                const focusedCell = preMileageReqGrid.getGrid().getFocusedCell();
                const data = preMileageReqGrid.getGrid().getRow(focusedCell.rowKey);

                $("#preMileageReqModal").bindForm(data);

                if (data.applyStatus === '02' || data.applyStatus === '03') {
                    disableForm(true);
                } else {
                    disableForm(false);
                    document.getElementById("custId").choicesInstance.disable();
                }
            }

            $('#preMileageReqModal').modal('show');
        }

        const disableForm = (flag) => {

            $("#reqAmt").attr('disabled', flag);
            $("#reqGubun").attr('disabled', flag);

            if (flag) {
                document.getElementById("custId").choicesInstance.disable();
            } else {
                document.getElementById("custId").choicesInstance.enable();
            }
        }

        const closeBeforeModal = () => {
            $('#preMileageReqModal').find('input, select, textarea').each(function() {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 false로 설정
                    $(this).prop('checked', false);
                } else {
                    // 그 외의 입력 필드는 빈 문자열로 설정
                    $(this).val('');
                }
            });
        }

        const closeAfterModal = () => {
        }

        const clearForm = (id) => {
            $('#' + id).find('input, select, textarea').each(function () {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 체크 해제
                    $(this).prop('checked', false);
                } else if ($(this).is('select')) {
                    const obj = this;
                    if (obj.classList.contains('choices') && obj.choicesInstance) {
                        // Choices.js가 적용된 select 초기화
                        obj.choicesInstance.setChoiceByValue(''); // 선택값 초기화
                    } else {
                        // 일반 select는 첫 번째 값으로 초기화
                        $(this).val($(this).find('option:first').val());
                    }
                } else {
                    // 나머지 input 및 textarea는 빈 값으로 초기화
                    $(this).val('');
                }
            });
        };

        const findExistMileage = (param) => {
            var params = {
                bizNo: param
            };

            $.ajax({
                url: apiUrl + "/custinfo",
                data: params,
                type: 'GET',
                success: (result) => {
                    if(!isNull(result))
                    {
                        $("#restMileage").val(setComma(result.mileage));
                    }
                }
            });
        }

        const validation = (param) => {

            if (isNull(param.custId)) {
                alert("고객을 선택해주세요.");
                return true;
            }

            if (isNull(param.reqGubun)) {
                alert("요청구분을 선택해주세요.");
                return true;
            }

            if (isNull(param.reqAmt)) {
                alert("마일리지를 입력해주세요.");
                return true;
            }

            if (param.reqGubun === '02') {
                if (param.restMileage - param.reqAmt < 0) {
                    alert("요청금액은 잔여마일리지보다 작아야합니다.");
                    return true;
                }
            }

            if (param.applyStatus === '02' || param.applyStatus === '03') {
                alert("승인요청건만 변경이 가능합니다.");
                return true;
            }

            return false;
        }
        })();
    </script>
</th:block>

<!--</html>-->