<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">-->


<th:block th:fragment="content">

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last p-3">
                    <h3>상품관리</h3>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">업무관리</li>
                            <li class="breadcrumb-item active" aria-current="page">상품관리</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

        <section id="horizontal-input">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body pt-3 pb-3" id="searchForm">
<!--                            <div class="row align-items-center p-2" style="">-->
                            <div class="row align-items-center p-2 search-area custom-bg">
                                <div class="col-md-11">
                                    <div class="form-group row mb-0 align-items-center text-center">
                                        <label class="col-form-label col-lg-1 col-3">상품코드</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="_search_prodId" class="form-control form-control-sm" name="prodId" placeholder="상품코드">
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">상품명</label>
                                        <div class="col-lg-2 col-9">
                                            <input type="text" id="_search_prodName" class="form-control form-control-sm" name="prodName" placeholder="상품명">
                                        </div>
                                        <label class="col-form-label col-lg-1 col-3">사용여부</label>
                                        <div class="col-lg-3 col-9">
                                            <div class="d-flex">
                                                <select class="form-select" id="_search_useInd" name="useInd"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1 text-end">
                                    <a href="#" class="btn btn-primary" id="searchBtn">조회</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="section">
            <div class="row" id="basic-table">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">상품관리내역</h4>
                        </div>
                        <div class="card-body">
                            <div class="d-flex justify-content-end" style="width: 100%;">
                                <div class="d-flex pb-3 gap-1">
                                    <button type="button" class="btn btn-primary btn-sm" id="modalAddBtn" data-bs-toggle="modal" data-bs-target="#productModal">추가</button>

                                    <button type="button" class="btn btn-secondary btn-sm" id="btnDeleteProductGrid">삭제</button>
                                </div>
                            </div>
                            <div id="productGrid" class="tui-grid"></div>
                        </div>

                        <!-- 상품 정보 모달 -->
                        <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalTitle" aria-hidden="true" data-bs-backdrop="static">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                                <div class="modal-content shadow-sm rounded-3 border-0">
                                    <div class="modal-header bg-primary text-white rounded-top">
                                        <h5 class="modal-title text-white" id="productModalCenterTitle text-white">상품 정보</h5>
                                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>

                                    <div class="card-body p-4">
                                        <form id="productForm" class="form">
                                            <div class="row g-3 mb-3">
                                                <div class="col-md-4">
                                                    <label class="form-label" for="_productPop_prodId">상품코드</label>
                                                    <input type="text" id="_productPop_prodId" class="form-control" name="prodId" placeholder="상품코드 자동 생성">
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label" for="_productPop_prodName">상품명</label>
                                                    <input type="text" id="_productPop_prodName" class="form-control" name="prodName">
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label" for="_productPop_prodAmt">상품가</label>
                                                    <input type="text" id="_productPop_prodAmt" class="form-control is-num text-end" name="prodAmt">
                                                </div>
                                            </div>
                                            <div class="row g-3 mb-3">
                                                <div class="col-md-4">
                                                    <label class="form-label" for="_productPop_prodIncentive">상품수수료</label>
                                                    <input type="text" id="_productPop_prodIncentive" class="form-control is-num text-end" name="prodIncentive">
                                                </div>
                                                <div class="col-md-4">
                                                    <label class="form-label" for="_productPop_useInd">사용여부</label>
                                                    <select class="form-select" id="_productPop_useInd" name="useInd"></select>
                                                </div>
                                            </div>
                                        </form>

                                        <div class="d-flex justify-content-between align-items-center mt-4 mb-2">
                                            <h6 class="mb-0">상품 항목 목록</h6>
                                            <div>
                                                <button type="button" class="btn btn-outline-primary btn-sm" id="productModalGridAddBtn">
                                                    추가
                                                </button>
                                                <button type="button" class="btn btn-primary btn-sm" id="productModalGridDeleteBtn">
                                                    삭제
                                                </button>
                                            </div>
                                        </div>

                                        <div id="productModalGrid" class="tui-grid" style="height: 250px;"></div>
                                    </div>


                                    <!-- Modal Footer -->
                                    <div class="modal-footer bg-light rounded-bottom d-flex justify-content-end">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            닫기
                                        </button>
                                        <button type="button" class="btn btn-success ms-2" id="modalSaveBtn">
                                            💾 저장
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <script type="text/javascript">
        (function() {
        const apiUrl = '/api/pages/product';
        const _popPrefix_ = '_productPop_';

        let productGrid;
        let productModalGrid;

        let $isNew;
        let $needSearch = false;

        $(document).ready(function() {
            initEvent();
            findInitCodes();
        });

        const initEvent = () => {
            $("#modalAddBtn").on('click', function() {
                openProductPop('1');
            });
            $("#modalSaveBtn").on('click', fn_saveProductGrid);

            $("#searchBtn").on('click', searchProductGrid);
            $("#btnDeleteProductGrid").on('click', fn_deleteProductGrid);

            $('#productModalGridAddBtn').on('click', addRowModalGrid);
            $('#productModalGridDeleteBtn').on('click', deleteRowModalGrid);

            $("#searchForm").on('keydown', function(event) {
                if (event.key === "Enter") {
                    event.preventDefault(); // 폼의 기본 제출 방지
                    $("#searchBtn").click(); // 검색 버튼 클릭 트리거
                }
            });

            // 숫자 input 콤마 형식
            $(".priceformat").on('input', function(){
                var obj = $(this);
                obj.val(formatNumber(obj.val()));
            });

            $('.is-num').bind('keyup', numberKeyupEvent);

            $('#productModal').on('shown.bs.modal', () => {
                productModalGrid.getGrid().clear();
                productModalGrid.getGrid().refreshLayout();

                if ($needSearch) {
                    searchProductModalGrid();
                }
            });
        }

        const findInitCodes = async () => {
            const param =
                [
                    {"patternCode": "SE06"}      // 사용여부
                ];

            const result = await CommonJs.initFindCodes(param);
            findCodeCallback(result);
        }

        const findCodeCallback = (result) => {
            let SE06Options;
            SE06Options=  {
                value: 'baseCode',
                text: 'codeName',
                items: result.SE06,
                placeholder: '전체'
            };
            $("#_search_useInd").addOptions(SE06Options);

            SE06Options = {
                value: 'baseCode',
                text: 'codeName',
                items: result.SE06,
                placeholder: '선택'
            };
            $("#_productPop_useInd").addOptions(SE06Options);

            initProductGrid();
            initProductModalGrid();
        }

        const initProductGrid = () => {


            var columns = new CustomTuiGrid()
                .add('prodId', '상품코드', 100, {})
                .add('prodName', '상품명', 150, {})
                .addNumber('prodAmt', '상품가', 150, {
                    align: 'right',
                    comma: true,
                })
                .add('useIndName', '사용여부', 70, { align: 'center' })
                .addNumber('prodIncentive', '상품수수료', 80, {
                    align: 'right',
                    comma: true,
                })
                .add('useInd', '사용여부', 70, { visible: false })
                .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기

            productGrid = columns.init('productGrid', [])
                .render();

            // 더블 클릭 이벤트 설정
            productGrid.getGrid().on('dblclick', function(ev) {
                openProductPop('2');
            });

            searchProductGrid();
        }


        const initProductModalGrid = () => {
            var columns = new CustomTuiGrid()
                .addNumber('seq', '순번', 250, {
                    editor: true,
                    align: 'center',
                    comma: true,
                })
                .add('name', '항목명', 480, {editor: true})
                .add('prodId', '상품코드', 100, {visible: false})
                // .setFitStyle('fill')  // 페이지 폭에 맞추어 그리드를 채우기

            productModalGrid = columns.init('productModalGrid', [])
                .render();
        }

        const searchProductGrid = () => {
            productGrid.clear();

            const param = {
                prodId : $("#_search_prodId").val(),
                prodName : $("#_search_prodName").val(),
                useInd: $("#_search_useInd").val()
            };

            $.ajax({
                url: apiUrl,
                data: param,
                type: 'GET',
                success: (result) => {
                    if(result.length > 0) {
                        productGrid.bind(result);
                    }
                }
            });
        }

        // param : 1(추가버튼) , 2(그리드 더블클릭)
        const openProductPop = (param) => {

            clearForm('productModal');
            $("#" + _popPrefix_ + "prodId").attr('disabled', false);

            // 셀 더블 버튼 클릭 시
            if (param === '2') {
                $isNew = false;
                $needSearch = true;

                $("#" + _popPrefix_ + "prodId").attr('disabled', true);

                const focusedCell = productGrid.getGrid().getFocusedCell();
                const focusedData = productGrid.getGrid().getRow(focusedCell.rowKey);

                $('#productModal').bindForm(focusedData);

            } else {
                $isNew = true;
                $needSearch = false;

                $("#" + _popPrefix_ + "prodId").attr('disabled', false);
            }

            $('#productModal').modal('show');
        }

        const clearForm = (id) => {
            $('#' + id).find('input, select, textarea').each(function () {
                if ($(this).is(':checkbox')) {
                    // 체크박스는 false로 설정
                    $(this).prop('checked', false);
                } else {
                    // 그 외의 입력 필드는 빈 문자열로 설정
                    $(this).val('');
                }
            });
        };


        const fn_saveProductGrid = () => {
            // 다른 임의 셀로 포커스 변경 → 간접적으로 현재 셀 포커스 해제
            productModalGrid.getGrid().focus(0, 'seq');

            const param = {};
            $('#productModal').find('input, select, input[type="checkbox"]').each((index, item) => {
                // checkbox일 때
                if ($(item).is(':checkbox')) {
                    param[item.name] = $(item).prop('checked') ? 'Y' : 'N'; // 체크 여부에 따라 Y 또는 N 설정
                } else {
                    // input일 때의 처리
                    param[item.name] = item.value.replace(/,/g, ''); // input 값 설정
                }
            });

            if (isNull(param.prodName)) {
                alert("상품명을 입력해주세요.");
                return false;
            }

            if (isNull(param.prodAmt)) {
                alert("상품가를 입력해주세요.");
                return false;
            }

            if (isNull(param.useInd)) {
                alert("사용여부를 선택해주세요.");
                return false;
            }

            if ($isNew) {
                param.rowStatus = "C";
            } else {
                param.rowStatus = "U";
            }

            param.productModalGridDtoList = productModalGrid.getGrid().getData();

            if (confirm("데이터를 저장하시겠습니까?")) {
                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: apiUrl,
                        data: JSON.stringify(param),
                        contentType: 'application/json',
                        type: 'POST',
                        success: (result) => {
                            if (result > 0) {
                                alert("저장이 완료되었습니다.");
                                $('#productModal').modal('hide');
                                searchProductGrid();
                            } else {
                                alert("저장에 실패하였습니다.");
                                $('#productModal').modal('hide');
                                searchProductGrid();
                            }
                        }, error: (xhr, status, error) => {
                            alert(xhr.responseText);
                            return false;
                        }
                    })
                });
            }
        }

        const fn_deleteProductGrid = () => {
            const focusedCell = productGrid.getGrid().getFocusedCell();
            if (isNull(focusedCell)) {
                alert("삭제할 행을 선택해주세요.");
                return;
            }

            const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
            if (confirmResult) {
                const focusRow = productGrid.getGrid().getRow(focusedCell.rowKey);
                let params = {
                    prodId : focusRow.prodId,
                }
                $.ajax({
                    url: apiUrl,
                    data: JSON.stringify(params),
                    contentType:'application/json',
                    type: 'DELETE',
                    success: (result) => {
                        if (result > 0) {
                            alert("삭제가 완료되었습니다.");
                            searchProductGrid();
                        } else {
                            alert("삭제에 실패하였습니다.");
                            searchProductGrid();
                        }
                    }
                })
            }
        }

        const closeBeforeModal = () => {
            console.log('모달이 곧 닫힙니다!');
        }

        const closeAfterModal = () => {
            console.log('모달이 닫혔습니다!');
        }


        const modalAcceptBtn = () => {
            searchProductGrid();
        }


        function openPop(url, options) {
            if(self != top) {
                window.parent.openPop(url, options);
                return;
            }
            var container = document.getElementById("popup-container");
            if(container instanceof HTMLDivElement === false) {
                container = document.createElement("div");
                container.id = "popup-container";
                container.className = "popup-container";
                container.style.opacity = "0";
                container.style.display = "none";
                document.body.appendChild(container);
            }
            container.innerHTML = "";

            var popId = _.camelCase(_.nth(_.split(url, "/"), -2));
            if(!_.isEmpty(window[popId])) {
                window[popId].open(options);
            }
            else {
                fetch(url)
                    .then(function(response) {
                        return response.text();
                    })
                    .then(function(text) {
                        container.innerHTML = text;
                        Ustra.docReady(function() {
                            Array.from(container.querySelectorAll("script")).forEach(function(item) {
                                eval.apply(this, [item.textContent]);
                            });
                            if(!_.isEmpty(window[popId])) {
                                window[popId].open(options);
                            }
                        }, container);
                    });
            }
        }

        function formatCurrency() {
            console.log("# abc #");
            // 현재 입력 값 가져오기
            let value = $(this).val();

            // 숫자 이외의 문자 제거
            value = value.replace(/[^0-9]/g, '');

            // 천 단위로 콤마 추가
            if (value) {
                value = Number(value).toLocaleString();  // 콤마 추가
            }

            // 포맷팅된 값을 입력 필드에 설정
            $(this).val(value);
        }

        const addRowModalGrid = () => {
            const focusedCell = productGrid.getGrid().getFocusedCell();
            const focusedData = productGrid.getGrid().getRow(focusedCell.rowKey);

            const allRow = productModalGrid.getGrid().getData();

            let list = [];
            let row = {};

            row.prodId = focusedData.prodId;
            if (allRow.length === 0) {
                row.seq = '1';
            } else {
                row.seq = (allRow.reduce((max, row) => {
                    const seq = Number(row.seq ?? 0);
                    return seq > max ? seq : max;
                }, 0) + 1).toString();
            }
            list.push(row);
            productModalGrid.getGrid().appendRows(list, {});
        }

        const deleteRowModalGrid = () => {
            const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
            if (confirmResult) {

                const focusedCell = productModalGrid.getGrid().getFocusedCell();
                const focusedData = productModalGrid.getGrid().getRow(focusedCell.rowKey);

                $.ajax({
                    url: apiUrl + "/delete/item/" + focusedData.prodId + "/" + focusedData.seq,
                    data: null,
                    contentType:'application/json',
                    type: 'DELETE',
                    success: (result) => {
                        if (result > 0) {
                            alert("삭제가 완료되었습니다.");
                            searchProductModalGrid();
                        } else {
                            alert("삭제에 실패하였습니다.");
                            searchProductModalGrid();
                        }
                    },
                    error: (xhr, status, error) => {
                        alert(xhr.responseText);
                        searchProductModalGrid();
                    }
                })
            }
        }

        const searchProductModalGrid = () => {
            const focusedCell = productGrid.getGrid().getFocusedCell();
            const focusedData = productGrid.getGrid().getRow(focusedCell.rowKey);
            productModalGrid.load(apiUrl + "/item/list", focusedData, function(data){});
        }
        })();
    </script>

</th:block>

<!--</html>-->