<!--<!DOCTYPE html>-->
<!--<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/framelayout}">-->


<th:block th:fragment="content">
            
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>프로그램메뉴관리</h3>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">시스템</li>
                        <li class="breadcrumb-item">메뉴관리</li>
                        <li class="breadcrumb-item active" aria-current="page">프로그램메뉴관리</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section id="horizontal-input" >
        <div class="row">
            <div class="col-md-12">
                <div class="card">
<!--                    <div class="card-body pt-3 pb-3" id="searchForm">-->
<!--                        &lt;!&ndash;                            <div class="row align-items-center p-2" style="">&ndash;&gt;-->
<!--                        <div class="row align-items-center p-2 search-area custom-bg">-->
<!--                            <div class="col-md-11">-->
<!--                                <div class="form-group row mb-0 align-items-center text-center">-->
<!--                                    <label class="col-form-label col-lg-1 col-3">메뉴명</label>-->
<!--                                    <div class="col-lg-4 col-9">-->
<!--                                        <input type="text" id="programNm" class="form-control form-control-sm"-->
<!--                                               name="first-name" placeholder="메뉴명">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-1 text-end">-->
<!--                                <a href="#" class="btn btn-primary" id="searchBtn">조회</a>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card-body" id="searchForm">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6">-->
<!--                                <div class="form-group row align-items-center">-->
<!--                                    <div class="col-lg-2 col-3">-->
<!--                                        <label class="col-form-label" for="first-name">메뉴명</label>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-10 col-9">-->
<!--                                        <input type="text" id="first-name" class="form-control form-control-sm" name="fname"-->
<!--                                               placeholder="메뉴명">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; <div class="col-md-6">-->
<!--                                <div class="form-group row align-items-center">-->
<!--                                    <div class="col-lg-2 col-3">-->
<!--                                        <label class="col-form-label" for="last-name">소속</label>-->
<!--                                    </div>-->
<!--                                    <div class="col-lg-10 col-9">-->
<!--                                        <input type="text" id="last-name" class="form-control form-control-sm" name="fname"-->
<!--                                               placeholder="Last Name">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div> &ndash;&gt;-->
<!--                            <a href="#" class="btn btn-secondary" id="searchBtn">조회</a>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>

    <section class="section">
        <div class="row" id="basic-table">
            <div class="col-12 col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">메뉴 목록</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" style="width: 100%;">
                            <div class="d-flex" style="gap: 5px; padding-bottom: 5px; padding-top: 0;">
                                <!-- 빈 div로 버튼 자리 확보 -->
                                <div style="height: 32px;"></div>
                            </div>
                        </div>
                        <div id="menuGrid"></div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">프로그램 목록</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-end" style="width: 100%;">
                            <div class="d-flex" style="gap: 5px; padding-bottom: 5px; padding-top: 0;">
                                <button type="button" class="btn btn-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#programModal">추가</button>
                                <button type="button" class="btn btn-success btn-sm" id="btnSavePgmGrid">저장</button>
                                <button type="button" class="btn btn-danger btn-sm" id="btnDeletePgmGrid">삭제</button>
                            </div>
                        </div>
                        <div id="programGrid"></div>
                    </div>

                    <!-- Vertically Centered modal Modal -->
                    <div class="modal fade" id="programModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-centered modal-dialog-scrollable modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">프로그램 목록
                                    </h5>
                                    <button type="button" class="close" data-bs-dismiss="modal"
                                        aria-label="Close">
                                        <i data-feather="x"></i>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <form action="#" class="d-flex align-items-center justify-content-between mb-4">
                                        <div class="d-flex align-items-center flex-grow-1 me-3">
                                            <label for="mp_modal_pgmNm" class="mb-0 me-2"></label>
                                            <input id="mp_modal_pgmNm" type="text" placeholder="프로그램명 혹은 url" class="form-control">
                                        </div>
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                            <i class="bx bx-check d-block d-sm-none"></i>
                                            <span class="d-none d-sm-block">조회</span>
                                        </button>
                                    </form>
                                    <div id="pgmModalGrid"></div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light-secondary"
                                        data-bs-dismiss="modal">
                                        <i class="bx bx-x d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">닫기</span>
                                    </button>
                                    <button type="button" class="btn btn-primary ms-1" data-bs-dismiss="modal" id="modalAcceptBtn">
                                        <i class="bx bx-check d-block d-sm-none"></i>
                                        <span class="d-none d-sm-block">적용</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script type="text/javascript">
    (function() {
    const apiUrl = '/api/system/menu';
    const apiPgmUrl = '/api/system/program';

    let menuGrid;
    let programGrid;
    let pgmModalGrid;

    $(document).ready(function() {
        initEvent();
        initMenuGrid();
        initPgmGrid();
        initPgmModalGrid();
    });

    const initEvent = () => {
        $("#searchBtn").on('click', searchPgmGrid);
        $("#btnSavePgmGrid").on('click', fn_savePgmGrid);
        $("#btnDeletePgmGrid").on('click', fn_deletePgmGrid);
        $('#programModal').off('shown.bs.modal').on('shown.bs.modal', openPgmModal); // 모달이 완전히 열린 후 이벤트 발생
        $('#programModal').off('hide.bs.modal').on('hide.bs.modal', closeBeforeModal);  // 모달이 닫히기 전에 이벤트 발생
        $('#exampleModalCenter').off('hidden.bs.modal').on('hidden.bs.modal', closeAfterModal); // 모달이 완전히 닫힌 후 이벤트 발생
        $("#modalAcceptBtn").on('click', modalAcceptBtn);
    }

    const openPgmModal = () => {
        pgmModalGrid.clear();
        pgmModalGrid.refreshLayout();

        const param = {
            programNm : $("#mp_modal_pgmNm").val()
        };

        $.ajax({
            url: "/api/system/program",
            data: param,
            type: 'GET',
            success: (result) => {
                pgmModalGrid.resetData(result);
            }
        });
    }

    const closeBeforeModal = () => {
        console.log('모달이 곧 닫힙니다!');
    }

    const closeAfterModal = () => {
        console.log('모달이 닫혔습니다!');
    }
    

    const modalAcceptBtn = () => {
        const menuGridFocusedCell = menuGrid.getFocusedCell();
        const menuGridFocusRow = menuGrid.getRow(menuGridFocusedCell.rowKey);

        if (isNull(menuGridFocusRow) || isNull(menuGridFocusRow.menuUpId)) {
            alert("하위 메뉴를 선택헤주세요.");
        } else {
            const focusedCell = pgmModalGrid.getFocusedCell();
            const focusRow = pgmModalGrid.getRow(focusedCell.rowKey);
    
            const rowData = {
                programId: focusRow.programId,
                programNm: focusRow.programNm,
                programUrl: focusRow.programUrl,
                useYn: focusRow.useYn,
                programSrtOrd: focusRow.programSrtOrd
            };
            programGrid.appendRow(rowData, {});
        }
    }

    const initMenuGrid = () => {
        menuGrid = new tui.Grid({
            el: document.getElementById('menuGrid'),
            // data: treeData,
            // rowHeaders: ['rowNum', 'radio'],
            bodyHeight: 500,
            virtualScrolling: true,
            treeColumnOptions: {
              name: 'menuNm',
              useCascadingCheckbox: false
            },
            columns: [
            {
                header: '메뉴명',
                name: 'menuNm',
                editOptions: {
                    type: 'text',
                    useViewMode: true
                }
            },
            {
                header: '메뉴ID',
                name: 'menuId',
                align: 'center',
                editOptions: {
                    type: 'text',
                    useViewMode: true
                }
              }
            ]
        });

        menuGrid.on('click', (ev) => {
            programGrid.clear();
            let value = menuGrid.getRow(ev.rowKey);
            if (!isNull(value) && !isNull(value.menuUpId)) {
                searchPgmGrid(value);
            }
        })
        
        searchMenuGrid();
    }

    const initPgmGrid = () => {
        const Grid = tui.Grid;

        programGrid = new Grid({
            el: document.getElementById('programGrid'),
            columns: [
                {
                    header: '프로그램ID',
                    name: 'programId',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
                {
                    header: '프로그램명',
                    name: 'programNm',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    // hidden: true
                },
                {
                    header: '프로그램URL',
                    name: 'programUrl',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    // hidden: true
                },
                {
                    header: '사용여부',
                    name: 'useYn',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                }
            ],
            bodyHeight: 500,
            rowHeaders: ['checkbox']
        });
    }

    const initPgmModalGrid = () => {
        const Grid = tui.Grid;

        pgmModalGrid = new Grid({
            el: document.getElementById('pgmModalGrid'),
            columns: [
                {
                    header: '프로그램ID',
                    name: 'programId',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
                {
                    header: '프로그램명',
                    name: 'programNm',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    // hidden: true
                },
                {
                    header: '프로그램URL',
                    name: 'programUrl',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    },
                    // hidden: true
                },
                {
                    header: '사용여부',
                    name: 'useYn',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
                {
                    header: '정렬순서',
                    name: 'programSrtOrd',
                    align: 'center',
                    whiteSpace: 'normal',
                    // editor: 'text',
                    formatter: function(e) {
                        return e.value
                    }
                },
            ],
            bodyHeight: 500,
            rowHeaders: ['rowNum']
        });
    }

    const searchMenuGrid = (param) => {
        let params = {
            menuNm : $("#first-name").val()
        };

        $.ajax({
            url: apiUrl + "/hierarchy",
            data:params,
            type: 'GET',
            success: (result) => {
                menuGrid.resetData(result);
            }
        });
    }

    const searchPgmGrid = (params) => {
        if (!isNull(params) && !isNull(params.menuUpId)) {
            let param = {
                menuId : params.menuId
            };
    
            $.ajax({
                url: apiPgmUrl + "/rel/menu",
                data: param,
                method: 'GET',
                success: (result) => {
                    programGrid.resetData(result);
                }
            });
        }
    }

    const fn_savePgmGrid = () => {
        let modifiedData = programGrid.getModifiedRows();
        const createdData = modifiedData.createdRows;
        const createdLength = !isNull(createdData.length) ? createdData.length : 0;

        const result = confirm("총 " + createdLength + "건의 데이터를 저장하시겠습니까?");

        const menuFocusedCell = menuGrid.getFocusedCell();
        const menuData =  menuGrid.getRow(menuFocusedCell.rowKey);

        let params = [];
        for (let i = 0; i < createdData.length; i++) {
            createdData[i].rowStatus = 'C';
            createdData[i].menuId = menuData.menuId;
            params.push(createdData[i]);
        }

        if (result) {
            $.ajax({
                url: apiPgmUrl + "/rel/menu",
                data: JSON.stringify(params),
                contentType:'application/json',
                type: 'POST',
                success: (result) => {
                    if (result > 0) {
                        alert("저장이 완료되었습니다.");
                        searchPgmGrid(menuData);
                    } else {
                        alert("저장에 실패하였습니다");
                        searchPgmGrid(menuData);
                    }
                },
                error: (xhr, status, error) => {
                    alert(xhr.responseText);
                    searchPgmGrid(menuData);
                }
            })
        }
    }

    const fn_deletePgmGrid = () => {
        const params = programGrid.getCheckedRows();
        if (params.length === 0) {
            alert("삭제할 행을 선택해주세요.");
            return;
        }

        const menuFocusedCell = menuGrid.getFocusedCell();
        const menuData =  menuGrid.getRow(menuFocusedCell.rowKey);

        const confirmResult = confirm("총 " + params.length + "개 행의 데이터를 삭제하시겠습니까?");
        if (confirmResult) {
            $.ajax({
                url: apiPgmUrl + "/rel/menu",
                data: JSON.stringify(params),
                contentType:'application/json',
                type: 'DELETE',
                success: (result) => {
                    if (result > 0) {
                        alert("삭제가 완료되었습니다.");
                        searchPgmGrid(menuData);
                    } else {
                        alert("삭제에 실패하였습니다.");
                        searchPgmGrid(menuData);
                    }
                },
                error: (result) => {
                    alert("삭제에 실패하였습니다.");
                }
            })
        }
    }

    const fn_appendMenuGrid = () => {
        const upMenuFocusedCell = upMenuGrid.getFocusedCell();
        const upMenuGridData = upMenuGrid.getRow(upMenuFocusedCell.rowKey);
        console.log("##upMenuGridData ##", upMenuGridData.menuId);

        const rowData = {menuNm: "", menuId: "", menuSrtOrd: "", menuUpId: upMenuGridData.menuId};
                
        menuGrid.appendRow(rowData, {});
    }

    const fn_saveMenuGrid = () => {
        const upMenuFocusedCell = upMenuGrid.getFocusedCell();
        const upMenuFocusData = upMenuGrid.getRow(upMenuFocusedCell.rowKey);

        let modifiedData = menuGrid.getModifiedRows();
        const createdData = modifiedData.createdRows;
        const updatedData = modifiedData.updatedRows;

        const createdLength = !isNull(createdData.length) ? createdData.length : 0;
        const updatedLength = !isNull(updatedData.length) ? updatedData.length : 0;

        const result = confirm("총 " + (createdLength + updatedLength) + "건의 데이터를 저장하시겠습니까?");

        let params = [];
        for (let i = 0; i < createdData.length; i++) {
            createdData[i].rowStatus = 'C';
            params.push(createdData[i]);
        }

        for (let i = 0; i < updatedData.length; i++) {
            updatedData[i].rowStatus = 'U';
            params.push(updatedData[i]);
        }

        if (result) {
            $.ajax({
                url: apiUrl + "/list",
                data: JSON.stringify(params),
                contentType:'application/json',
                type: 'POST',
                success: (result) => {
                    if (result > 0) {
                        alert("저장이 완료되었습니다.");
                        searchMenuGrid(upMenuFocusData);
                    } else {
                        alert("저장에 실패하였습니다.");
                        searchMenuGrid(upMenuFocusData);
                    }
                }
            })
        }
    }

    const fn_deleteMenuGrid = () => {
        const upMenuFocusedCell = upMenuGrid.getFocusedCell();
        const upMenuFocusData = upMenuGrid.getRow(upMenuFocusedCell.rowKey);

        const focusedCell = menuGrid.getFocusedCell();
        if (isNull(focusedCell)) {
            alert("삭제할 행을 선택해주세요.");
            return;
        }

        const confirmResult = confirm("선택한 행의 데이터를 삭제하시겠습니까?");
        if (confirmResult) {
            const focusRow = menuGrid.getRow(focusedCell.rowKey);
            let params = {
                menuId : focusRow.menuId
            }
            $.ajax({
                url: apiUrl + "/list",
                data: JSON.stringify(params),
                contentType:'application/json',
                type: 'DELETE',
                success: (result) => {
                    if (result > 0) {
                        alert("삭제가 완료되었습니다.");
                        searchMenuGrid(upMenuFocusData);
                    } else {
                        alert("삭제에 실패하였습니다.");
                        searchMenuGrid(upMenuFocusData);
                    }
                }
            })
        }
    }
    })();
</script>
</th:block>

<!--</html>-->